// Color Variables
$white: #ffffff;
$black: #000;
$red: red;

// Set Wells Page
$section-border-color: rgba(0,0,0,0.16);
$cell-border-color: #707070;
$well-type-color: #000B60;
$well-number-color: #BFBFBF;
$text-cursor-color: #00CEFF;
$link-text-color: #DF2025;
$minimap-color: #676767;
