<div class="text-center">
	<p>Your experiment is running. Please do not open the</p>
	<p>hardware unless instructed to here.

		<p class="note" ng-show="state === 'running'">
			Estimated remaining time <b>{{ timeRemaining | secondsDisplay: 'display2'}}</b>
		</p>

</div>



<!--  <div class="text-center">
    <p class="wait">PLEASE WAIT:</p>
    <p class="heating" ng-show="state === 'lid_heating'">
      The lid is heating to <b>{{experiment.protocol.lid_temperature | round: 1}}&deg;</b>C <br>
    </p>
    <p class="note" ng-show="state === 'lid_heating'">
      This will take about one minute
    </p>
    <p class="heating" ng-show="state === 'running'">
      Warming the instrument at <b>{{getBlockHeat() | round: 1}}&deg;</b>C <br>
    </p>

    <p class="dont-open">
      Please don't open the machine during this step.
    </p>

  </div>
</div>-->
