		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<h4>Two Kits:</h4>
			<h4>LP Screening</h4>
			<p>[Welcome, we will help you walk through the setup process]</p>
			<p> You'll need:</p> <br/>
			<p> Consumables </p>
			<table>
				<tr>
					<td>100</td>
					<td>200</td>
					<td>300</td>
					<td>300</td>
				</tr>
				<tr>
					<td>400</td>
					<td>500</td>
					<td>600</td>
					<td>300</td>
				</tr>
				<tr>
					<td>100</td>
					<td>200</td>
					<td>300</td>
					<td>300</td>
				</tr>
				<tr>
					<td>100</td>
					<td>200</td>
					<td>300</td>
					<td>300</td>
				</tr>
			</table>

			<div class="text-center">

		    <button ng-show="!cancel" ng-disabled="error" ng-class="{errorButton: error}" ng-click="createExperiment()">CONTINUE</button>

		  </div>

		</div>
