<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 review">
	<h3>Setup complete. Please review your targets and start your experiment when ready.</h3>

	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top:15px;">
		<h4>{{target.name}}</h4>
		<table>
			<tr>
				<td class="td-well">Well Name</td>
				<td>Reaction Type</td>
				<td>Volume</td>
			</tr>
			<tr ng-repeat="x in samples track by $index">
				<td>
					<span>A{{$index+1}}. {{x.name | truncate:20}}</span>
				</td>
				<td class="td-rxn" ng-if="$index == 0"><img style="width:20px" src="/images/dynexp/pika-test/Plus.svg"></td>
				<td class="td-rxn" ng-if="$index == 1"><img style="width:20px" src="/images/dynexp/pika-test/Minus.svg"></td>
				<td ng-show="x" class="td-rxn" ng-if="$index > 1"><img style="width:20px" src="/images/dynexp/pika-test/Sample.svg"></td>
				<td ng-show="x">30 &mu;L</td>
			</tr>
		</table>
	</div>
	<div ng-show="!twoKits" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top:15px;">
		<h4 style="visibility:hidden">{{target.name}}</h4>
		<table>
			<tr>
				<td class="td-well">Well Name</td>
				<td>Reaction Type</td>
				<td>Volume</td>
			</tr>
			<tr ng-repeat="x in samples_B track by $index">
				<td>
					<span>B{{$index+1}}. {{x.name | truncate:20}}</span>
				</td>
				<td ng-show="x" class="td-rxn"><img style="width:20px" src="/images/dynexp/pika-test/Sample.svg"></td>
				<td ng-show="x">30 &mu;L</td>
			</tr>
		</table>
	</div>
	<div ng-show="twoKits" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-top:15px;">
		<h4>{{target2.name}}</h4>
		<table>
			<tr>
				<td class="td-well">Well Name</td>
				<td>Reaction Type</td>
				<td>Volume</td>
			</tr>
			<tr ng-repeat="x in samples_B track by $index">
				<td>
					<span>B{{$index+1}}. {{x.name | truncate:20}}</span>
				</td>
				<td class="td-rxn" ng-if="$index == 0"><img style="width:20px" src="/images/dynexp/pika-test/Plus.svg"></td>
				<td class="td-rxn" ng-if="$index == 1"><img style="width:20px" src="/images/dynexp/pika-test/Minus.svg"></td>
				<td ng-show="x" class="td-rxn" ng-if="$index > 1"><img style="width:20px" src="/images/dynexp/pika-test/Sample.svg"></td>
				<td ng-show="x">30 &mu;L</td>
			</tr>
		</table>
	</div>
</div>
<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">

	<button ng-click="goBackToB()">Back</button>
	<button ng-disabled="error" ng-class="{errorButton: error}" ng-click="startExperiment()">Start Experiment</button>
	<br>
	<span ng-show="error">{{lidMessage}}</span>

</div>
