<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 setwells" >
	<h3>Pippette Samples Into B Wells</h3>
	<!--<p>[Instruction and notes]</p> -->

	<table>
		<tr>
			<td class="well-name">Well Name</td>
			<td class="rxn-type rxn-center">Reaction Type</td>
			<td class="notes rxn-center">Notes</td>
		</tr>
		<tr ng-repeat="x in samples_B track by $index">
			<td ng-if="twoKits && $index < 2" class="posneg">B{{$index+1}}. {{x.name}}</td>
			<td ng-if="!twoKits || (twoKits && $index > 1)">
				<span>B{{$index+1}}.</span>
				<input type="text" ng-class="{'empty-input':!x.name}" placeholder="Enter Name Here" class="exp-name H1" required ng-model="x.name"  ng-blur="updateWellB($index, x)"
				my-enter="updateWellB($index, x)" focus-on="editExpNameMode">
			</td>
			<td class="rxn-center" ng-if="twoKits && $index == 0"><img style="width:20px" src="/images/dynexp/pika-test/Plus-Blue.svg"></td>
			<td class="rxn-center" ng-if="twoKits && $index == 1"><img style="width:20px" src="/images/dynexp/pika-test/Minus-Blue.svg"></td>
			<td ng-show="x.name" class="rxn-center"  ng-if="!twoKits || $index > 1"><img style="width:20px" src="/images/dynexp/pika-test/Sample-Blue.svg"></td>
			<td ng-show="!x.name" class="rxn-center" ng-if="!twoKits ||$index > 1"><img style="width:20px" src="/images/dynexp/pika-test/Sample-Blue-Empty.svg"></td>

			<td ng-show="!x.id" class="rxn-center notes-cursor"><img style="width:20px; opacity: .5;" src="/images/dynexp/pika-test/comment_off.svg"></td>
			<td ng-show="x.id && x.notes" ng-click="openNotes($index, x)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_on.svg"></td>
			<td ng-show="x.id && !x.notes" ng-click="openNotes($index, x)" class="rxn-center notes-cursor"><img style="width:20px;" src="/images/dynexp/pika-test/comment_off.svg"></td>
		</tr>
	</table>
</div>

	<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<button ng-click="goBackToA()">Back</button>
		<button ng-click="review()">Continue</button>
		<img style="width:120px" src="/images/dynexp/pika-test/Pika-Weihenstephan-Logo.png">

	</div>
