<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 setwells" >
	<h3>Pippette Samples Into B Wells</h3>
	<!--<p>[Instruction and notes]</p> -->

	<table>
		<tr>
			<td class="well-name">Well Name</td>
			<td class="rxn-type rxn-center">Reaction Type</td>
			<td class="notes rxn-center">Notes</td>
		</tr>
		<tr ng-show="twoKits">
			<td class="posneg">B1. Positive Control</td>
			<td class="rxn-center"><img style="width:20px" src="/images/dynexp/pika-test/Plus-Blue.svg"></td>
			<td ng-show="notes[8]" ng-click="openNotes(8)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_on.svg"></td>
			<td ng-show="!notes[8]" ng-click="openNotes(8)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_off.svg"></td>
		</tr>
		<tr ng-show="twoKits">
			<td class="posneg">B2. Negative Control</td>
			<td class="rxn-center"><img style="width:20px" src="/images/dynexp/pika-test/Minus-Blue.svg"></td>
			<td ng-show="notes[9]" ng-click="openNotes(9)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_on.svg"></td>
			<td ng-show="!notes[9]" ng-click="openNotes(9)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_off.svg"></td>
		</tr>
		<tr ng-show="!twoKits" ng-repeat="x in samples_B track by $index">
			<td>
				<span>B{{$index+1}}.</span>
				<input type="text" ng-class="{'empty-input':!x.name}" placeholder="Enter Name Here" class="exp-name H1" required ng-model="x.name"  ng-blur="updateWellB($index+9,x)"
				my-enter="updateWellB($index+9,x)" focus-on="editExpNameMode">
			</td>
			<td ng-show="x" class="rxn-center"><img style="width:20px" src="/images/dynexp/pika-test/Sample-Blue.svg"></td>
			<td ng-show="!x" class="rxn-center"><img style="width:20px" src="/images/dynexp/pika-test/Sample-Blue-Empty.svg"></td>
			<td ng-show="notes[$index+8]" ng-click="openNotes($index+8)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_on.svg"></td>
			<td ng-show="!notes[$index+8]" ng-click="openNotes($index+8)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_off.svg"></td>
		</tr>
		<tr ng-show="twoKits" ng-repeat="x in samples_B track by $index">
			<td>
				<span>B{{$index+3}}.</span>
				<input type="text" ng-class="{'empty-input':!x.name}" placeholder="Enter Name Here" class="exp-name H1" required ng-model="x.name"  ng-blur="updateWellB($index+11,x)"
				my-enter="updateWellB($index+11,x)" focus-on="editExpNameMode">
			</td>
			<td ng-show="x.name" class="rxn-center"><img style="width:20px" src="/images/dynexp/pika-test/Sample-Blue.svg"></td>
			<td ng-show="!x.name" class="rxn-center"><img style="width:20px" src="/images/dynexp/pika-test/Sample-Blue-Empty.svg"></td>
			<td ng-show="notes[$index+10]" ng-click="openNotes($index+10)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_on.svg"></td>
			<td ng-show="!notes[$index+10]" ng-click="openNotes($index+10)" class="rxn-center notes-cursor"><img style="width:20px" src="/images/dynexp/pika-test/comment_off.svg"></td>
		</tr>
	</table>
</div>

	<div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<button ng-click="goBackToA()">Back</button>
		<button ng-click="review()">Continue</button>
		<img style="width:120px" src="/images/dynexp/pika-test/Pika-Weihenstephan-Logo.png">

	</div>
