<!DOCTYPE html>
<html ng-app="ChaiBioTech">
<head>
  <title>ChaiPCR</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application-dadd6a26a807b399ed1f.css" media="all">
  <!-- <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>    -->
  <script type="text/javascript" src="/javascripts/application-9c5d08cb611030c9a205.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
