<!DOCTYPE html>
<html ng-app="ChaiBioTech">
<head>
  <title>ChaiPCR</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application-2792d3456b544bf48e17.css" media="all">
  <script type="text/javascript" src="/javascripts/application-6d5758bb5a487e960876.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
