<!DOCTYPE html>
<html>
<head>
  <title ng-bind="pageTitle || 'ChaiPCR'"></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application-0cd6f382ef7c788d270d182f6fb00d.css" media="all">
  <script type="text/javascript" src="/javascripts/application-b7e8229b6ff270bba3f527526aa71d.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
