<!DOCTYPE html>
<html>
<head>
  <title ng-bind="pageTitle || 'ChaiPCR'"></title>
  <meta charset="utf-8">
<<<<<<< Updated upstream
  <link rel="stylesheet" href="/stylesheets/application-debug.css" media="all">
  <link rel="shortcut icon" href="favicon.ico?v=4" />
  <script type="text/javascript" src="/javascripts/application-debug.js"></script>
=======
  <link rel="stylesheet" href="/stylesheets/application-b93c9d97c533805600aefd62d276a4.css" media="all">
  <link rel="shortcut icon" href="favicon.ico?v=4" />
  <script type="text/javascript" src="/javascripts/application-11efedb6cbc419bdbd2df55f4ffc56.js"></script>
>>>>>>> Stashed changes
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
