<!DOCTYPE html>
<html>
<head>
  <title ng-bind="pageTitle || 'ChaiPCR'"></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application-1338a345fdfe0f25fca9877e1f6598.css" media="all">
  <link rel="shortcut icon" href="favicon.ico?v=4" />
  <script type="text/javascript" src="/javascripts/application-467a839dc23c82cf94289ba2def79d.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
