<!DOCTYPE html>
<html>
<head>
  <title ng-bind="pageTitle || 'Open qPCR | Chai'"></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="/stylesheets/application-debug.css" media="all">
  <link rel="shortcut icon" href="favicon.ico?v=4" />
  <script type="text/javascript" src="/javascripts/application-debug.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="chai-mode">
    <%= yield %>
</body>
</html>
