<!DOCTYPE html>
<html>
<head>
  <title ng-bind="pageTitle || 'ChaiPCR'"></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application-2483cb9e691a63da23518d0679b734.css" media="all">
  <link rel="shortcut icon" href="favicon.ico?v=4" />
  <script type="text/javascript" src="/javascripts/application-d1d1f0427f1881298607344fa19e11.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
