<!DOCTYPE html>
<html>
<head>
  <title>ChaiPCR</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if params[:controller] != "main" || params[:action] != "index" %>
<div id="header" class="blue-scheme">
	<div class="clearfix">
	<div id="logo">
		qPCR
	</div>
	<ul id="menu">
		<li><a href="#">Load Diagnostic Kit</a></li>
		<li><a href="#">Self-Test</a></li>
		<li><a href="#">Help</a></li>
	</ul>
	</div>
</div>
<% end %>

<div id="container">
		
		<%= yield %>
	
</div>

</body>
</html