<!DOCTYPE html>
<html>
<head>
  <title ng-bind="pageTitle || 'ChaiPCR'"></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application-d9a418fb3cfef17f8a0f45440249d6.css" media="all">
  <link rel="shortcut icon" href="favicon.ico?v=4" />
  <script type="text/javascript" src="/javascripts/application-43420df970d04c3051f4331da6f843.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
