<!DOCTYPE html>
<html>
<head>
  <title ng-bind="pageTitle || 'ChaiPCR'"></title>
  <meta charset="utf-8">
<!--   <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="/stylesheets/application-2f1f099684e08cbe1b7b870bc442ea.css" media="all">
  <link rel="shortcut icon" href="favicon.ico?v=4" />
  <script type="text/javascript" src="/javascripts/application-5a81e7fa58f0697a6027cf1603540c.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
