<!DOCTYPE html>
<html ng-app="ChaiBioTech">
<head>
  <title>ChaiPCR</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application-b0043ee0c74617a1efd0.css" media="all">
  <!-- <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>    -->
  <script type="text/javascript" src="/javascripts/application-f7bf3b7af4d2b228cd83.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
