<!DOCTYPE html>
<html>
<head>
  <title ng-bind="pageTitle || 'ChaiPCR'"></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/application-d6fe90bd65dc122a2162e4c9018bb3.css" media="all">
  <link rel="shortcut icon" href="favicon.ico?v=4" />
  <script type="text/javascript" src="/javascripts/application-3e3adea36b39da56a9d0df51049477.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container" class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
