@import "../variables.scss";

  // Header Exp Status Style
.chai-mode{
  .modal-error-window{
    .modal-dialog{
      position: absolute;
      right: 0;
      top: 60px;
      width: 360px;
      margin: 0;

      .modal-content{
        border-color: #333;
        border-radius: 0 0 2px 2px;
        padding: 20px 20px 10px;
      }
    }

    .close-wrapper .close{
      float: right;
      color: #fff;
      margin-right: -10px;
      margin-top: -10px;
      font-weight: lighter;
      width: 12px;
      height: 12px;
      display: block;

      img{
        display: block;
      }
    }
  }

  .header-exp-status{
    &.standard-exp{
      .header-bar{
        background: $dark-gray;
        &.in-progress {
          background: -moz-linear-gradient(left, #64b027 0%, #c6e35f 46%, #5d8329 46%, #5d8329 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #64b027 0%, #c6e35f 46%, #5d8329 46%, #5d8329 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #64b027 0%, #c6e35f 46%, #5d8329 46%, #5d8329 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
        &.complete {
          background-image: url('/images/header-complete.png');
        }      
      }
    }
    .header-bar{
      background: $black;
      height: 60px;
      width: 100%;

      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      color: $white;

      .left-content{
        display: flex;
        height: 60px;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;

        .exp-name{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }        
      }

      .right-content{
        display: flex;
        height: 60px;
        justify-content: flex-start;
        align-items: center;
        opacity: 0;

        .button-header{
          background: $black;
          border: 1px solid;
          border-radius: 2px;
          padding: 3px 10px 5px;
          text-align: center;
          cursor: pointer;
          outline: none;
        }

        .button-he{
          background: #8dc63f;
          border: 1px solid;
          border-radius: 2px;
          padding: 3px 0 5px;
          width: 175px;
          text-align: center;
          cursor: pointer;
        }
      }

      .failed{
        background-color: $link-text-color;
        color: $white;
        margin-right: 10px;
        padding: 2px 5px;
      }

      &.in-progress {
        background: -moz-linear-gradient(left, #64b027 0%, #c6e35f 46%, #5d8329 46%, #5d8329 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #64b027 0%, #c6e35f 46%, #5d8329 46%, #5d8329 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #64b027 0%, #c6e35f 46%, #5d8329 46%, #5d8329 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }
      &.complete {
        background-image: url('/images/header-complete.png');
        background-size: auto 100%;
      }      
    }

    .home-link{
      height: 30px;
      border: 1px solid $white;
      border-radius: 2px;
      color: $white;
      margin-right: 20px;
      line-height: 26px;
      padding: 0 10px 0 5px;
      cursor: pointer;
      width: 152px;

      img{
        height: 24px;
        width: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px;
      }
    }

    .stripes{
      cursor: context-menu;
      margin-right: 20px;
      img{
        width: 31px;
      }
    }
  }
}