<div class="step-5">
  <h2 class="text-center" style="margin-top: 30px;">Data Collection</h2>

  <div class="machine-icon">
    <img src="./images/machine-idle.png">
    <img src="./images/spinner-green.png" class="image-rotate">
  </div>

  <div class="text-center">
    <p class="wait">OPTICAL TEST IS NEARLY COMPLETE:</p>
    <p class="note">
      <span ng-show="timeRemaining">Less than {{timeRemaining | secondsDisplay: 'display4'}} remaining</span>
    </p>
    <p class="dont-open">
      Please don't open the machine during this step.
    </p>

  </div>
</div>