*.pro.user
debug
release
Makefile
Makefile.*
*.Debug
*.Release
.DS_Store
*.autosave
*.o
*.exe
*.stackdump
*-build-desktop-*
*.dylib
*.db
*.dll
*.lib
cache
*.pdb
*build-*
*.sys
*.pdb
*.inf
*.suo
*.sdf
*.vcxproj.user
*.opensdf
*.obj
*.log
*.tlog
*.swp
Debug
/.idea/
.editorconfig
/node_modules/
/.tmp/
/web/public/fonts/
/web/public/images/
/web/public/javascripts/**/*.js
/web/public/stylesheets/**/*.css
/web/public/experiments/
build/*
/uploads/
capabilities
frontend/tests/coverage
frontend/tests/reports
web/public/dynexp/outputs
realtime/realtime.pro.user.*
