/dts-v1/;
/plugin/;

/{
	compatible = "ti,beaglebone", "ti,beaglebone-black";
	part-number = "chai-pcr";
	version = "00A0";
	
	/* state the resources this cape uses */
    exclusive-use =
		/* the pin header uses */
		"P9.14",                /* pwm: ehrpwm1A */
		"P8.13",                /* pwm: ehrpwm2B */
		"P9.11",				/* gpio: LED POT CS */
		"P9.12",				/* gpio: LED XLAT */
		"P8.07",				/* gpio: block thermistor 1 CS */
		"P8.08",				/* gpio: spi0 data in ready sense */
		"P8.26",				//gpio: lid open/close sense
		
		//fan
		"P9.16",				//fan PWM
		
		/* the hardware IP uses */
		"ehrpwm1A",
		"ehrpwm1B", 			//fan PWM
		"ehrpwm2B";
                
	/* from am3xx_pwm */
    fragment@0 {
            target = <&epwmss0>;
            __overlay__ {
                    status = "okay";
            };
    };

    fragment@1 {
            target = <&ehrpwm0>;
            __overlay__ {
                    status = "okay";
            };
    };

    fragment@2 {
            target = <&ecap0>;
            __overlay__ {
                    status = "okay";
            };
    };

    fragment@3 {
            target = <&epwmss1>;
            __overlay__ {
                    status = "okay";
            };
    };

    fragment@4 {
            target = <&ehrpwm1>;
            __overlay__ {
                    status = "okay";
            };
    };

    fragment@5 {
            target = <&epwmss2>;
            __overlay__ {
                    status = "okay";
            };
    };

    fragment@6 {
            target = <&ehrpwm2>;
            __overlay__ {
                    status = "okay";
            };
    };

    fragment@7 {
           target = <&ecap2>;
            __overlay__ {
                    status = "okay";
            };
    };
    
    fragment@10 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            spi0_pins_s0: spi0_pins_s0 {
                pinctrl-single,pins = <
                  0x150 0x30  /* spi0_sclk, INPUT_PULLUP | MODE0 */
                  0x154 0x30  /* spi0_d0, INPUT_PULLUP | MODE0 */
                  0x158 0x10  /* spi0_d1, OUTPUT_PULLUP | MODE0 */
                  0x15c 0x10  /* spi0_cs0, OUTPUT_PULLUP | MODE0 */
                >;
            };
            gpio_pins: gpio_pins {
            	pinctrl-single,pins = <
            		0x070 0x07      /* P9 11 GPIO0_30 | MODE7 | OUTPUT */
            		0x078 0x07      /* P9 12 GPIO1_28 | MODE7 | OUTPUT */
            		0x090 0x07		/* P8 07 GPIO2_2 | MODE7 | OUTPUT */
            		0x094 0x3F		/* P8 08 GPIO2_3 | MODE7 | INPUT - no pull */
					0x07C 0x3F		/* P8 26 GPIO1_29 | MODE7 | INPUT - no pull */
            	>;
           	};
        };
    };
    
    /* PWM P9_14 */
    fragment@20 {
            target = <&am33xx_pinmux>;
            __overlay__ {
                    pwm_P9_14: pinmux_pwm_P9_14_pins {
                            pinctrl-single,pins = <0x048  0x6>; /* P9_14 (ZCZ ball U14) | MODE 6 */
                    };
					
					pwm_P9_16: pinmux_pwm_P9_16_pins {
							pinctrl-single,pins = <0x04C 0x6>; //ehrpwm1B_mux1
					};
            };
    };

    fragment@21 {
            target = <&ocp>;
            __overlay__ {
                    pwm_test_P9_14 {
                            compatible      = "pwm_test";
                            pwms            = <&ehrpwm1 0 500000 1>;
                            pwm-names       = "PWM_P9_14";
                        pinctrl-names       = "default";
                        pinctrl-0   = <&pwm_P9_14>;
                            enabled         = <1>;
                            duty            = <0>;
                            status          = "okay";
                    };
					
                    pwm_test_P9_16 {
                            compatible      = "pwm_test";
                            pwms            = <&ehrpwm1 1 500000 1>;
                            pwm-names       = "PWM_P9_16";
                        pinctrl-names       = "default";
                        pinctrl-0   = <&pwm_P9_16>;
                            enabled         = <1>;
                            duty            = <0>;
                            status          = "okay";
                    };
            };
    };
    
    /* PWM P8_13 */
    fragment@22 {
    	target = <&am33xx_pinmux>;
    	__overlay__ {
    		pwm_P8_13: pinmux_pwm_P8_13_pins {
    			pinctrl-single,pins = <0x024  0x4>; /* P8_13 (ZCZ ball T10) | MODE 4 */
    		};
    	};
    };

    fragment@23 {
    	target = <&ocp>;
    	__overlay__ {
    		pwm_test_P8_13 {
    			compatible	= "pwm_test";
    			pwms 		= <&ehrpwm2 1 500000 1>;
    			pwm-names 	= "PWM_P8_13";

    			pinctrl-names	= "default";
    			pinctrl-0	= <&pwm_P8_13>;

    			enabled		= <1>;
    			duty		= <0>;
    			status 		= "okay";
    		};
    	};
    };

	/* SPI0 */
	fragment@30 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_pins_s0>;

			spidev@0 {
				spi-max-frequency = <24000000>;
				reg = <0>;
				compatible = "spidev";
			};
			spidev@1 {
				spi-max-frequency = <24000000>;
				reg = <1>;
				compatible = "spidev";
			};            
        };
    };
    
	fragment@40 {
		target = <&ocp>;
		__overlay__ {
			test_helper: helper {
				compatible = "bone-pinmux-helper";
				pinctrl-names = "default";
				pinctrl-0 = <&gpio_pins>;
				status = "okay";
			};
		};
	};
};