<div class="network-connection">
  <div class="two-col connection-list">
    <div class="sm-switch lan-switch mb-15">
      <div class="check-symbol" ng-class="{'active': ethernetSettings.settings}">
        <img src="/images/WhiteCheckGreenRing.svg">
      </div>
      <label class="CX5-M" style="cursor: pointer;">Ethernet</label>
      <button class="ci-btn-light CG1" ng-click="onSelectNetwork('ethernet')" ng-class="{'active' : name == 'ethernet'}">Edit Settings</button>
    </div>
    <div class="wan-options">
      <div class="sm-switch wifi-switch">
        <switch ng-model="wifiNetworkStatus" disabled="wirelessError"></switch>
        <div class="check-symbol" ng-class="{'active': currentWifiSettings.state && currentWifiSettings.state.status == 'connected'}">
          <img src="/images/WhiteCheckGreenRing.svg">
        </div>
      </div>
      <div class="view-mode-switch" ng-click="onChangeWanOption()">
        <div class="switch-item CX5" ng-class="{'active': wanOption=='wifi'}">Connect to WiFi</div>
        <div class="switch-item CX5" ng-class="{'active': wanOption=='hotspot'}">Activate Hotspot</div>
      </div>
    </div>
    <div class="wifi-section" ng-show="wanOption=='wifi'">
      <span class="CX5 ml-40" ng-if="wirelessError">No wifi adapter</span>
      <div class="ml-40" ng-if="!wifiNetworks[0] && wifiNetworkStatus===true">
        <ellipsis-animated><ellipsis-animated/>
      </div>
      <ul class="CX5-M">
        <li ng-repeat="wifiNetwork in wifiNetworks" ng-click="onSelectNetwork(wifiNetwork.ssid)" ng-class="{selected: selectedWifiNow.ssid == wifiNetwork.ssid}">
          <wifi-check-symbol current-network="currentWifiSettings" ssid="{{wifiNetwork.ssid}}"></wifi-check-symbol>
          <div class="wifi-info">
            <span>{{wifiNetwork.ssid | truncate:20}}</span>
            <div class="wifi-props">
              <wifi-signal ssid="{{wifiNetwork.ssid | spaceToUnderscore}}" quality="{{wifiNetwork.quality}}"></wifi-signal>          
              <wifi-lock encryption="{{wifiNetwork.encryption}}" ssid="{{wifiNetwork.ssid | spaceToUnderscore}}"></wifi-lock>
            </div>
          </div>
        </li>
      </ul>
      <div class="wan-backdrop" ng-if="IamConnected && name=='ethernet'"></div>
    </div>
    <div class="hotspot-section" ng-show="wanOption=='hotspot'">
      <div class="hotspot-form">
        <label class="CX5 mb-15">
          {{isHotspotActive ? 'Deactivate hotspot to edit details' : 'Set hotspot details'}}
        </label>
        <modal-input-field caption="Network Name" class="mb-20" error="hotspotErrors.ssid">
          <input type="text" class="CX5-M" ng-model="hotspotInfo.ssid" placeholder="Network Name" autocomplete="network name" ng-readonly="isHotspotActive">
        </modal-input-field>
        <modal-input-field caption="Password" class="mb-20" error="hotspotErrors.password" label="Must be at least 8 characters" type="password" is-show="hotspotShowPassword">
          <input type="password" class="CX5-M" ng-model="hotspotInfo.password" placeholder="Password" autocomplete="password" ng-readonly="isHotspotActive" ng-if="!hotspotShowPassword">
          <input type="text" class="CX5-M" ng-model="hotspotInfo.password" placeholder="Password" autocomplete="password" ng-readonly="isHotspotActive" ng-if="hotspotShowPassword">
        </modal-input-field>
        <div class="hotspot-status" ng-show="isHotspotActive">
          <span class="CX5">Hotspot status:</span>
          <label class="status-icon"></label>
          <span class="CX5-M">Active</span>
        </div>
        <div class="button-group">
          <button class="ci-btn-light CX5 mr-20" ng-click="onHotspotClick()">
            {{isHotspotActive ? 'Deactivate Hotspot' : 'Activate Hotspot'}}
          </button>
        </div>
      </div>
      <div class="wan-backdrop" ng-if="IamConnected && name=='ethernet'"></div>
    </div>
  </div>
  <div class="two-col" ng-show="wanOption == 'wifi' || name=='ethernet'">
    <h5 class="CX5-M sub-title mb-10">{{name=='ethernet' ? 'Ethernet ' : name + ' '}}Network Details</h5>
    <span class="CX5" ng-if="!name">Please select a network</span>
    <form ng-if="!IamConnected && name">
      <label class="CX5 mb-15" ng-if="wifiNetworkType !='none'">Password required</label>
      <modal-input-field caption="SSID" class="mb-20">
        <input type="text" class="CX5-M" ng-model="name" placeholder="SSID" autocomplete="ssid" readonly>
      </modal-input-field>

      <modal-input-field caption="User Name" class="mb-20" ng-show="wifiNetworkType == 'wpa2 802.1x' || wifiNetworkType == 'wpa1 802.1x'" error="errors.wifi_ssid">
        <input type="text" class="CX5-M" autocomplete="ssid" autofocus placeholder="{{name}} User Name" ng-model="credentials['wpa-identity']">
      </modal-input-field>

      <modal-input-field caption="Password" class="mb-20" ng-show="wifiNetworkType=='wpa2 802.1x' || wifiNetworkType=='wpa1 802.1x'" error="errors.wifi_password">
        <input type="password" class="CX5-M" placeholder="{{name}} Password" ng-model="credentials['wpa-password']" autocomplete="password" ng-readonly="buttonValue=='Connecting'">
      </modal-input-field>

      <modal-input-field caption="Password" class="mb-20" ng-show="wifiNetworkType=='wpa2 psk' || wifiNetworkType=='wpa1 psk'" error="errors.wifi_password">
        <input type="password" class="CX5-M" placeholder="{{name}} Password" ng-model="credentials['wpa-psk']" autocomplete="password" ng-readonly="buttonValue=='Connecting'">
      </modal-input-field>

      <modal-input-field caption="Password" class="mb-20" ng-show="wifiNetworkType=='wep'" error="errors.wifi_password">
        <input type="password" class="CX5-M" placeholder="{{name}} Password" ng-model="credentials['wireless_key']" autocomplete="password" ng-readonly="buttonValue=='Connecting'">
      </modal-input-field>

      <label class="CX5 mb-15 error" ng-if="statusMessage">{{statusMessage}}</label>

      <div class="button-group">
        <button class="ci-btn-light CX5 mr-20" ng-if="wifiNetworkType" ng-click="connectWifi()" ng-class="{'disabled': buttonValue=='Connecting'}">
          {{buttonValue}}<ellipsis-animated ng-if="buttonValue=='Connecting'"></ellipsis-animated>
        </button>
      </div>
    </form>

    <form ng-if="IamConnected && name=='ethernet'" style="width: 250px;">
      <div class="sm-switch mb-15">
        <switch ng-model="autoSetting"></switch>
        <label class="CX5-M ml-10">Set Automatically</label>
      </div>

      <modal-input-field caption="MAC Address" class="mb-20">
        <input type="text" class="CX5-M" ng-model="ethernetSettings.state.macAddress" placeholder="MAC Address" autocomplete="mac-address" readonly>
      </modal-input-field>
      <modal-input-field caption="IP Address" class="mb-20" ng-show="autoSetting">
        <input type="text" class="CX5-M" ng-model="editEthernetData.address" placeholder="IP Address" autocomplete="ip-address" readonly>
      </modal-input-field>
      <modal-ip-address value="editEthernetData.address" caption="IP Address" class="mb-20" ng-show="!autoSetting" on-change="onIPFieldChange($event)"></modal-ip-address>

      <modal-input-field caption="Subnet Mask" class="mb-20" ng-show="autoSetting">
        <input type="text" class="CX5-M" ng-model="editEthernetData.maskAddress" placeholder="Subnet Mask" autocomplete="mask-address" readonly>
      </modal-input-field>
      <modal-ip-address value="editEthernetData.maskAddress" caption="Subnet Mask" class="mb-20" ng-show="!autoSetting" on-change="onIPFieldChange($event)"></modal-ip-address>

      <modal-input-field caption="Gateway IP" class="mb-20" ng-show="autoSetting">
        <input type="text" class="CX5-M" ng-model="editEthernetData.gateway" placeholder="Gateway IP" autocomplete="gateway-address" readonly>
      </modal-input-field>
      <modal-ip-address value="editEthernetData.gateway" caption="Gateway IP" class="mb-20" ng-show="!autoSetting" on-change="onIPFieldChange($event)"></modal-ip-address>

      <modal-input-field caption="DNS Server" class="mb-20" ng-show="autoSetting">
        <input type="text" class="CX5-M" ng-model="editEthernetData['dns-nameservers']" placeholder="DNS Server" autocomplete="dns-server" readonly>
      </modal-input-field>
      <modal-ip-address value="editEthernetData['dns-nameservers']" caption="DNS Server" class="mb-20" ng-show="!autoSetting" on-change="onIPFieldChange($event)"></modal-ip-address>

      <div class="button-group">
        <button class="ci-btn-light CX5 mr-10" ng-if="!autoSetting" ng-click="connectEthernet()" ng-disabled="!buttonEnabled">
          {{buttonValue}}
          <ellipsis-animated ng-if="buttonValue=='Connecting'"></ellipsis-animated>
        </button>
        <button class="ci-btn-light CX5 mr-10" ng-click="onCancel()">Cancel</button>        
      </div>
    </form>

    <form ng-if="IamConnected && name!='ethernet' && name" style="width: 250px;">
      <modal-input-field caption="IP Address" class="mb-20">
        <input type="text" class="CX5-M" ng-model="editEthernetData.address" placeholder="IP Address" autocomplete="ip-address" readonly>
      </modal-input-field>
      <modal-input-field caption="Subnet Mask" class="mb-20">
        <input type="text" class="CX5-M" ng-model="editEthernetData.maskAddress" placeholder="Subnet Mask" autocomplete="mask-address" readonly>
      </modal-input-field>
      <modal-input-field caption="DNS Server" class="mb-20">
        <input type="text" class="CX5-M" ng-model="editEthernetData.dns_nameservers" placeholder="DNS Server" autocomplete="dns-server" readonly>
      </modal-input-field>
    </form>
  </div>
</div>
