
// Experiment in progress starts here
.test-in-progress-container {
  width: 100%;
  height: 110px;
  font-size: 14px;

  .test-in-progress {

    .test-in-progress-heading {
      border-bottom: solid 2px #001827;
      font-weight: bold;
      .text-blue {
        color: #00AEEF;
      }
    }
    .test-info {
      .caption {
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 5px;

        .normal-text {
          font-weight: normal;
        }
      }

    }
    .test-progress-bar {
      margin-top: 10px;
      height: 5px;
      background-color: black;

      .pro-bar {
        background-color: #00aeef;
        height: 5px;
        width: 0px;
      }
    }
    .button-wrapper {
      padding: 15px;
    }
    .button {
      border-radius: 0px;
      display: block;
      font-weight: bold;
      padding: 3px;
      width: 100%;
      &.stop {
        background: #fff;
        border: 3px solid red;
        color: red;
      }
      &.run {
        background: #6ACC0A;
        border: none;
        color: #fff;
        padding: 6px;
      }
    }
  }
}

.sidemenu {
  .test-in-progress {
    color: #fff;
    margin: 50px;

    .test-in-progress-heading {
      border-bottom: 2px solid #fff;
    }
  }
}