<div class="action-container">
  <button ng-class="{big_button: !infiniteHoldStep, big_button_disabled: infiniteHoldStep}" id="add-step" ng-click="addStep()">ADD STEP</button>
  <button ng-class="{big_button: !infiniteHoldStage, big_button_disabled: infiniteHoldStage}" id="add-stage" ng-click="actionPopup = !actionPopup">ADD STAGE</button>

  <button class="small-button" id="delete-step" ng-click="addPause()">{{pauseAction}} PAUSE</button>
  
  <button class="small-button move-small-button" ng-class="{smallButtonEdit: editStageMode}" id="edit-stage" ng-click="editStage()">{{editStageText}}</button>

</div>
