<div class="action-container">
  <button class="big-button" id="add-step" ng-click="addStep()">ADD STEP</button>
  <button class="big-button" id="add-stage" ng-click="actionPopup = !actionPopup">ADD STAGE</button>
  <button class="big-button" id="delete-step" ng-click="deleteStep()">DELETE STEP</button>

  <button class="big-button" id="delete-step" ng-click="addPause()">{{pauseAction}} PAUSE</button>

  <div class="lol-pop" ng-show="actionPopup">
    <div class="add-stage-popup">
      <div class="tail"></div>
    </div>
    <div class="add-stage-popup-content">
      <button class="small-button" id="add-holding" ng-click="addStage('holding')">HOLDING</button>
      <button class="small-button" id="add-cycling" ng-click="addStage('cycling')">CYCLING</button>
      <button class="small-button" id="add-melt-curve" ng-click="addStage('meltcurve')">MELT CURVE</button>
    </div>
  </div>
</div>
