<div class="bottom-common-item" ng-class="{disabled: !delta, notDisabled: !delta}">
  <div class="caption-part B1"><div class="lift-for-help">{{caption}}</div></div>
  <div class="help-part">{{helpText}}</div>
  <div class="data-part H3">
    <input
      class="input-data-part"
      ng-show="pause"
      ng-readonly="!delta"
      on-enter="save()"
      ng-blur="save()"
      ng-click="editAndFocus()"
      ng-model="shown"
      ng-class="{'data-part-edit-value-ramp': ramp,'data-part-edit-value': unit&&!ramp, 'data-part-edit-value-no-unit': !unit}"
      min="0" max="100"  type="text" value="{{shown}}">
    <div ng-if="unit" ng-class="{'unit-display': temp, 'unit-display-ramp': ramp}">{{unit}}</div>
  </div>
</div>
