<div class="header-status" ng-class="{'in-progress': state && state !== 'idle' && isCurrentExp, 'complete': experiment && experiment.completed_at}" ng-style="backgroundStyle">

    <!-- begin is valid -->
  <div class="row" ng-show="experiment.id && !experiment.started_at && !experiment.completed_at && !(statusData.optics.lid_open==='true')">
    <div class="col-md-1 menu" ng-transclude>
    </div>
    <div class="col-md-7 exp-name x" title="{{experiment.name|uppercase}}">
      <div ng-show="experiment.id && experiment.name">{{expName(32)}}</div>
    </div>
    <div class="col-md-4 controls text-right">
      <button class="button-header begin" ng-click="startExperiment()">
        <b>BEGIN EXPERIMENT</b>
      </button>
    </div>
  </div>

    <!-- begin is invalid -->
  <div class="row" ng-show="!experiment.started_at && !experiment.completed_at && (statusData.optics.lid_open==='true')">
    <div class="col-md-1 menu" ng-transclude>
    </div>
    <div class="col-md-7 exp-name x" title="{{experiment.name|uppercase}}">
      <div ng-show="experiment.id && experiment.name">{{expName(32)}}</div>
    </div>
    <div class="col-md-4 controls text-right">
      <div class="message">LID IS OPEN</div>
      <button class="button-header begin disabled">
        <b>BEGIN EXPERIMENT</b>
      </button>
    </div>
  </div>

    <!-- experiment in progress -->
  <div class="row" ng-show="state !== 'idle' && isCurrentExp">
    <div class="col-md-1 menu" ng-transclude>
    </div>
    <div class="col-md-7 exp-name x" title="{{experiment.name|uppercase}}">
      <div ng-show="experiment.id && experiment.name">{{expName(32)}}</div>
    </div>
    <div class="col-md-4 controls text-right">
      <div class="message">
        in progress...
        <strong ng-show="state !== 'lid_heating'">
          {{timeRemaining | secondsDisplay: 'display2'}} remaining
        </strong>
        <strong ng-show="state === 'lid_heating'">estimating time remaining</strong>
      </div>
    </div>
  </div>

    <!-- experiment completed successfully -->
  <div class="row" ng-show="experiment.completed_at">
    <div class="col-md-1 menu" ng-transclude>
    </div>
    <div class="col-md-4 exp-name x" title="{{experiment.name|uppercase}}">
      <div ng-show="experiment.id && experiment.name">{{expName(20)}}</div>
    </div>
    <div class="col-md-7 controls text-right">
      <div class="message">
        <span ng-show="experiment.completion_status === 'success'">completed</span>
        <span ng-show="experiment.completion_status !== 'success'">
          <span class="failed">failed</span>
          <span ng-show="experiment.completion_status === 'aborted'">user cancelled</span>
          <span ng-show="experiment.completion_status !== 'aborted'">{{experiment.completion_message}}</span>
        </span>
        <strong >{{experiment.completed_at|date:'MMM. dd yyyy, hh:mm:ss'}}</strong>
      </div>
      <button class="button-header" duplicate-experiment experiment-id="experiment.id">
        <b>DUPLICATE EXPERIMENT</b>
      </button>
    </div>
  </div>

</div>
