<div class="ip-address">
  <!--<ip-field field="1"></ip-field>
  <ip-field field="2"></ip-field>
  <ip-field field="3"></ip-field>
  <ip-field field="4"></ip-field> -->
  <input ip-number class="ip-field first" type="text" min="0" max="255" required="true" ng-model="splittedIP[0]">
  <input ip-number class="ip-field second" type="text" min="0" max="255" required="true" ng-model="splittedIP[1]">
  <input ip-number class="ip-field third" type="text" min="0" max="255" required="true" ng-model="splittedIP[2]">
  <input ip-number class="ip-field fourth" type="text" min="0" max="255" required="true" ng-model="splittedIP[3]">
</div>
