<div>

  <div class="status-bar" ng-show="!show()"></div>

  <div class="status-bar" ng-show="show()">
    <span class="experiment-result" ng-show="experiment.completed_at && !is_holding" ng-class="experiment.completion_status === 'success' ? 'success' : 'failed'" ng-show="experiment.completed_at">
      <span ng-show="experiment.completion_status === 'success'">EXPERIMENT COMPLETE</span>
      <span ng-show="experiment.completion_status !== 'success'">EXPERIMENT FAILED</span>
    </span>
    <span class="completion-message" ng-show="experiment.completed_at && !is_holding">
      <span ng-show="experiment.completion_status === 'success'">COMPLETED SUCCESSFULLY</span>
      <span ng-show="experiment.completion_message">{{experiment.completion_message}}</span>
      <span ng-show="!experiment.completion_message">
        <span ng-show="experiment.completion_status === 'aborted' ">ABORTED BY THE USER</span>
        <span ng-show="experiment.completion_status !== 'aborted' && experiment.completion_status !== 'success' ">{{experiment.completion_status}}</span>
      </span>
      <span class="normal">ran {{ experiment.completed_at | amCalendar }}</span>
    </span>
    <span class="idle-state" ng-show="state === 'idle' && !experiment.started_at">
      <span ng-show="!experiment.id">NO EXPERIMENT RUNNING</span>
      <span ng-show="experiment.id && !experiment.started_at">{{experiment.name}} <span class="normal">is valid and ready to run</span></span>
    </span>
    <span class="running-info" ng-show="state !== 'idle'">
      Experiment in progress
      <span class="machine-state">
        <span class="holding">
          <span ng-show="state === 'lid_heating'">heating lid</span>
          <span ng-show="state === 'paused'">paused</span>
          <span ng-show="state === 'running'">{{thermal_state}}</span>
        </span>
      </span>
      <span class="time-remaining" ng-show="state === 'running' || is_holding">
        TIME REMAINING:
        <span ng-show="!is_holding">{{timeRemaining | secondsDisplay: 'display2'}}</span>
        <span class="holding" ng-show="is_holding">HOLDING</span>
      </span>
      <span class="temp-info" ng-show="state !== 'lid_heating'">
        BLOCK: {{status.heat_block.temperature | round: 1}}&deg;C
      </span>
      <span class="temp-info">
        LID: {{status.lid.temperature | round: 1}}&deg;C
      </span>
    </span>
    <span class="controls-container">
      <span class="control" ng-show="state === 'idle' && experiment" experiment-id="experiment.id" duplicate-experiment>DUPLICATE EXPERIMENT</span>
      <span class="control" ng-show="!experiment.started_at && experiment.id" ng-class="{'disabled': experiment.started_at}" ng-click="startExperiment()">BEGIN EXPERIMENT</span>
      <span class="control" ng-show="state === 'paused'" ng-click="resumeExperiment()">
        <img src="/images/status-resume-btn.png">
        RESUME
      </span>
      <span class="control" ng-show="experiment.started_at && (!experiment.completed_at || is_holding) && state !== 'idle' " ng-click="stopExperiment()">
        <img src="/images/status-bar-stop-btn.png">
        <span ng-show="!is_holding">STOP EXPERIMENT</span>
        <span ng-show="is_holding">END HOLD</span>
      </span>
    </span>
  </div>
</div>