<div class="test-in-progress-container" ng-show="data">
  <div class="test-in-progress">
    <div class="test-in-progress-heading">
      <div class="truncate" ng-class="{'text-blue': !isHolding, 'text-green': isHolding}">
        <span ng-show="data.experimentController.machine.state === 'LidHeating' || data.experimentController.machine.state === 'Running' || data.experimentController.machine.state === 'Paused'">
          <span class="text-black" ng-show="!isHolding">TEST IN PROGRESS:</span>
          <span ng-show="!isHolding">
            {{ data.experimentController.expriment.name }}
          </span>
          <span class="text-black" ng-show="isHolding">ALL STAGES COMPLETE:</span>
          <span ng-show="isHolding">
            Holding at {{ data.heatblock.temperature | round: '1' | degreeCelcius }}
          </span>
        </span>
        <span ng-show="data.experimentController.machine.state === 'Idle' && completionStatus === null">
          <span class="text-black">No experiment running</span>
        </span>
        <span ng-show="completionStatus">
          <span class="text-black">TEST COMPLETE:</span>
          <span ng-show="completionStatus === 'aborted'" class="text-red">USER CANCELLED</span>
          <span ng-show="completionStatus === 'failed'" class="text-red">FAILED</span>
          <span ng-show="completionStatus === 'success'" class="text-green">SUCCESSFUL</span>
        </span>
      </div>
    </div>
    <div class="test-info">
      <div class="row" ng-show="!completionStatus">
        <div class="col-sm-6">
          <div class="caption">
            <span ng-show="data.experimentController.machine.state == 'Running'">
              STAGE {{data.experimentController.expriment.stage.number}},
              STEP {{data.experimentController.expriment.step.number}}
            </span>
            <span ng-show="data.experimentController.machine.state == 'LidHeating'">
              Heating Lid
            </span>
            <span ng-show="data.experimentController.machine.state == 'Paused'">
              Paused
            </span>
          </div>
          <div ng-show="data.experimentController.machine.state !== 'Idle'">
            {{data.experimentController.machine.thermal_state}}
          </div>
        </div>
        <div class="col-sm-6" ng-show="data.experimentController.machine.state === 'Running' || data.experimentController.machine.state === 'Paused'">
          <div class="caption">TIME REMAINING</div>
          <div>{{ timeRemaining() | secondsDisplay:'display2'}}</div>
        </div>
      </div>
      <div ng-show="completionStatus">
        <div class="caption">
          RAN ON
          <span style="font-weight: normal">
            {{ experiment.started_at | date: 'MMM d, yyyy HH:mm' | uppercase }}
          </span>
        </div>
      </div>
      <div ng-show="experiment.completion_message" style="margin-top: 10px;">
        <span style="font-weight: 300;">
          {{experiment.completion_message}}
        </span>
      </div>
      <div class="row" ng-show="data.experimentController.machine.state == 'Running' || data.experimentController.machine.state == 'LidHeating'">
        <div class="col-sm-6" ng-show="data.experimentController.machine.state !== 'LidHeating'">
          <div class="caption">
            Block Temp:
            <span class="normal-text">
              {{data.heatblock.temperature | round:1 | degreeCelcius}}
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="caption">
            Lid Temp: <span class="normal-text">{{data.lid.temperature | round:1 | degreeCelcius}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="test-progress-bar" ng-show="data.experimentController.machine.state == 'Running' || data.experimentController.machine.state == 'Paused'">
          <div class="pro-bar" style="width: {{barWidth()*100}}%;"></div>
        </div>
      </div>
    </div>
  </div>
</div>