<div class="version-info-container">
  <img src="/images/settings-machine-icon.png" class="machine-icon">
  <div class="version-info">
    <div class="item-version">
      <h3>Serial Number:</h3>
      <h2>{{data.serial_number}}</h2>
    </div>
    <div class="item-version">
      <h3>Software Version:</h3>
      <h2>{{data.software.version}}</h2>
    </div>
    <div class="item-version">
      <h3>Model Number:</h3>
      <h2>{{data.model_number}}</h2>
    </div>
    <button class="update-button" update-software>
      SOFTWARE UPDATE AVAILABLE
    </button>
  </div>
</div>