<div class="version-info-container">
  <img src="/images/settings-machine-icon.png" class="machine-icon">
  <div class="version-info">
    <div class="item-version">
      <h3>Serial Number:</h3>
      <h2>{{data.serial_number}}</h2>
    </div>
    <div class="item-version">
      <h3>Software Version:</h3>
      <h2>{{ data.software.version + (update_available === 'unavailable' ? ' (Latest)' : '') }}</h2>
    </div>
    <div class="item-version">
      <h3>Model Number:</h3>
      <h2>{{data.model_number}}</h2>
    </div>
    <button class="update-button" ng-show="update_available === 'unavailable' && !checkedUpdate && !checking_update" ng-click="checkForUpdates()">
      CHECK FOR UPDATES
    </button>
    <button class="update-button text" ng-show="update_available === 'unavailable' && checkedUpdate && !checking_update">
      Software Up To Date
    </button>
    <button class="update-button" ng-show="update_available === 'available' && !checking_update" ng-click="openUpdateModal()">
      SOFTWARE UPDATE AVAILABLE
    </button>
    <button class="update-button text" ng-show="update_available === 'downloading' && !checking_update">
      DOWNLOADING SOFTWARE UPDATE
      <ellipsis-animated>
      <ellipsis-animated/>
    </button>
    <button class="update-button text" ng-show="checking_update">
      Checking for available updates
      <ellipsis-animated>
      <ellipsis-animated/>
    </button>

  </div>
</div>