@font-face {
  font-family: 'Fun City';
  font-weight: 400;

  src: url('../fonts/funcity/2D178A_1_0.eot');
  src: url('../fonts/funcity/2D178A_1_0.ttf');
  src: url('../fonts/funcity/2D178A_1_0.woff');
}

@font-face {
  font-family: 'Fun City';
  font-weight: 700;
  src: url('../fonts/funcity/2D178A_0_0.eot');
  src: url('../fonts/funcity/2D178A_0_0.ttf');
  src: url('../fonts/funcity/2D178A_0_0.woff');
}
@font-face {
  font-family: "Dinot";
  font-weight: 400;
  src: url("../fonts/DINOT-Regular.otf"); }

@font-face {
  font-family: "Dinot";
  font-weight: 700;
  src: url("../fonts/DINOT-Bold.otf"); }


@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/open-sans/OpenSans-300.woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/open-sans/OpenSans-Regular.woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../fonts/open-sans/OpenSans-600.woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/open-sans/OpenSans-700.woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("../fonts/open-sans/OpenSans-800.woff2");
}