<div class="maintainance-container">
  <version-info></version-info>
  <div class="maintainance-container-backdrop" ui-sref="settings.root">
  </div>
  <div class="wizards-container">
    <h2 class="underlined">CALIBRATE <span class="close" ui-sref="settings.root">&times;</span></h2>
    <h3 class="wizard-header">CALIBRATE</h3>
    <div class="wizard">
      <h3>Optical</h3>
      <p>Compensates for well-to-well variations in optical performance. Run whenever lid height is adjusted, or tube type is changed</p>
      <a href="/dynexp/optical_cal/index.html" class="button" ng-show="!is_dual_channel">RUN NOW</a>
      <a href="/dynexp/dual_channel_optical_cal/index.html" class="button" ng-show="is_dual_channel">RUN NOW</a>
    </div>

  </div>
</div>
