<div class="maintainance-container">
  <version-info></version-info>
  <div class="maintainance-container-backdrop" ui-sref="settings.root">
  </div>
  <div class="wizards-container">
    <h2 class="underlined">CHOOSE A PROCEDURE <span class="close" ui-sref="settings.root">&times;</span></h2>

    <h3 class="wizard-header">DIAGNOSTICS</h3>
    <div class="wizard">
      <h3>Thermal Performance</h3>
      <p>Tests block heating & cooling performance; lid heating</p>
      <a href="/dynexp/thermal_performance_diagnostic/index.html" class="button">RUN NOW</a>
    </div>

    <h3 class="wizard-header">Thermal Uniformity</h3>
    <div class="wizard">
      <!-- <h3>Thermal Performance</h3> -->
      <p>Tests well-to-well variances in temperature</p>
      <a href="/dynexp/thermal_consistency/index.html" class="button">RUN NOW</a>
    </div>

  </div>
</div>
