<div class="network-details-container" ng-controller="selectedNetwork">

  <h2 class="underlined">{{name}} Settings<span class="close" ui-sref="settings.networkmanagement">&times;</span></h2>
  <form ng-if="! IamConnected" name="connectWifiNetwork" nonvalidate ng-submit="connectWifi()">
    <div class="pass-info">
      <div class="pass-heading">PASSWORD REQUIRED</div>
      <div class="pass-text">Please enter your password to connect</div>
    </div>

    <div class="connect-area">
      <div class="ssid-text">Ssid</div>
      <div class="ssid-val">{{name}}</div>

      <div class="password-label">Password</div>
      <div class="password-input-container">
        <input type="password" autofocus="" name="wpa_key" class="text-class" required placeholder="{{name}} password" ng-model="credentials['wpa-psk']">
        <div ng-show="connectWifiNetwork.wpa_key.$touched">
          <span ng-show="connectWifiNetwork.wpa_key.$error.required" class="connection-error-text">Cannot left blank ..</span>
        </div>
      </div>
    </div>

    <div class="connection-error">
      <span class="connection-error-text">{{statusMessage}}</span>
    </div>

    <div class="button-container">
      <input type="submit" class="green-button" value="{{buttonValue}}">
      <div class="spacer">&nbsp;</div>
      <button class="button second-button" ui-sref="settings.networkmanagement">CANCEL</button>
    </div>
  </form>

  <form ng-if="IamConnected" name="connectedWifiDetails" nonvalidate>
    <div class="set-mode">
      <div class="set-mode-toggle"><mode-toggle data="auto"></mode-toggle></div><span>SET AUTOMATICALLY</span></div>
      <div class="settings-text-container">
        <span>CURRENT SETTINGS</span> <span class="locked">LOCKED</span>
      </div>

      <div class="network-parameter-container">
        <div class="network-parameter-text-container"><span>IP Address</span></div>
        <div class="network-parameter-data-container"><span>{{connectedWifiNetwork.state.address}}</span></div>
      </div>
      <div class="network-parameter-container">
        <div class="network-parameter-text-container"><span>Subnet Mask</span></div>
        <div class="network-parameter-data-container"><span>{{connectedWifiNetwork.state.maskAddress}}</span></div>
      </div>
      <div class="network-parameter-container">
        <div class="network-parameter-text-container"><span>Router</span></div>
        <div class="network-parameter-data-container"></div>
      </div>
      <div class="network-parameter-container">
        <div class="network-parameter-text-container"><span>Gateway IP</span></div>
        <div class="network-parameter-data-container"></div>
      </div>
      <div class="network-parameter-container">
        <div class="network-parameter-text-container"><span>DNS Server</span></div>
        <div class="network-parameter-data-container"></div>
      </div>

      <div class="connected-button-container button-container">
        <input type="submit" class="green-button" value="SAVE CHANGES">
      </div>
  </form>
</div>
