<div class="usermanagement-container" ng-controller="NetworkSettingController">

  <div class="left">
    <h2 class="underlined">CHOOSE NETWORK<span class="close" ui-sref="settings.root">&times;</span></h2>

    <div class="user-data">
      <ul>
        <li>
          <a class="bold-letter" ui-sref="settings.networkmanagement.wifi({name: 'ethernet'})" ui-sref-active="highlite">ETHERNET</a>
        </li>
      </ul>
      <div class="wifi-control"><div class="wifi-caption">WIFI </div> <div class="wifi-changer"><wifi-toggle data="admin"></wifi-toggle></div></div>
      <ul>
        <li ng-repeat="wifiNetwork in wifiNetworks">
          <div class="check-mark-container adjust-check-mark">
            <div class="vertical"></div>
            <div class="horizontal"></div>
          </div>

          <a ui-sref="settings.networkmanagement.wifi({name: '{{wifiNetwork.ssid | spaceToUnderscore}}'})" ui-sref-active="highlite">{{wifiNetwork.ssid}}
            <wifi-lock encryption="{{wifiNetwork.encryption}}" ssid="{{wifiNetwork.ssid | spaceToUnderscore}}"></wifi-lock>
            <wifi-signal ssid="{{wifiNetwork.ssid | spaceToUnderscore}}" quality="{{wifiNetwork.quality}}"></wifi-signal>
          </a>
          <!--<a ng-click="removeUser(user.user.id)" class="btn-remove" ng-if="user.user.id !== currentUser.id"></a>-->
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <!--<h2 class="underlined">NETWORK DETAILS<span class="close" ui-sref="settings.root">&times;</span></h2> -->
    <div class="network-details" ui-view>
      <p>Select a network in the center column to see details.</p>
    </div>
  </div>
</div>
