<div class="system-container" ng-controller="systemController">
  <version-info></version-info>
  <div class="maintainance-container-backdrop" ui-sref="settings.root">
  </div>
  <div class="wizards-container">
    <h2 class="underlined">SYSTEM SETTINGS <span class="close" ui-sref="settings.root">&times;</span></h2>

    <h3 class="wizard-header"></h3>
    <div class="wizard">
      <h3>Software Update Status</h3>
      <p ng-if="data.software.version">v{{ data.software.version + " installed"}}</p>
      <button ng-click="checkUpdate()" class="green-button">CHECK FOR UPDATES</button>
      <button class="normal-button">UPLOAD DISK IMAGE</button>
    </div>

    <h3 class="wizard-header">Upload Software Update</h3>
    <div class="wizard">
      <!-- <h3>Thermal Performance</h3> -->
      <button class="normal-button">UPLOAD UPDATE</button>
    </div>

    <support-access></support-access>

  </div>
</div>
