@import './colors.css.scss';

  .choose-chart {
    .choose-chart-heading {
      border-bottom: 2px solid black;
    }
    .chart-type-option {
      cursor: pointer;
      font-weight: bold;
      margin-top: 10px;
    }
    .number {
      text-align: center;
      vertical-align: middle;
      padding: 5px;
      color: gray;
      font-size: 15px;
    }
    .circle {
      border-width: 3px;
      border-radius: 100px;
      border-style: solid;
      cursor: pointer;
      font-size: 10px;
      line-height: 1.5;
      height: 60px;
      margin: 5px;
      padding-top: 11px;
      text-align: center;
      width: 60px;
      opacity: 0.5;

      &.selected {
        border-width: 5px;
        padding-top: 9px;
        opacity: 1;
      }

      .ct {

        display: inline-block;
        position: relative;
        margin-top: 8px; // <-- should be removed if show 2 cts

        .dot {
          border-radius: 10px;
          width: 5px;
          height: 5px;
          display: inline-block;
          vertical-align: middle;
        }

        &.ct-1 {
          .dot {
            background: #dedede;
          }
        }
        // &.ct-2 {
        //   .dot {
        //     background: $gray;
        //   }
        // }

        .text {
          display: inline-block;
          vertical-align: middle;
        }

      }
    }

  }