@import './colors.css.scss';

.amplification-chart-state-active {
  font-family: 'dinot';

  .header {
    .name-container {
      width: 80%;
    }
  }

  .chart-section {
    display: inline-block;
    padding-right: 50px;
    width: 700px;
    vertical-align: top;

    .curve-header {
      border-bottom: 3px solid $gray;
      padding-bottom: 10px;

      .curve-title {
        display: inline-block;
        width: 70%;
        cursor: pointer;

        img {
          display: inline-block;
          margin-top: -5px;
          width: 20px;
        }
      }

      .log-checkboxes {
        margin-bottom: -10px;

        .checkbox-item {
          cursor: pointer;
          display: inline-block;
          font-weight: bold;
          text-align: right;
          width: 14%;

          .checkbox-icon {
            border-radius: 100px;
            border: 1px solid black;
            display: inline-block;
            width: 11px;
            height: 11px;
            padding: 0;
          }

          &.checked {
            .checkbox-icon {
              background-color: $green;
              .inner {
                width: 9px;
                height: 9px;
                border: 2px solid #fff;
                border-radius: 100px;
                display: block;
                background: transparent;
              }
            }
          }

          &.unchecked {
            opacity: 0.5;

            .checkbox-icon {
              background: #fff;

              .inner {
                display: none;
              }
            }
          }

        }
      }

    }

    $item_switch_gap: 70px;
    .subheader-switches {
      margin-top: 20px;
      margin-left: -($item_switch_gap);

      .item-switch {
        display: inline-block;
        margin-left: $item_switch_gap;

        .switch {
          height: 15px;
          margin-top: -2px;
          width: 31px;
          vertical-align: middle;

          small {
            width: 15px;
            height: 15px;
            border-width: 4px;
          }

          &.checked {
            small {
              left: 16px;
            }
          }
        }

        &.auto {
          .switch {
            background: #BBB;
            border-color: #BBB;
          }
          small {
            background: #bbb;
          }
          .set-auto {
            color: $gray;
          }
        }

        label {
          color: $gray;
          display: inline-block;
          margin-left: 15px;
          font-weight: 700;
        }
        span.set-auto {
          color: $blue;
          cursor: pointer;
          margin-left: 15px;
        }
      }
    }

    $marginTop: 190px;
    .vertical-text {

      transform: rotate(-90deg);
      transform-origin: 20% 40%;
      float: left;
      // font-size: 10px;
      // font-weight: bold;
      margin-left: -26px;
      margin-top: $marginTop;
      margin-bottom: -$marginTop;

    }

    .chart-container {
      margin-left: 15px;
      margin-bottom: -35px;
      width: 700px;
    }

    .axis .tick text {
      font-family: "dinot-regular";
      font-size: 10px;
    }

    .num-cycle-text {
      // font-family: 'Open Sans';
      // font-size: 10px;
      // font-weight: bold;
      margin-bottom: -15px;
    }

    .ampli-zoom-scroll-container {
      margin-top: 50px;
      padding-left: 50px;
      padding-right: 50px;

      .zoom-container {

        .zoom-text {
          display: inline-block;
          width: 20%;
          vertical-align: middle;
        }
        .ampli-slider {
          display: inline-block;
          width: 80%;
          vertical-align: middle;
        }
      }

      .ampli-scrollbar-container {
        .scrollbar-container {
          height: 5px;
          border-radius: 10px;
          margin-top: -2px;
          position: relative;
          top: 11.5px;
          background: #ccc;

          .scrollbar {
            border-radius: 10px;
          }
        }
      }

    }

  }

  .table-container {
    display: inline-block;
    margin-top: -20px;
    margin-bottom: -4px;
    width: 324px;

    table {
      width: 100%;
      // box-shadow: -1px 0px 1px $lightgray;

      th {
        background-color: lighten($gray, 15%);
        color: #fff;
        padding: 10px 15px;
        &:last-of-type {
          border-right: 1px solid lighten($gray, 15%);
        }
      }

      tr {
        td {
          border-left: 1px solid lighten($lightgray, 15%);
          border-bottom: 1px solid lighten($lightgray, 15%);
          color: $lightgray;
          padding: 10px 15px;

          &:first-of-type {
            color: $gray;
            font-weight: bold;
          }

          &:last-of-type {
            border-right: 1px solid lighten($lightgray, 15%);
          }

          .dot {
            border-radius: 100px;
            display: inline-block;
            height: 10px;
            margin-right: 10px;
            vertical-align: middle;
            width: 10px;
          }

          .text {
            display: inline-block;
            vertical-align: middle;
          }
        }

        &.selected {
          td {
            color: #000;
          }
        }
      }

    }
  }

  .experiment-start-stop-buttons {
    padding: 15px;
  }
}
