@import './colors.css.scss';
$marginTop: 260px;

.amplification-chart-state-active {

  .chart-section {
    .vertical-text {

      transform: rotate(-90deg);
      transform-origin: 20% 40%;
      float: left;
      margin-left: -35px;
      margin-top: $marginTop;
      margin-bottom: -$marginTop;

      font-family: 'Open Sans';
      font-weight: 300;
    }

    .chart-container {
      margin-left: 15px;
      margin-bottom: -35px;
    }

    .num-cycle-text {
      font-family: 'Open Sans';
      font-weight: 300;
      margin-bottom: -15px;
    }

  }

  .experiment-start-stop-buttons {
    padding: 15px;
  }
}