@import './colors.css.scss';
.modal-chart {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1050;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content */

.modal-content-amplification {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 750px;
  height: 550px;
  text-align: center;
  font-family: 'dinot-Regular';
  color: black !important;
  .h3-baseline {
    font-family: 'dinot-Bold';
    color: black;
    font-size: 20px;
  }
  .baseline-cycles {
    border-top: 1px solid black;
    padding-top: 10px;
  }
  .hover-desc {
    visibility: hidden;
  }
  .error-color {
    color: red !important;
  }
  .h3-cq {
    color: black;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 300;
    font-family: 'dinot';
  }
  .button {
    border: 2px solid #787878;
    background: #fff;
    color: #333;
    display: inline-block;
    border-radius: 0;
    font-weight: bold;
    min-width: 150px;
    margin-right: 15px;
    margin-top: 10px;
    padding: 6px 0;
    //position: absolute;
    top: 530px;
  }
  .button-cancel {
    left: 650px;
  }
  .button-apply {
    left: 850px;
  }
  .button:hover {
    background: #8FC742;
    color: white;
    border: none;
    height: 34px;
  }
  input {
    border: 0;
    outline: 0;
    background: transparent;
    width: 50px;
  }
  input[type="radio"] {
    width: 20px;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  label.radio-pcr {
    content: "";
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 12px;
    margin-right: 10px;
    left: 0;
    border: 2px solid white;
    bottom: 1px;
    box-shadow: 0 0 0 0.07em #000;
  }
  input[type='radio']:checked + label.radio-pcr {
    background: #8FC742;
    box-shadow: 0 0 0 0.07em #000;
  }
  label {
    padding-top: 5px;
    color: black;
    font-size: 15px;
  }
  .div-style {
    text-align: left;
    height: 275px;
  }
  .ct-label {
    border-bottom: 1px solid #ccc;
    margin-left: 25px;
  }
  .params-label {
    border-bottom: 1px solid #ccc;
    width: 180px;
    text-align: left;
    span {
      width: 125px;
      display: inline-block;
    }
  }
  .by-label {
    border-bottom: 1px solid #ccc;
    margin-left: 5px;
  }
  .col-md-6 {
    text-align: left;
    border-top: 1px solid black;
    padding-left: 0;
  }
  .cq-method {
    text-align: left;
    border-top: 1px solid black;
    padding-left: 0;
  }
}


/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dot {
  border-radius: 100px;
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
  width: 10px;
}

.chart-section {
  // display: inline-block;
  //padding-right: 20px;
  //padding-left: 20px;
  // width: 65%;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  // vertical-align: top;
  $item_switch_gap: 20px;
  .subheader-switches {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 20px;
    .item-switch {
      display: inline-block;
      margin-left: $item_switch_gap;
      .switch {
        height: 15px;
        margin-top: -2px;
        width: 31px;
        vertical-align: middle;
        margin-left: 6px;
        small {
          width: 15px;
          height: 15px;
          border-width: 4px;
        }
        &.checked {
          small {
            left: 16px;
          }
        }
      }
      &.auto {
        .switch {
          background: #BBB;
          border-color: #BBB;
        }
        small {
          background: #bbb;
        }
        .set-auto {
          color: $gray;
        }
      }
      label {
        color: $gray;
        display: inline-block;
        margin-left: 15px;
        font-weight: 700;
      }
      span.set-auto {
        color: $blue;
        cursor: pointer;
        margin-left: 15px;
      }
    }
    .item-switch-channel {
      display: inline-block;
      margin-left: 20px;
      float: left;
      .switch {
        height: 15px;
        margin-top: -2px;
        width: 31px;
        vertical-align: middle;
        small {
          width: 15px;
          height: 15px;
          border-width: 4px;
        }
        &.checked {
          small {
            left: 16px;
          }
        }
      }
      &.auto {
        .switch {
          background: #BBB;
          border-color: #BBB;
        }
        small {
          background: #bbb;
        }
        .set-auto {
          color: $gray;
        }
      }
      label {
        color: $gray;
        display: inline-block;
        margin-left: 15px;
        font-weight: 700;
        padding-right: 18px;
      }
      span.set-auto {
        color: $blue;
        cursor: pointer;
        margin-left: 15px;
      }
    }
  }
  // $marginTop: 190px;
  // .vertical-text {
  //   transform: rotate(-90deg);
  //   transform-origin: 20% 40%;
  //   float: left;
  //   // font-size: 10px;
  //   // font-weight: bold;
  //   margin-left: -26px;
  //   margin-top: $marginTop;
  //   margin-bottom: -$marginTop;
  // }

  .chart-container {
    // margin-left: 30px;
    // margin-bottom: -35px;
    position: relative;
    width: 100%;
    // padding-right: 20px;
    // height: 300px;
  }
  .chart-legend {
    display: none;
  }
  .axis.y2-axis {
    display: none;
  }
  .num-cycle-text {
    margin-bottom: -30px;
    margin-top: 20px;
  }
  .zoom-button {
    border: none;
    font-weight: bold;
    background-color: #ffffff;
  }
  .chart-zoom-scroll-container {
    // margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    .zoom-container {
      .zoom-text {
        display: inline-block;
        width: 20%;
        vertical-align: middle;
      }
      .ampli-slider {
        display: inline-block;
        width: 80%;
        vertical-align: middle;
        background: transparent;
        cursor: pointer;
      }
    }
    .ampli-scrollbar-container {
      .scrollbar-directive {
        margin-top: -1px;
        cursor: pointer;
      }
    }
  }
}
.table-container {
  // display: inline-block;
  margin-top: -20px;
  // margin-bottom: -4px;
  // width: 35%;
  border-left: 2px solid black;
  overflow: auto;
  top: 0px;
  bottom: 50px;
  right: 0px;
  // height: 94%;

  .sample-span{
    font-family: 'dinot-Regular';
    font-size: 12px;
  }
  
  .type-td{
    text-align: center;
    vertical-align: middle;
    .type-span{
      display: inline-block;
      width: 23px;
      height: 23px;
      border: #000 1px solid;
      border-radius: 50%;
      font-family: 'dinot-Regular';
      font-size: 14px;
    }
  }

  .target-span{
    font-family: 'dinot-Regular';
    font-size: 16px;
  }

  input {
    outline: none;
    border: none;
    font-family: 'dinot-Regular';
    font-size: 16px;
    //width: 140px;
  }
  table {
    width: 100%;
    // box-shadow: -1px 0px 1px $lightgray;
    th {
      background-color: lighten($gray, 15%);
      // border-left: 1px solid lighten($lightgray, 15%);
      // border-bottom: 1px solid lighten($lightgray, 15%);
      color: #fff;
      padding: 10px 15px;
      &.channel-1 {
        background-color: $blue;
      }
      &.channel-2 {
        background-color: $green;
      }
    }
    tr {
      td {
        // border-left: 1px solid lighten($lightgray, 15%);
        // border-bottom: 1px solid lighten($lightgray, 15%);
        color: $lightgray;
        padding: 10px 15px;
        &:first-of-type {
          color: $gray;
          font-weight: bold;
        }
        &:last-of-type {
          // border-right: 1px solid lighten($lightgray, 15%);
          border-right: none;
        }
        .text {
          display: inline-block;
          vertical-align: middle;
        }
        .width1 {
          padding: 10px;
        }
        .dummy-placeholder {
          padding: 25px;
        }
      }
      &.selected {
        td {
          color: #000;
        }
      }
    }
  }
}

.omit_checkbox {
  color: red;
  width: 50px !important;
}

.chart-well-switch {
  margin-top: 0px;
  background: white;
}