.modal-content {
  .chart-chooser {
    width: 560px;
    height: 435px;
    background-color: white;
    padding-top: 1px;

    .chart-content {
      width: 500px;
      height: 395px;
      margin: 20px 30px 0px 30px;

      .chart-header-section {
        height: 38px;
        width: 100%;
        border-bottom: solid 2px black;

        .chart-caption {
          font-family: "dinot-bold";
          font-size: 24px;
          width: 60%;
          float: left;
        }

        .close-container {
          float: right;
          width: 20px;
          height: 20px;

          .close-modal {
            color: grey;
            font-size: 24px;
          }
          .close-modal:hover {
            cursor: pointer;
            color: red;
            background-color: white;
            text-decoration: none;
          }
        }
      }

      .charts-container {
        width: 100%;
        height: 90%;
        padding-top: 20px;

        .chart-box {
          width: 240px;
          height: 175px;
          //background-color: #f2fafd;
          float: left;
          .chart-image-container {
            width: 240px;
            height: 115px;
            background-color: #f2fafd;
            float: left;
          }
        }
        .second {
          margin-left: 20px;
        }
      }
    }
  }

}
