@import "./colors.css.scss";

.experiment-properties-subtoption {
  margin-bottom: 20px;
  border-bottom: 2px solid #aaa;
  .message-container {
    height: 25px;
    width: 100%;

    .help-block {
      display: block;
      margin-top: 0px;
      .text-success {
        color: #07CE0A;
      }
    }
  }

  .heading {
    padding-top: 0;
    width: 150px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
  }
  .exp-name-container {
    margin-top: 0;
    height: 30px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;

    .exp-name {
      border: none;
    }
    .truncate {
      display: inline-block;
      width: 80%;
      vertical-align: middle;
      line-height: 30px;
    }
    input.exp-name {
      background: transparent;
      margin-top: 0px;
      padding: 0;
      width: 100%;
      line-height: 30px;

      &:focus {
        outline: 0;
      }
    }
    .action {
      display: inline-block;
      width: 18%;
      color : $blue;
      cursor: pointer;
    }

  }

  .experiment-types-list {
    .item {
      cursor: pointer;
      margin-top: 15px;

      .ball {
        border: 7px solid $lightgray;
        border-radius: 100%;
        display: inline-block;
        height: 30px;
        margin-top: -2px;
        vertical-align: middle;
        width: 30px;
      }
      .text {
        display: inline-block;
        font-weight: bold;
        padding-left: 15px;
      }

      &.active {
        .ball {
          border-color: $blue;
        }
      }
    }
  }

  .buttons-container {
    margin-top: 70px;
    padding: 0px 50px;

    .button {
      background: #fff;
      border: 1px solid #000;
      border-radius: 0px;
      color: #000;
      margin-top: 10px;

      &.special {
        margin-top: 50px;
        background: $green;
        border: none;
        color: #fff;
        padding: 5px 13px;
      }
    }
  }



}
