//Home page styles start here
@import "./colors.css.scss";

.home-page-wrapper {
  width: 1024px;
  height: 768px;
  position: relative;

  .status-bar {
    position: absolute;
    top: 728px;
    width: 1024px;
  }

  .home-page-left-wing {
    float: left;
    width: 671px;
    //height: 400px; //Just for now;

    .left-wing-content {

    }

    .home-page-logo {
      margin-left: 82px;
      margin-top: 52px;
    }

    .home-page-welcome {
      font-family: "dinot-bold";
      font-size: 40px;
      text-align: center;
      padding-top: 55px;
      padding-bottom: 15px;
    }

    .home-page-circle {
      width: 112px;
      height: 112px;
      margin: 0 auto;
      border-radius: 90px;
      border: 4px solid black;
      background-image: url("/images/logo.png");
      background-repeat: no-repeat;
      background-position: 15px 15px;
      padding-bottom: 10px;
    }

    .home-page-circle:hover {
      border: 4px solid orange;
    }

    .home-page-sign-out {
      color: #00ADEE;
      font-size: 12px;
      font-family: "dinot-bold";
      text-align: center;
      padding-top: 5px;
      cursor: pointer;
    }
    .home-page-new-exp-container {
      width: 340px;
      height: 50px;
      margin: 80px auto 0 auto;
    }
    .home-page-new-exp-button {
      width: 340px;
      height: 50px;
      font-family: "dinot-bold";
      border: 2px solid #8dc63f;
      background-color: #8dc63f;
      color: white;
      font-size: 20px;
    }
    .home-page-new-exp-button:hover {
      background-color: white;
      color: black;
    }
    .home-page-go-settings-container {
      width:200px;
      height: 35px;
      margin: 20px auto 0 auto;
    }
    .home-page-go-settings-button {
      width:200px;
      height: 35px;
      font-family: "dinot-bold";
      border: 2px solid #555555;
      background-color: white;
    }
    .home-page-go-settings-button:hover {
      color: white;
      background-color: black;
      border: none;
    }

  /*  .left-wing-content {
      width: 442px;
      margin-top: 61px;
      margin-left: 75px;

      .home-page-logo {
        width: 437px;
        height: 74px;
      }

      .home-page-menu {
        margin-top: 65px;
        height: 402px;

        .menu-content {
          border-bottom: solid 1px black;
          height: 33px;
          // HEading part
          .menu-heading {
            height: 100%;

            .welcome-text {
              width: 200px;
              float: left;
              height: 100%;
            }
            .logout-text {
              float: right;
              height: 100%;
              padding-top: 10px;
              text-align: right;
              width:150px;

              a {
                color: #00aeef;
                text-decoration: none;
              }
              a:hover {
                background-color: white;
              }
            }
          }
          // Menu Items
          .menu-items {
            padding-top: 20px;

            .menu-item {
              height:58px;

              .first-row {
                height: 30px;

                .menu-item-image {
                  width: 30px;
                  height: 30px;
                  float: left;
                  background-image: url("/images/smallO.png");
                  margin-left: 24px;
                }
                .menu-item-text {
                  width: 300px;
                  float: left;
                  margin-left: 12px;
                  margin-top: 2px;
                  font-size: 22px;
                  cursor: pointer;
                }
              }

              .second-row {
                height: 28px;

                .hand-container {
                  width: 100%;

                  .hand {
                    width: 6px;
                    background-color: black;
                    height: 22px;
                    margin-left: 37px;
                    margin-top: 2px;                  }
                }
              }
            }
            // When it bounce
            .menu-item-bounce {
              height:107px;

              .first-row {
                height: 60px;

                .menu-item-image {
                  width: 60px;
                  height: 60px;
                  float: left;
                  background-image: url("/images/bigO.png");
                  margin-left: 11px;
                }
                .menu-item-text {
                  width: 300px;
                  float: left;
                  margin-left: 12px;
                  margin-top: 15px;
                  font-size: 30px;
                  cursor: pointer;
                }
              }

              .second-row {
                height: 32px;

                .hand-container {
                  width: 100%;

                  .hand {
                    width: 6px;
                    background-color: black;
                    height: 32px;
                    margin-left: 37px;
                    margin-top: 5px;
                  }
                }
              }
            }
          }


        }
      }
    } */
  }
  // Right Side of the home page
  .home-page-right-wing {
    float: left;
    width: 353px;
    height: 728px;

    .home-page-exp-header-container {
      width: 100%;
      height: 64px;
      background-color: #333;
    }
    .home-page-recent-exp {
      width: 75%;
      height: 100%;
      font-family: "dinot-bold";
      font-size: 20px;
      color: white;
      text-align: center;
      line-height: 64px;
      float: left;
    }
    .home-page-edit-exp {
      width: 25%;
      height: 100%;
      font-family: "dinot-bold";
      font-size: 12px;
      color: white;
      text-align: center;
      cursor: pointer;
      float: left;
      padding-top: 26px;
    }

    .home-page-exp-container {
      border-left: 1px solid #e6e6e6;
      width: 100%;
      height: 664px;
      overflow: scroll;
      border-right: 1px solid #e6e6e6;
    }
    .home-page-exp-tile {
      width: 100%;
      height: 60px;
      background-color: #fbfbfb;
      border-bottom: 1px solid #e6e6e6;

      .home-page-tile-text {
        width: 75%;
        height: 100%;
        float: left;
        padding-top: 10px;

        .home-page-exp-name {
          font-size: 16px;
          font-family: "dinot-bold";
          margin-left: 18px;
          cursor: pointer;
        }
        .home-page-exp-created-at {
          color: #545454;
          font-size: 16px;
          font-family: "dinot-regular";
          margin-left: 18px;
        }
      }

      .home-page-circle-container {
        width: 25%;
        height: 100%;
        float: left;

        .home-page-exp-circle {
          width: 14px;
          height: 14px;
          background-color: #04a0d9;
          border-radius: 90px;
          margin: 23px auto;
        }
      }
    }

    // Previous Experiment List Starts Here
    /*.previous-experiment-container {

      .previous-experiment-heading {
        border-bottom: solid 1px #001827;
        height: 20px;

        .text {
          float: left;
          width: 200px;
          font-size: 14px;
        }
        .dots {
          float: right;
          color: $red;
          font-weight: bold;
          font-size: 14px;
          cursor: pointer;
        }
      }
      .all-experiments {
        height: 680px;
        overflow: scroll;
        padding-top: 21px;

        .individual-experiment {
          height: 72px;

          .first-row {
            height: 30px;

            a:hover {
              color: #000;
              background-color: white;
            }
            div {
              float: left;
            }
            .image {
              border: 7px solid $gray;
              border-radius: 100%;
              color: #fff;
              width: 30px;
              height: 30px;
            }
            .cross-image {
              display: none;
            }
            .dotordate {
              float: right;
              height: 30px;
              width: 50px;
              font-size: 9px;
              text-align: center;
              color: #00aeef;
            }
            .ball {
              width: 8px;
              height: 8px;
              background-color: #898989;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              margin-top: 8px;
              margin-left: 10px;
            }
            .image-red {
              background-image: url('/images/smallredO.png');
              width: 30px;
              height: 30px;
            }
            .text {
              margin-left: 15px;
              margin-top: -4px;
              margin-bottom: -10px;
              cursor: pointer;

              a {
                display: block;
                width: 200px;
              }
            }
          }
          .second-row {
            height: 42px;

            div {
              float: left;
            }
            .hand-container {
              width: 45px;
              height: 42px;

              .hand {
                width: 6px;
                min-height: 32px;
                background-color: #00aeef;
                margin-left: 12px;
                margin-top: 5px;
                cursor: pointer;
              }
            }
            .dotor {
              float: right;
              height: 30px;
              width: 50px;
            }
            .ball {
              width: 8px;
              height: 8px;
              background-color: #898989;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              margin-top: 5px;
              margin-left: 10px;
            }
            .more-info {
              font-size: 14px;
              width: 230px;
            }
          }
          .confirm-box {
            position: relative;
            display: none;
            height: 45px;
            width: 250px;
            z-index: 100;
            top: -70px;
            left: 43px;
            background-color: white;
            text-align: center;
            font-size: 14px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: solid 1px #a61300;
            font-size: 14px;

            button {
              font-size: 12px;
              width: 40px;
              height: 22px;
              margin-top: 2px;
            }

            .no-delete {
              color: #00aeef;
            }
            .yes-delete {
              color: #a61300;
            }
          }

          &.del {
            .first-row,
            .second-row {
              visibility: hidden;
            }
            .confirm-box {
              display: block;
            }
          }

        }

        &.delete-mode {
          .individual-experiment {
            .first-row {
              .image {
                border: 2px solid red;
                color: red;
                cursor: pointer;
                font-size: 25px;
                line-height: 1.1;
                text-align: center;
              }
            }
            .second-row {
              .hand {
                background-color: $darkred;
              }
            }
          }
        }

      }
    }*/
  }
}
