@import './colors.css.scss';


.melt-curve-chart {
  padding-top: 20px;

  .chart-section {
    margin-bottom: 70px;
  }

  .chart-container {

    .loading-blue-container {
      left: 560px;
      top: 220px;
    }
  
    .charts {
      height: 400px;
    }
  }

  .chart-legend {
    display: none;
  }

  .x-axis-text {
    margin-top: 40px;
  }

  .zoom-scroll-container {
    margin-top: 20px;
  }

}