@import "colors.css.scss";

.modal-software-update-open,
.modal-software-update-open.pika-set-well-active {

  .modal-dialog {
    margin: 30px auto;
    position: relative;
    width: 500px;
    margin-top: 100px;

    .modal-software-update {
      padding: 10px;


      * {
        font-family: 'dinot';
        font-size: 15px;
      }


      .close {
        float: none;
        font-size: 25px;
        &:hover {
          background: none;
        }
      }

      h1 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .update-details-container {
        padding: 10px;
      }
      .full-update-details {
        cursor: pointer;
      }

      .update-info-full {
        max-height: 200px;
        overflow-y: hidden;
        margin-bottom: 10px;


        &.expand {
          overflow-y: scroll;
          max-height: 500px;
        }
      }

      .upload-form {
        padding: 20px;
        padding-top: 0;

        a:hover {
          background: transparent;
          text-decoration: none;
        }

        .close {
          margin-right: -10px;
        }

        .progressbar-container {
          padding: 0 50px;

          .upload-progressbar {
            background-image: url("/images/light-blue-sprite.jpg");
            background-repeat: no-repeat;
            box-shadow: none;
            border: 1px solid #cceffc;
            color: #000;
            height: 28px;
            padding: 2px 10px;
            text-align: left;
            word-break: break-all;
            overflow: ellipsis;
            -webkit-transition: background-size 0.5s;
            transition: background-size 0.5s;
          }
        }
      }

      .buttons-container {
        text-align: center;
        padding: 30px 0 30px 0;
      }

      .button {
        border: 1px solid $gray;
        background: #fff;
        color: $gray;
        display: inline-block;
        border-radius: 0;
        font-weight: bold;
        min-width: 200px;
        margin-top: 10px;
        padding: 4px 0;

        &.button-green {
          background: $green;
          color: #fff;
          border: none;
          padding: 5px 0;

          &:hover {
            background: $lightgray;
          }
        }

        &:hover {
          text-decoration: none;
          background: $gray;
          color: #fff;
          border: none;
          padding-top: 5px;
          padding-bottom: 5px;
        }

        &.disabled {
          background: $lightgray;
          color: #fff;
          padding: 5px 0;
          border: none;
        }
      }


    }

  }

}