// Css classes for modal warning
// bad practice it over rides other settings, so find another way
.small-modal .modal-dialog {
width: 442px;
}

.modal-dialog-original {
  width: 600px;
}
.modal-warning {
  background-color: white;
  width: 442px;
  height: 251px;
  padding-top: 31px;
  padding-left: 43px;
  font-family: "Open Sans";


  .modal-warning-content {
    min-width: 100px;
    min-height: 100px;
    // Title
    .modal-warning-title-container {
      width: 360px;
      height: 20px;
      border-bottom: 1px black solid;

      .modal-warning-title {

        font-size: 15px;
        float: left;
      }

      .modal-warning-close {
        float: right;
        width: 20px;
        height: 20px;

        img {
          float: right;
          margin-top: 2px;
        }
      }

    }
    // Message
    .modal-warning-message {
      padding-top: 25px;
      width: 360px;
      height: 135px;
      font-size: 14px;
      font-weight: 600px;
    }
    //Button
    .modal-warning-button-container {
      width: 360px;
      text-align: center;

      button {
        width: 242px;
        height: 41px;
        background-color: black;
        color: white;
        font-weight: bold;
        border: none;
      }
    }
  }

}
