.wifi {
  height: 0px;
  position: relative;
  top: 5px;
  left: 100px;

  .arc1 {
    width: 30px;
    height:30px;
  }
  .arc2 {
    width: 40px;
    height: 40px;
  }
  .arc3 {
    width: 20px;
    height: 20px;
  }
  .center {
    width: 5px;
    height: 5px;
    background-color: grey;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
  }
  .show {
    background-color: transparent;
    border:3px solid transparent;
    border-top-color: grey;
    border-radius:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
  }
}

.lock {
  position: relative;
  left: 200px;
  top: -10px;
}

.lock-rect {
  width: 18px;
  height: 14px;
  background-color: grey;
  position: absolute;
  border-radius: 2px;
}

.lock-latch {
  width: 12px;
  height: 12px;
  border: 2px solid grey;
  position: absolute;
  border-radius: 11px;
  top: -8px;
  left: 3px;
}
