.run-experiment-state-active {
  overflow-y: hidden;
  .chart-screens-container {
    flex-grow: 1; 
    position: relative; 
    overflow:auto;    
    height: calc(100vh - 100px);
    .chart-error {
      position: absolute;
      left: 0;
      top: 27%;
      width: 100%;
      padding-top: 40px;
      padding-left: 150px;
      padding-right: 50px;
      text-align: center;
    }
    .loading-blue-container {
      position: absolute;
      left: 0;
      top: 32%;
      text-align: center;
      z-index: 99;
      margin-left: 45%;
      h2 {
        font-weight: bold;
      }
    }
  }
  .zoom-container {
    padding-left: 50px;
  }
  .ampli-scrollbar-container {
    padding-right: 0;
  }
}

////////////////////////// Responsive ///////////////////////////////////////////////////
