@import './colors.css.scss';

.settings-state-active {


  h1 {
    font-family: 'dinot-bold';
    font-size: 18px;
  }

  h2 {
    font-family: 'dinot-bold';
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  h3 {
    font-family: 'dinot';
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .padd-top {
    padding-top: 20px;
  }

  .row {
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
  }

  .underlined {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $gray;
    padding-bottom: 15px;
    margin-top: 50px;
  }

  .header{
    width: 1024px;
    height: 45px;
    background-color: $gray;

    .name-container {
      float: left;
      color: #d6d4d1;
      margin-left: 13px;
      font-size: 18px;
      margin-top: 8px;
      font-family: "Fun City";
    }

    .stripes {
      width: 13px;
      height: 9px;
      float: left;
      cursor: pointer;
      margin-top: 18px;
      margin-left: 30px;

      .stripe {
        height: 1px;
        width: 13px;
        margin-bottom: 3px;
        background-color: white;
      }
    }

    .btn-support-legal {
      border: 2px solid #fff;
      margin-right: 32px;
      margin-top: 7px;
      color: #fff;
      padding: 3px 20px;
      font-weight: 700;
    }
  }

  .content {

    .content-row {
      margin-right: 0;
    }

    .left-menu-container {
      padding-left: 45px;

      .button {
        border: 1px solid $gray;
        background: #fff;
        color: $gray;
        display: inline-block;
        border-radius: 0;
        font-weight: bold;
        width: 100px;
        padding: 2px 0;

        &:hover {
          background: $gray;
          color: #fff;
        }
      }

      .user-container {
        text-align: center;
      }

      ul {
        margin-top: 50px;
        display: block;
        li {
          padding: 0;
          margin-right: -15px;
          margin-left: -45px;
          a {
            font-size: 18px;
            font-weight: bold;
            color: $gray;
            display: block;
            padding: 15px 0px 15px  45px;
            &:hover {
              text-decoration: none;
              color: #fff;
              background: $blue;
            }
          }
        }
      }

    }
    .device-info-container {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 50px;
      height: 100%;
      background: #999;
      border-left: 2px solid #ddd;

      .machine-icon {
        display: block;
        margin: 0 auto;
        margin-top: 100px;
        width: 250px;
      }

      .version-info {
        text-align: center;
        color: #fff;

        .item-version {
          margin-top: 30px;

          h3 {
            margin: 0;
          }
          h2 {
            margin: 0;
            margin-top: 5px;
          }
        }
      }

      .update-button {
        margin: 0 auto;
        margin-top: 30px;
        border: 1px solid #fff;
        padding: 2px 20px;
        background: #999;
        font-weight: bold;
      }

    }

  }

}