@import 'colors.css.scss';


.maintainance-container {

  color: #000;

  .maintainance-container-backdrop {
    background: $gray;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    min-height: 100%;
  }

  .wizards-container {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    //min-height: 100%;
    height: 561px;
    overflow: auto;
    border-right: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;

    .underlined {
      border-color: #ddd;
      border-width: 2px;
    }

    .close {
      font-size: 30px;
      margin-top: -8px;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .wizard-header {
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .wizard {

      margin-bottom: 10px;

      h3 {
        margin-top: 10px;
      }
      p {
        color: $gray;
        font-size: 15px;
        font-family: 'dinot';
      }

      .button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }



  }
}
