// Edit stage step actions come here
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.edit-stage-step-container {
  // width: 1024px;
  // height: 768px;

  .top-half {
    height: 400px;
    // width: 1024px;
    background-color: #ffb400;

    .name-on-top {
      width: 1024px;
      height: 48px;
      background-color: #323232;

        .stripe-container {
            width: 53px;
            height: 48px;
            float: left;

            .stripes {
              width: 13px;
              height: 9px;
              float: left;
              cursor: pointer;
              margin-top: 18px;
              margin-left: 32px;

              .stripe {
                height: 1px;
                width: 13px;
                margin-bottom: 3px;
                background-color: white;
              }
            }
        }

        .top-exp-name {
          float: left;
          width: 468px;
          height: 48px;
          color: white;
          padding-top: 9px;
        }

        .where-m-I {
          float: left;
          width: 304px;
          height: 48px;
          padding-top: 22px;

          .background-bar {
            width: 300px;
            height: 4px;
            background-color: #ADADAD;
            border-radius: 5px;
            cursor: pointer;
          }

          .foreground-bar {
            width: 200px;
            height: 4px;
            background-color: white;
            border-radius: 5px;
          }
        }
        .undo-container {
          float: left;
          padding-left: 20px;
          padding-top: 9px;

          button {
            width: 120px;
            height: 30px;
            background-color: #323232;
            border-width: 1px;
            border-color: white;
            color: white;
          }
        }
    }

    .canvas-containing {
      height: 100%;
      width: 100%;
      // overflow-x: hidden;
      overflow-y: hidden;
      position: relative;

      .canvasClass {
        width: 300px;
        height: 300px;
      }
      .canvas-loading {
        width: 70px;
        height: 30px;
        font-weight: bold;
        font-size: 14px;
        font-family: "dinot";
        margin: 0 auto;
        position: relative;
        top: -200px;
      }
      .canvas-in-progress{
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        width: 100%;
        height: 100%;
        top: 0;
        display: none;

        .canvas-message{
          color: #333;
          font-weight: bold;
          font-size: 14px;
          font-family: "dinot";
          left: 50%;
          top: 50%;
          position: absolute;
          transform: translateX(-50%);
        }
      }
    }
  }

  // ===========================================================//
  .bottom-half {
    // width: 1024px;
    height: 290px;
    background-color: white;
    position: relative;

    .unselectOverlay {
      width: 1024px;
      height: 303px;
      background-color: black;
      position: relative;
      top: 0;
      left: 0;
      opacity: .8;
    }

    .previous {
      width: 60px;
      height: 60px;
      float:left;

      img {
        padding-left: 32px;
        padding-top: 25px;
        cursor: pointer;
      }
    }
    // The middle section of the bottom part of the screen
    .middle-ground {
      width: 901px;
      height: 258px;
      float: left;
      position: relative;
      top: 0px;
      left: 0px;
      overflow: hidden;

      .first-data-row {
        width: 1801px;
        height: 64px;
        position: relative;
      }
      .general-info-container {
        width: 900px;
        height: 64px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: black;
        position: relative;
        //box-shadow: 0 3px 2px -2px gray;
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .summary-mode {
        width: 900px;
        height: 64px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: black;
        position: relative;
        //box-shadow: 0 3px 2px -2px gray;
        position: absolute;
        top: 0px;
        left: 901px;
        padding-top: 22px;

        span {
          white-space: nowrap;
        }

      }

      .data-boxes-container {
        width: 900px;
        height: 194px;
        position: relative;
        overflow: hidden;
      }

      .data-box-container-summary { // To keep the first two data baoxes.
        width: 585px;
        height: 194px;
        float: left;
        overflow: hidden;
        position: relative;
        left: 0px;
      }
      .data-box-container-summary-scroll {
        width: 1000px;
        height: 194px;
        position: absolute;
        top: 0px;
        left: 0px;
      }

      .exp-overview {
        left: 645px;
      }

      .exp-metadata {
        left: 968px;
      }

      .data-boxes {
        width: 262px;
        height: 194px;
        position: absolute;

        .name-board {
          height: 50px;
          color: black;
          padding-top: 23px;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: black;
          //box-shadow: 0 3px 2px -2px gray;

          .toggle-container {
            width: 22px;
            height: 12px;
            margin-top: 3px;
            float: left;
          }
          span {
            margin-left: 9px;
            float: left;
          }
        }
      }
      .auto-delta {
        //margin-left: 61px;
        left: 323px;//
      }

      .edit-stage-step {
        //margin-left: 53px;
        left: 637px;
      }
        .action-container {
          position: relative;;
          padding-top: 15px;
        }
          .big_button {

            width: 263px;
            background-color: white;
            height: 30px;
            border: 1px solid black;
            margin-bottom: 17px;
            font-weight: 100;
          }

          .big_button_disabled {
            width: 263px;
            background-color: white;
            height: 30px;
            border: 1px solid #cdcdcd;
            margin-bottom: 17px;
            font-size: 12px;
            font-weight: bold;
            color: #cdcdcd;
            cursor: default;
          }

          .small_button {
            width: 120px;
            background-color: white;
            height: 30px;
            border: 1px solid black;
            font-weight: 100;
          }
          .small_button_disabled {
            width: 120px;
            background-color: white;
            height: 30px;
            border: 1px solid #cdcdcd;
            font-weight: 100;
            color: #cdcdcd;
            cursor: default;
          }

          .smallButtonEdit {
            background-color: black;
            color: white;
          }
          .move-small-button {
            margin-left: 17px;
          }
          .go-right {
            float: right;
          }


      // For disabling the field
      .disabled {
        color: #cdcdcd;
        border-bottom-color: #545454;
      }
      .notDisabled {

        border-bottom-color: #cdcdcd;
      }

     .bottom-common-item {
        height: 47px;
        width: 262px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: #cdcdcd;
        position: relative;
        left: 0px;

        .help-part {
          font-size: 12px;
          font-family: "dinot";
          position: absolute;
          left: 0px;
          top: 20px;
          z-index: 89;
          color: #cdcdcd;
        }

        .caption-part {
          height: 47px;
          width: 140px;
          float: left;
          padding-top: 16px;
          position: relative;

          .lift-for-help {
            position: absolute;
            z-index: 90;
            background-color: white;
          }

          .capsule {
            position: absolute;
            float: right;
            top: 20px;
            left: 100px;
            width: 32px;
            height: 16px;
            background-color: #cdcdcd;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            border-color: #cdcdcd;
            border-width:1px;
            border-style: solid;
            cursor: pointer;

            .capsule-container {
                position: relative;


            .plus {
              position: absolute;
              left: 3px;
              top: -5px;
              font-size: 16px;
              font-weight: 800;
              color: grey;
            }

            .ball-cover {
              width: 14px;
              height: 14px;

              .white-ball {
                width: 14px;
                height: 14px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background-color: white;
                position: absolute;

                .center-circle {
                  width: 6px;
                  height: 6px;
                  background-color: #cdcdcd;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  position: absolute;
                  top: 4px;
                  left: 4px;
                }
              }
            }

            .minus {
              position: absolute;
              left: 20px;
              top: -5px;
              font-size: 16px;
              font-weight: 800;
              color: grey;
              cursor: pointer;
            }
          }
        }
        }

        .data-part-summary {
          height: 47px;
          width: 122px;
          float: right;
          text-align: right;
          padding-top: 12px;
          position: relative;
        }

        .dataPartSpanSummary {
          font-size: 12px;
          width: 122px;
        }

        .data-part {
          height: 47px;
          width: 95px;
          float: right;
          text-align: right;
          padding-top: 16px;
          position: relative;

          .small-s {
            //font-size: 30px;
          }

          .data-part-div {
            //background-color: red;
            position: relative;
            top: -4px;
          }
          .time-part {
            width: 95px;
            float: left;

            .time-part-edit {
              width: 95px;
              position: relative;
              background-color: black;
              color: white;
              height: 58px;
              top: -67px;
              border: none;
              display: none;
              outline: none;
            }
          }

          .seperator {
            width:10px;
            float: left;
            padding-left: 6px;
          }

          .input-data-part {
            height: 27px;
            position: absolute;
            top: 10px;
            left: 0px;
            text-align: right;
            font-weight: bold;
            border: none;
            outline: none;
          }

          .data-part-edit-value {
            width: 65px;
          }

          .data-part-edit-value-ramp {
            width: 75px;
            left: -18px;
          }

          .data-part-edit-value-no-unit {
            width: 95px;
          }
          .unit-display {
            float: right;
            position: relative;
            top: -5px;
            left: -7px;
          }
          .unit-display-ramp {
            float: right;
            position: relative;
            top: -5px;
          }
        }

        .minified-font {
          width: 105px;
          span {
            font-size: 30px;
            vertical-align: middle;
          }
        }

        .dots {
          float: left;
          width:23px;
          height: 53px;
          padding-top: 28px;
          padding-left: 5px;
        }
      }
    }

    .next {
      width: 60px;
      height: 60px;
      float:left;

      img {
        // We rotate the image so just inverse the left and top too..
        padding-right: 15px; // 41 - image width
        padding-bottom: 25px;
        cursor: pointer;
         -ms-transform: rotate(180deg); /* IE 9 */
         -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
          transform: rotate(180deg);
      }
    }


    .speedCaption {
      padding-left: 7px;
      span {
        font-size: 37px;
      }
    }
  }
}

.exp-info-bar {
  width: 100%;
  height: 40px;
  background-color: #323232;
  // position: absolute;
  // top: 280px;
}

.lol-pop {
  width: 180px;
  height: 120px;
  position: absolute;
  top: 43px;
  left: 678px;
  z-index: 500;

  .add-stage-popup {
    width: 180px;
    height: 120px;
    background-color: black;
    position: absolute;;
    opacity: .9;

    .tail {
      width: 20px;
      height: 20px;
      position: absolute;
      background-color: black;
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      transform: rotate(45deg);
      top: 110px;
      left: 80px;
    }
  }

  .add-stage-popup-content {
    width: 150px;
    height: 111px;
    font-family: "dinot";
    font-weight: 100;
    position: relative;
    left: 15px;
    top: 21px;

    button {
      margin-bottom: 3px;
      width: 150px;
      background-color: white;
      border: none;
    }
  }
}

.exp_completed_overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
