@import 'colors.css.scss';


.system-container {

  color: #000;

  .maintainance-container-backdrop {
    background: $gray;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    min-height: 100%;
  }

  .wizards-container {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    //min-height: 100%;
    height: 100%;
    //overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;

    .underlined {
      border-color: #ddd;
      border-width: 2px;
    }

    .close {
      font-size: 30px;
      margin-top: -8px;
    }
    h3 {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .wizard-header {
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .wizard {

      margin-bottom: 10px;

      h3 {
        margin-top: 10px;
      }
      .support-text {
        margin-top: 30px;
        margin-bottom: 15px;
      }
      p {
        color: $gray;
        font-size: 15px;
        font-family: 'dinot';
      }

      .normal-button {

        font-family: "dinot-bold";
        font-size: 16px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 260px;
        border-width: 2px;
        background-color: white;
        border: 2px solid grey;
      }

      .normal-button:hover {
        color: white;
        border: 2px solid black;
        background-color: black;
        //border-width: 2px;
      }

      .green-button {
        font-family: "dinot-bold";
        font-size: 16px;
        color: white;
        background-color: #8dc63f;
        border: 1px solid white;
        width: 260px;
        height: 32px;
      }

      .green-button:hover {
        color: black;
        border: 2px solid #8dc63f;
        background-color: white;
      }
			.grey-button {
				font-family: "dinot-bold";
				font-size: 16px;
				color: white;
				background-color: #C5C5C5;
				border: 1px solid white;
				width: 260px;
				height: 32px;
			}


    }



  }
}
