@import "./colors.css.scss";

.temperatureLog-state-active {
  padding-bottom: 20px;

  .row.zoom-scroll-container {
    margin-top: 15px;
    margin-right: -65px;
  }

  .chart-container {
    height: 400px;
  }

  .chart-legend {
    display: none;
  }

  // $marginTop: 230px;
  // .vertical-text {
  //   margin-top: $marginTop;
  //   margin-bottom: -$marginTop;
  // }
}
