.usermanagement-container {
  height: 723px;
  width: 100%;
  background-color: white;

  .left {
    width: 320px;
    height: 100%;
    float: left;
  }

  .right {
    width: 370px;
    height: 100%;
  }
}
