@import './colors.css.scss';
.usermanagement-container {
  height: 723px;
  width: 100%;
  background-color: white;
  color: black;

  .close {
      font-size: 30px;
  }

  .left {
    width: 320px;
    height: 100%;
    float: left;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #cdcdcd;

    .underlined {
      margin-left: 18px;
      margin-right: 18px;
    }
    .buttons-container {
      margin-top: 22px;
      margin-left: 18px;
      margin-bottom: 10px;
      button {
        width: 260px;
      }
    }

    .user-data {
      font-size: 16px;
      //margin-top: 25px;
      //margin-left: 10px;

      ul {
        li {
          font-family: "dinot-regular";
          font-size: 16px;
          a {
            cursor: pointer;
            color: #000;
            display: block;
            padding: 10px 0px 10px 28px;
            text-decoration: none;
            font-size: 16px;
          }
          a:hover {
            color: #fff;
            background: $lightgray;
          }
          a.highlite {
            color: #fff;
            background: $blue;
          }
        }

      }
    }
  }

  .right {
    width: 350px;
    height: 100%;
    float: left;
    padding-left: 30px;

    .network-details p{
      font-size: 14px;
      padding-top: 80px;
    }
    .user-details p {
      //font-family: "dinot-bold";
      font-size: 14px;
      //color: black;
      //padding-top: 25px;
    }
  }

  .mac-address-span {
    padding-left: 28px;
    font-size: 14px;
    font-family: "dinot-bold";
    color: #555555;
    span {
      font-size: 14px;
      font-family: "dinot-regular";
    }
  }

  .wifi-spinner {
    padding-left: 28px;
    font-size: 24px;
  }

  .wifi-control {
    margin-top: 40px;
    font-family: "dinot-bold";
    height: 30px;
    .wifi-caption {
      margin-left: 28px;
      float: left;
    }
    .wifi-changer {
      float: left;
      width: 50px;
      height: 30px;
      margin-left: 10px;
      padding-top: 5px;
    }
  }

  .mac-cover {
    width: 100%;
    //height: 100px;
    margin-bottom: 40px;
  }
  .bold-letter {
    font-family: "dinot-bold";
  }
}

.usermanagement-container-current {
  background-color: #999;
  width: 100%;
  color: black;

  .usermanagement-container-backdrop {
    background: #333;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    min-height: 100%;
  }

  .left {
    width: 320px;
    height: 100%;
    float: left;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #cdcdcd;
    background-color: white;
    position: absolute;
    top: 0px;

    .user-details-container {
        margin-left: 18px;

        .error-text {
          font-size: 14px;
          font-family: "dinot-regular";
        }

        .p-caption {
          font-family: "dinot-bold";
          font-size: 14px;
          color: black;
          padding-top: 25px;
        }

        .field {
          height: 430px;


          .text-class {
            width: 260px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid lightgray;
          }

          input.ng-invalid.ng-touched {
            width: 260px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid red;
          }
          .email-field {
            .button {
              width: 260px;
            }
          }
        }

    }

    .underlined {
      margin-left: 18px;
      margin-right: 18px;
    }
  }
}
