@import "./variables.scss";

.chai-mode{
	.ch-button{
		padding: 10px 24px;
		border-radius: 4px;
		background: $white;
		color: $black;
		border: 2px solid $black;
		cursor: pointer;
		&.primary{
			background: $green;
			color: $white;
			border: 2px solid $dark-green;
		}

		&:disabled{
			cursor: initial;
			opacity: 0.2;
		}
	}

	.ch-form-control{
		background: #fafafa;
		border: 2px solid #CCCCCC;
		border-radius: 4px;
		padding: 10px;
		outline: none;

		&:focus, &:active{
			border-color: #00BAFF;
		}
	}
}