.setting-home {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;

  .menu-box{
    padding: 40px;
    flex: 0 0 340px;

    .ch-button{
      padding: 16px 30px;
      &.xl{
        padding: 36px;
        width: 100%;
        text-align: center;
      }
    }
  }

  .stat-box{
    padding: 40px 20px;
    background: #FAFAFA;
    box-shadow: inset 1px 0px 2px #00000040;
    flex: 1;

    .logo{
      border: 2px solid #E02127;
      height: 38px;
      width: 100px;
      display: block;
    }

    .stat-line{
      margin-bottom: 20px;
      span{
        display: block;        
      }
    }
  }
}