<!DOCTYPE html>
<html lang="en" ng-app="ChaiBioTech">
<head>
  <meta charset="UTF-8">
  <title ng-bind="title"></title>
  <base href="/">
  <%= stylesheet_link_tag    "angular-js", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "angular-js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ui-view>
</body>
</html>