<div id="homepage">
		<h1>qPCR Kit</h1>

		<div class="button-big blue-scheme"><%=link_to "Start an experiment", experiments_path %></div>
		<div class="button-big blue-scheme">Load Diagnostic Kit</div>
		<div class="button-big blue-scheme">See Past runs</div>
		<div class="button-big blue-scheme">Utilities</div> 
		
</div>