
<div ng-controller="LoginCtrl">
  <form class="login-wrapper">
    <div class="login-box">
      <div class="login-section title-field">
        <img src="/images/login_logo.png">
        <span ng-if="software_version" class="version-data">Version {{software_version}}</span>
      </div>
      <div class="login-section">
        <div class="login-field">
          <span class="login-field-text">Username</span>
          <input type="text" id="user" class="login-text-field" placeholder="Email Address" autofocus="" ng-model="user.email">
        </div>
        <div class="login-field second">
          <span class="login-field-text">Password</span>
          <input type="password" id="pass" placeholder="Enter Password" class="login-text-field" ng-model="user.password">
        </div>
      </div>
      <div class="login-section">
        <p class="text-danger text-center err-message" >
          &nbsp;{{errors}}
        </p>
        <div class="login-bitton-container">
          <button type="submit" class="login-button" id="login-button" ng-click="login(user)">Sign In</button>
        </div>
      </div>

      <div class="serial-container">
        <span class="serial-data">Serial #:&nbsp;{{serial_number}}</span>
      </div>
    </div>

  </form>

</div>

<script type="text/javascript">
  $(document).ready(function () {
    angular.bootstrap(document, ['LoginApp']);
  });
</script>
