
<div class="welcome-page" ng-controller="WelcomeCtrl">
  <div class="container-fluid">
    <div class="row top-container">
      <div class="col-sm-8 col-sm-offset-2">
        <img src="/images/logo-qpcr-large.png" alt="" class="logo">
        <span class="version-data">Version {{software_version}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="welcome-title">
          WELCOME TO <br>
          OPENQPCR
        </div>
        <div class="welcome-subtitle">
          Please create an account to get started.
        </div>

        <div class="serial-container">
          <span class="serial-data" ng-if="software_version">Serial#:&nbsp;{{serial_number}}</span>
        </div>
      </div>
      <div class="col-sm-6">
        <form name="registrationForm" role="form" ng-submit="submit(user)">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="user.name" placeholder="NAME">
            <span ng-repeat="err in errors.name" class="help-block">
              <span class="text-danger">Username {{err}}</span>
            </span>
          </div>
          <div class="input-group">
            <input type="email" class="form-control" ng-model="user.email" placeholder="EMAIL ADDRESS">
            <span ng-repeat="err in errors.email" class="help-block">
              <span class="text-danger">Email {{err}}</span>
            </span>
          </div>
          <div class="input-group">
            <input type="password" class="form-control" ng-model="user.password" placeholder="PASSWORD">
            <span ng-repeat="err in errors.password" class="help-block">
              <span class="text-danger">Password {{err}}</span>
            </span>
          </div>
          <div class="input-group">
            <input type="password" class="form-control" ng-model="user.password_confirmation" placeholder="CONFIRM PASSWORD">
            <span ng-repeat="err in errors.password_confirmation" class="help-block">
              <span class="text-danger">Password confirmation {{err}}</span>
            </span>
          </div>
          <button class="btn btn-green SH">CREATE ACCOUNT</button>
        </form>
        <img src="/images/chai.png" alt="" class="chai-img">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    angular.bootstrap(document, ['WelcomeApp']);
  });
</script>
