<div class="exp-in-progress-bar-heading sansa">
  TEST IN PROGRESS
</div>
<div class="exp-in-progress-bar-info-container">
  <div class="column1 adjustmentsForR1 sansa">MALARIA TEST ALPHA</div> <div class="column2 adjustmentsForR1 sansa">TIME REMAINING</div>
  <div class="column1 adjustmentsForR2 sansa">STAGE3, STEP2</div> <div class="column2 adjustmentsForR2 sansa">01:13:03</div>
  <div class="column1 adjustmentsForR3 sansa">
    <span>Block Temp:</span> 57.2ºC
  </div>
  <div class="column2 adjustmentsForR3 sansa">
    <span>Lid Temp:</span> 120.0 ºC
  </div>
</div>

<div class="black-bar">
  <div class="blue-bar">
    
  </div>
</div>
