// Color Variables
$white: #ffffff;
$black: #000;
$red: red;
$gray: #777;
$dark-gray: #333;

// Set Wells Page
$section-border-color: rgba(0,0,0,0.16);
$cell-border-color: #707070;
$sub-border-color: #BFBFBF;
$well-type-color: #000B60;
$well-number-color: #BFBFBF;
$text-cursor-color: #00CEFF;
$link-text-color: #DF2025;
$minimap-color: #676767;
$btn-disable-color: #BFBFBF;
$btn-active-color: #DF2025;
$btn-active-color: #DF2025;
$line-select-color: #00B0F1;
