/* You can add global styles to this file, and also import other style files */

html, body{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@import "assets/stylesheets/fonts";
@import "assets/stylesheets/chart-section";

