[Unit]
Description=Rserve

[Service]
WorkingDirectory=/root/chaipcr/scientific
ExecStart=/usr/local/bin/R CMD Rserve --RS-enable-control --no-save
SyslogIdentifier=Rserve
Restart=on-failure
StartLimitBurst=0
StartLimitInterval=0
Type=forking

[Install]
WantedBy=multi-user.target

