<div class="home-page-wrapper">
   <!-- Left side of the home page -->
   <div class="home-page-left-wing">
      <div class="left-wing-content">
         <div class="home-page-logo">
            <img src="assets/logo.png">
         </div>
         <div class="home-page-menu">
            <div class="menu-content">
               <div class="menu-heading">
                  <div class="welcome-text simplifica">
                     WELCOME,
                  </div>
                  <div class="logout-text">
                     <a class="sansa" href="#/login">SIGN OUT</a>
                  </div>
               </div>
               <div class="menu-items">
                  <div class="NEWEXPERIMENT menu-item-bounce">
                     <div class="simplifica">
                        <div class="first-row">
                           <div class="menu-item-image">
                           </div>
                           <div class="menu-item-text" ng-click="HomeCtrl.newExperiment()">
                              NEW EXPERIMENT
                           </div>
                        </div>
                        <div class="second-row">
                           <div class="hand-container">
                              <div class="hand"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="menu-item RUNA KIT">
                     <div class="simplifica">
                        <div class="first-row">
                           <div class="menu-item-image">
                           </div>
                           <div class="menu-item-text">
                              RUN A KIT
                           </div>
                        </div>
                        <div class="second-row">
                           <div class="hand-container">
                              <div class="hand"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="menu-item SETTINGS">
                     <div class="simplifica">
                        <div class="first-row">
                           <div class="menu-item-image">
                           </div>
                           <div ui-sref="settings" class="menu-item-text" style="font-weight: normal;">
                              SETTINGS
                           </div>
                        </div>
                        <div class="second-row">
                           <div class="hand-container">
                              <div class="hand" style="display: none;"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="experiment-in-progress-container">
            <experiment-progress></experiment-progress>
         </div>
      </div>
   </div>
   <!-- Right side of the home page -->
   <div class="home-page-right-wing">
      <div>
         <div class="previous-experiment-container">
            <div class="previous-experiment-heading">
               <div class="text sansa">PREVIOUS EXPERIMENTS</div>
               <div class="dots"> ... </div>
            </div>
            <div class="all-experiments">
               <div class="loading" ng-show="experiments.length == 0">Loading ......! <img src="assets/loading.gif"></div>
               <div class="individual-experiment" ng-repeat="exp in experiments">
                  <div class="first-row">
                     <div class="image"></div>
                     <div class="text simplifica"><a href="#">{{exp.experiment.name}}</a></div>
                     <div class="dotordate sansa" style="width: 70px;">
                        {{exp.experiment.created_at | date: 'MMMM yyyy' | uppercase}}
                     </div>
                  </div>
                  <div class="second-row">
                     <div class="hand-container">
                        <div class="hand" style="display: none;"></div>
                     </div>
                     <div class="more-info sansa">
                        <span class="created-text">CREATED
                        </span>{{exp.experiment.created_at | amCalendar | uppercase}}</div>
                     <div class="dotor">
                        <div class="ball"></div>
                     </div>
                  </div>
                  <div class="confirm-box sansa">
                     <div>Are you sure ?.</div>
                     <div>
                        <button class="no-delete">No</button>
                        <button class="yes-delete">Yes</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>