<div class="login-wrapper">
  <div class="login-box">
    <div class="login-section title-field">
      <img src="assets/logo-qpcr.png">
    </div>
    <div class="login-section">
      <div class="login-field">
        <span class="login-field-text simplifica">USERNAME</span>
        <input type="text" id="user" class="login-text-field" placeholder="E-Mail Address" autofocus="">
      </div>
      <div class="login-field">
        <span class="login-field-text simplifica">PASSWORD</span>
        <input type="password" id="pass" placeholder="Enter Password" class="login-text-field">
      </div>
    </div>
    <div class="login-section">
      <div class="login-bitton-container">
        <button class="login-button" id="login-button" ng-click="LoginCtrl.login()">SIGN IN</button>
      </div>
<!--       <div class="login-trouble">Trouble signing in?</div> -->
    </div>
  </div>
</div>