<h1>Sign Up</h1>
<form name="signUpForm" ng-submit="submit()">
  <div class="input-group">
    <label for="">Name</label>
    <input type="text" class="form-control" ng-model="user.name">
    <span class="help-block" ng-repeat="err in errors.name">
      <span class="text-danger">Name {{err}}</span>
    </span>
  </div>
  <div class="input-group">
    <label for="">Email</label>
    <input type="email" class="form-control" ng-model="user.email">
    <span class="help-block" ng-repeat="err in errors.email">
      <span class="text-danger">Email {{err}}</span>
    </span>
  </div>
  <div class="input-group">
    <label for="">Password</label>
    <input type="password" class="form-control" ng-model="user.password">
    <span class="help-block" ng-repeat="err in errors.password">
      <span class="text-danger">Password {{err}}</span>
    </span>
  </div>
  <div class="input-group">
    <label for="">Confirm Password</label>
    <input type="password" class="form-control" ng-model="user.password_confirmation">
    <span class="help-block" ng-repeat="err in errors.password_confirmation">
      <span class="text-danger">Password confirmation field {{err}}</span>
    </span>
  </div>
  <div class="input-group">
    <button class="button">
      Submit
    </button>
  </div>
</form>