<div class="edit-stage-step-container">

  <div class="top-half noselect">
    <div class="name-on-top">
      <div class="stripes-and-name">
        <a toggle-sidemenu>
          <div class="stripes">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          </div>
        </a>
        <div class="name-container">{{protocol.name}}</div>
      </div>
    </div>

    <div class="canvas-containing">
        <canvas class="canvasClass" id="canvas"></canvas>
    </div>
  </div>
  <div class="bottom-half noselect">
  K
  </div>

</div>
