<div class="edit-stage-step-container">

  <div class="top-half noselect">
    <div class="name-on-top">
      <div class="stripes-and-name">
        <a toggle-sidemenu>
          <div class="stripes">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          </div>
        </a>
        <div class="name-container">{{protocol.name}}</div>
      </div>
    </div>

    <div class="canvas-containing">
        <canvas class="canvasClass" id="canvas"></canvas>
    </div>
  </div>
  <div class="bottom-half noselect">
    <div class="middle-ground">
      <div class="first-data-row">
        <div class="bottom-step-no ostrich">02</div>
<div class="bottom-no-of-stages ostrich">/08</div>
<div class="bottom-name-of-step-stage ostrich">
  <span class="bottom-name-of-step-span">NAME OF STEP/STAGE</span>
  <input type="text" class="edit-step-name">
</div>
<div class="bottom-stage-name sansa">HOLDING STAGE</div>

<div class="bottom-step-no-cycle-container">
  <div class="bottom-step-no-cycle ostrich">
    <span class="bottom-step-no-cycle-span"></span>
    <input type="text" class="bottom-step-no-cycle-edit">
  </div>
  <div class="bottom-step-x ostrich">x</div>
  <div class="bottom-cycles-and-dots sansa">CYCLES</div>
  <div class="bottom-cycle-dots"></div>
</div>

<div class="bottom-button-container">
  <div id="delta-button" class="bottom-button-class">
    <div class="delta-button-image-container">
      <img class="delta-button-image" src="assets/delta-image.png">
    </div>
    <div class="delta-button-text">
      AUTODELTA OFF
    </div>
  </div>
</div>
<div class="bottom-button-container">
  <div id="gather-data-button" class="bottom-button-class">
    <div class="gather-data-button-image-container">
      <img class="gather-data-button-image" src="assets/gather-data-image.png">
    </div>
    <div class="gather-data-button-text">
      GATHER DATA ON
    </div>
  </div>
  <div class="lol-pop">
    <div class="gather-data-popup">
      <div class="tail"></div>
    </div>
    <div class="gather-data-popup-content">
      <div class="small-button first sansa" id="during-step">
        <div class="tik-image-container">
          <img class="tik-image-during-step" src="assets/tik.png">
        </div>
        <div class="tik-text-container">
          <span>DURING STEP</span>
        </div>
      </div>
      <div class="small-button sansa" id="after-step">
        <div class="tik-image-container">
          <img class="tik-image-during-ramp" src="assets/tik.png">
        </div>
        <div class="tik-text-container">
          <span>DURING RAMP</span>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
      <div class="data-boxes temperature-change">
        <div class="name-board sansa">TEMPERATURE CHANGE SPEED</div>
      </div>
      <div class="data-boxes auto-delta">
        <div class="name-board sansa">AUTO DELTA</div>
      </div>
      <div class="data-boxes edit-stage-step">
        <div class="name-board sansa">EDIT STEP & STAGE</div>
      </div>
    </div>
  </div>

</div>
