<div class="diagnostic-in-progress">
  <div class="page-layout">
    <div class="header">
      <div class="stripes-and-name">
        <a toggle-sidemenu>
          <div class="stripes">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          </div>
        </a>
        <div class="name-container truncate">THERMAL PERFORMANCE DIAGNOSTIC</div>
      </div>
    </div>

    <div class="content">
      <div class="text-center">
        <h2>Diagnostic in Progress</h2>
        <p>Please do not touch or open device.</p>
        <h1>Heating Lid</h1>
        <p>Time Elapsed: 00:21:00</p>
      </div>
      <div class="text-center">
        <button>
          CANCEL
        </button>
      </div>
    </div>

  </div>
</div>
