<div class="home-page-wrapper">
   <!-- Left side of the home page -->
   <div class="home-page-left-wing">
     <div class="home-page-new-logo"></div>
     <div class="home-page-welcome HBIG">Welcome, {{user.name}}</div>

     <div class="home-page-new-exp-container">
       <button class="home-page-new-exp-button H2" ng-click="HomeCtrl.newExperiment()">CREATE A NEW EXPERIMENT</button>
     </div>
     <div class="home-page-go-settings-container">
       <button class="home-page-small-button SH" ui-sref="settings.root">SETTINGS</button>
     </div>
     <div class="home-page-logout-container">
       <button class="home-page-small-button SH" logout>SIGN OUT</button>
     </div>
     <div class="home-page-link-container B2">Join the communty at <a target="_blank" href="http://chaibio.com/">www.chaibio.com</a></div>
     <!--<div class="left-wing-content">
       <div class="home-page-logo">
          <img src="/images/logo.png">
       </div>
       <div class="home-page-welcome">
         Welcome, {{user.name}}
       </div>
       <div class="home-page-circle"></div>
       <div class="home-page-sign-out" logout >SIGN OUT</div>
       <div class="home-page-new-exp-container">
         <button class="home-page-new-exp-button" ng-click="HomeCtrl.newExperiment()">CREATE A NEW EXPERIMENT</button>
       </div>

       <div class="home-page-go-settings-container">
         <button class="home-page-go-settings-button" ui-sref="settings.root">VIEW SETTINGS</button>
       </div>
     </div> -->
   </div>
   <!-- End of Left side of the home page -->
   <!-- Right side of the home page -->
   <div class="home-page-right-wing">
     <div class="home-page-exp-header-container">
       <div class="home-page-recent-exp">RECENT EXPERIMENTS</div>
       <div ng-class="{'home-page-edit-exp': !deleteMode, 'home-page-edit-exp-active': deleteMode}" ng-click="deleteMode = !deleteMode">EDIT</div>
     </div>

     <div class="loading home-page-exp-messages" ng-show="experiments === null">Loading&nbsp;<ellipsis-animated><ellipsis-animated/></div>
     <p class="home-page-exp-messages" ng-show="experiments !== null && experiments.length === 0">No experiments yet.</p>

     <div class="home-page-exp-container" ng-show="experiments !== null && experiments.length !== 0">
       <div  ng-repeat="exp in experiments | orderBy:'experiment.created_at':true" class="home-page-exp-tile">
         <div class="home-page-tile-text">
           <span class="home-page-exp-name" ng-click="HomeCtrl.openExperiment(exp.experiment)">{{exp.experiment.name}}</span> <br/>
           <span class="home-page-exp-created-at" ng-show="!exp.experiment.started_at">Created {{exp.experiment.created_at | amCalendar}}</span>
           <span class="home-page-exp-created-at" ng-show="exp.experiment.started_at">Run {{exp.experiment.started_at | amCalendar}}</span>
         </div>
         <div class="home-page-circle-container">
           <div class="home-page-exp-circle"></div>
         </div>
       </div>
     </div>
      <!--<div>
         <div class="previous-experiment-container">
            <div class="previous-experiment-heading">
               <div class="text sansa">PREVIOUS EXPERIMENTS</div>
               <div class="dots" ng-click="deleteMode = !deleteMode"> ... </div>
            </div>
            <div class="all-experiments" ng-class="{'delete-mode': deleteMode}">
               <div class="loading" ng-show="experiments === null">Loading ......! <img src="/images/loading.gif"></div>
               <p ng-show="experiments !== null && experiments.length === 0"><i>No experiments yet.</i></p>
               <div class="individual-experiment" ng-class="{'del': exp.del}" ng-repeat="exp in experiments | orderBy:'experiment.created_at':true">
                  <div class="first-row">
                     <div class="image noselect" ng-click="HomeCtrl.confirmDelete(exp)">
                        <span ng-if="deleteMode">&times;</span>
                     </div>
                     <div class="text simplifica">
                        <a ng-click="HomeCtrl.openExperiment(exp.experiment)" class="truncate">
                           {{exp.experiment.name}}
                        </a>
                     </div>
                     <div class="dotordate sansa" style="width: 70px;">
                        {{exp.experiment.created_at | date: 'MMMM yyyy' | uppercase}}
                     </div>
                  </div>
                  <div class="second-row">
                     <div class="hand-container">
                        <div class="hand"></div>
                     </div>
                     <div class="more-info sansa truncate"  ng-show="!exp.experiment.started_at" title="{{exp.experiment.created_at | amCalendar | uppercase}}">
                        <span class="created-text">
                           CREATED
                        </span>
                        {{exp.experiment.created_at | amCalendar | uppercase}}
                     </div>
                     <div class="more-info sansa truncate"  ng-show="exp.experiment.started_at" title="{{exp.experiment.started_at | amCalendar | uppercase}}">
                        <span class="created-text">
                           RUN
                        </span>
                        {{exp.experiment.started_at | amCalendar | uppercase}}
                     </div>
                     <div class="dotor">
                        <div class="ball"></div>
                     </div>
                  </div>
                  <div class="confirm-box sansa">
                     <div>Are you sure ?.</div>
                     <div>
                        <button class="no-delete" ng-click="exp.del = false">No</button>
                        <button class="yes-delete" ng-click="HomeCtrl.deleteExperiment(exp)">Yes</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div> -->
   </div>
   <status-bar></status-bar>
</div>
