<div menu-overlay sidemenu-template="app/views/experiment/left-menu.html">
  <div class="edit-stage-step-container" ng-controller="StageStepCtrl">
    <div class="top-half noselect">
      <!-- Top part -->
      <div class="name-on-top">
        <div class="stripe-container">
          <div class="stripes">
            <a toggle-sidemenu>
              <div class="stripe"></div>
              <div class="stripe"></div>
              <div class="stripe"></div>
            </a>
          </div>
        </div>
        <div class="top-exp-name">
          {{protocol.name}}
        </div>
        <div class="where-m-I">
          <!-- This is going to be a directive -->
          <scroll-on-top></scroll-on-top>
        </div>
        <div class="undo-container">
          <button id="undo-action">UNDO</button>
        </div>
      </div>
      <!-- Top part End-->
      <!-- Canvas Part -->
      <div class="canvas-containing">
          <canvas class="canvasClass" id="canvas"></canvas>
      </div>
    </div>
    <!-- Canvas Part End-->

    <!-- bottom-half-->
    <div class="bottom-half noselect" >

      <arrow class="previous" action="previous" ng-click="arrowClicked()"></arrow>
      <div class="middle-ground">
        <general></general>

        <div class="data-boxes temperature-change">
          <div class="name-board ">TEMPERATURE DETAILS</div>
            <temperature caption="Temperature" unit="ºC" reading="step.temperature" action="WOWaction(edit)"></temperature>
            <ramp-speed caption="Ramp Speed" unit="C/s" reading="step.ramp.rate"></ramp-speed>
            <hold-duration caption="Hold Duration" reading="step.hold_time" pause="! step.pause"></hold-duration>
        </div>
        <div class="data-boxes auto-delta">
          <div class="name-board "><auto-delta-toggle data="stage.auto_delta" type="{{stage.stage_type}}" call="changeDelta"></auto-delta-toggle> <span><b>Δ</b>&nbspAUTODELTA</span></div>
          <start-on-cycle caption="Start On Cycle" delta="stage.auto_delta" reading="stage.auto_delta_start_cycle"></start-on-cycle>
          <temp caption="Δ Temp" unit="ºC" delta="stage.auto_delta" reading="step.delta_temperature"><capsule func="changeDeltaTemperature" delta="{{stage.auto_delta}}" data="step.delta_temperature"></capsule></temp>
          <time caption="Δ Time" delta="stage.auto_delta" reading="step.delta_duration_s"><capsule func="changeDeltaTime" delta="{{stage.auto_delta}}" data="step.delta_duration_s"></capsule></time>
        </div>
        <div class="data-boxes edit-stage-step">
          <div class="name-board ">EDIT STEPS + STAGES</div>
            <actions></actions>
        </div>
      </div>
      <arrow class="next" action="next" ng-click="arrowClicked()"></arrow>

      <div class="exp-info-bar"> <!--the balack bar in the bottom comes here --></div>
    </div>
      <div id="curtain" class="unselectOverlay"></div>
    </div>
  </div>
</div>
