<div class="step-4">
  <p class="step"><b>STEP 6</b>/7</p>
  <h2>Insert HEX Strips</h2>

  <div class="row tubes-container">
    <div class="col-md-6">
      <div class="solution-label">
        <span><b>2</b>x 8-well HEX Strips</span>
      </div>
      <img src="./images/tubes-green.png" class="tubes">
    </div>
    <div class="col-md-6 machine-icon-container">
      <img src="./images/machine-idle.png" alt="">
    </div>
  </div>

  <div class="instruction">
    <b class="top-text">NEXT:</b> <BR>
    Load the 2 strips of <b>3 uM HEX Solution</b>.
  </div>

  <div class="text-center">

    <button ng-show="!cancel" ng-disabled="error" ng-class="{errorButton: error}" ng-click="resumeExperiment()">NEXT</button>
  </div>

</div>
