<div class="experiment-properties-subtoption" ng-controller="EditExperimentPropertiesCtrl">
  <div class="heading">
    EXPERIMENT NAME
  </div>
  <div class="exp-name-container">
    <span class="exp-name simplifica" ng-show="!editExpNameMode">
      {{experiment.name}}
    </span>
    <input type="text" class="exp-name simplifica" ng-model="experiment.name" ng-show="editExpNameMode" ng-blur="saveExperiment()" focus-on="editExpNameMode">
    <span class="action" ng-click="focusExpName()" ng-show="!editExpNameMode">EDIT</span>
    <span class="help-block" ng-show="errors">
      <span class="text-danger">{{errors}}</span>
    </span>
    <span class="help-block" ng-show="success">
      <span class="text-success">{{success}}</span>
    </span>
  </div>

 <!--   <div class="heading">
    EXPERIMENT TYPE
  </div>
  <div class="experiment-types-list">
    <div class="item"
          ng-repeat="type in expTypes"
          ng-click="typeSelected(type)"
          ng-class="{active: selectedType === type}">

      <div class="ball"></div>
      <span class="text">{{type.text}}</span>
    </div>
  </div>

  <div class="buttons-container">
    <a href="" class="button">COPY EXPERIMENT</a>
    <a href="" class="button">DELETE</a>
    <a href="" class="button special">START</a>
  </div>
</div> -->