<div menu-overlay sidemenu-template="app/views/experiment/left-menu.html">
  <div class="page-layout run-experiment">
    <!-- header -->
    <div class="header">
      <div class="stripes-and-name">
        <a toggle-sidemenu>
          <div class="stripes">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          </div>
        </a>
        <div class="name-container">{{experiment.name}}</div>
      </div>
    </div>
    <!-- content -->
    <div class="content">

<div class="panel panel-primary">
      <div class="panel-heading">Temperature Plot</div>
      <div class="panel-body">
        <div class="vertical-text">Temperature</div>
        <div style="padding: 10px 0px;">
        <div data="data" options="options" width="700" height="300" class="ng-isolate-scope chart">
        </div>
        </div>
        <div class="scrollbar-container">
          <div time-scrollbar ng-model="scrollState">
          </div>
        </div>
        <div class="text-center">Time</div>
      </div>
    </div>

      <div ng-show="chartTypeData.chartType === 'Amplification Chart'">
        <h3>Show Amplification Chart here!</h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <choose-chart ng-model="chartTypeData"></choose-chart>
        </div>
        <div class="col-md-4">
          <test-in-progress experiment-id="experiment.id"></test-in-progress>
        </div>
      </div>
    </div>
  </div>
</div>