<div menu-overlay sidemenu-template="app/views/experiment/left-menu.html">
  <div class="page-layout run-experiment" ng-controller="TemperatureLogCtrl">
    <!-- header -->
    <div class="header">
      <div class="stripes-and-name">
        <a toggle-sidemenu>
          <div class="stripes">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          </div>
        </a>
        <div class="name-container">{{experiment.name}}</div>
      </div>
      <div class="scrollbars-container">
        <div class="scroll-wrapper">
          <div class="text">SCROLL</div>
          <div class="scroll-container">
            <time-scrollbar ng-model="scrollState"></time-scrollbar>
          </div>
        </div>
      </div>
    </div>
    <!-- content -->
    <div class="content">
<input type="text" ng-model="scrollState">
<div class="row temperature-log-chart">
  <div class="col-md-10">
    <div class="panel panel-primary">
      <div class="panel-heading">Temperature Plot</div>
      <div class="panel-body">
        <div class="vertical-text">Temperature</div>
        <div style="padding: 10px 0px;">
        <linechart data="data" options="options" width="700" height="300"></linechart>
        </div>
        <div class="scrollbar-container">
        </div>
        <div class="text-center">Time</div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <h3>&nbsp;</h3>
    <div class="panel panel-primary">
      <div class="panel-heading">
        Temperature Plot
      </div>
      <div class="panel-body">
        <form>
          <div class="input-group">
          </div>
          <div class="input-group">
            <label>View</label>
            <select ng-change="updateResolution()" ng-model="resolution" class="form-control" ng-options="sec as sec | secondsDisplay: 'display1' for sec in resolutionOptions">
              <option value=''>View All</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


    </div>
  </div>
</div>