
.experiment-start-stop-buttons {
  .button {
    border-radius: 0px;
    display: block;
    font-weight: bold;
    padding: 3px;
    width: 100%;
    &.stop {
      background: #fff;
      border: 3px solid red;
      color: red;
    }
    &.run {
      background: #6ACC0A;
      border: none;
      color: #fff;
      padding: 6px;
    }
  }
}