.header-status {

  box-shadow: 0px 3px 5px #999;

  .menu-dropdown {
    float: left;
    background: #ddd;
    width: 50px;
    height: 50px;
    padding: 10px;

    .menu-bar {
      width: 30px;
      height: 3px;
      background: grey;
      margin-top: 5px;
      border-radius: 3px;
    }
  }

  .header-right-container {
    float: left;
    line-height: 50px;
    color: #fff;
    background: #333;

    .bg-placeholder {
      width: 100%;

      &.completed {
        background-image: url('/assets/images/header-complete.png');
        background-size: auto 100%;
      }
    }

    .exp-name {
      float: left;
      width: 50%;
      padding-left: 15px;
      font-size: 16px;
    }

    .status-indicator {
      float: left;
      width: 50%;
    }
  }

}
