<div class="device-run-exp-stage-step">
  <div class="device-run-exp-stage-step-style sansa">STEP<%=stepNo %>, STAGE<%=stageNo %>:</div>
  <div class="device-run-exp-status-style"><%=status %></div>
</div>
<div class="device-run-time-remaining">
  <div class="device-run-exp-time-style sansa">TIME REMAINING:</div>
  <div class="device-run-exp-time"><%=time %></div>
</div>
<div class="device-run-progress-bar-container">
  <div class="device-run-progress-bar">
    <div class="device-run-progress-bar-inner"></div>
</div>
</div>
