<div class="device-run-button-container">
  <button class="device-run-first-button simplifica">SELECT WELLS</button>
</div>

<div class="device-run-button-container">
  <button class="device-run-second-button simplifica">STOP EXPERIMENT</button>
</div>
