/dts-v1/;
/plugin/;

/{
	compatible = "ti,beaglebone", "ti,beaglebone-black";
	part-number = "chai-pcr";
	version = "00A0";

	/* state the resources this cape uses */
	exclusive-use =
		/* the pin header uses */
		//"P9.42",              /* pwm: eCAP0 LED backlight defined in LCD device tree*/ 

		//Peltier
		"P8.13",                /* pwm: ehrpwm2B PELTIER 1 - Ouput*/
		"P8.19",                /* pwm: ehrpwm2A PELTIER 2 - Ouput*/
		"P8.09",                /* gpio: PELTIER 1_INA - Ouput*/
		"P8.11",                /* gpio: PELTIER 1_INB - Ouput*/
		"P8.15",                /* gpio: PELTIER 2_INA - Ouput*/
		"P8.17",                /* gpio: PELTIER 2_INB - Ouput*/

		//LED board
		"P9.16",		/* pwm: EHRPWM1B Lid heater PWM - Output*/
		"P8.18",		/* gpio: LED_DIGIPOT_CS - Ouput */
		"P8.12",		/* gpio: LED XLAT/LED_CONTROL_CS - Ouput */
		"P8.14",		/* gpio: VPRG - Ouput */
		"P8.08",		/* gpio: XERR - Input */
		"P9.29",		/* SPI1: SPI1_SD0 (SOUT from LED BOARD) - Input */
		"P9.30",		/* SPI1: SPI1_SD1 (SIN to LED BOARD) - Ouput */
		"P9.31",		/* SPI1: SPI1_CLK (SCLK to LED BOARD) - Ouput */

		//MCU - Shared SPI with LED board
		"P8.10",		/* gpio: MCU_SS - Output */

		//LTC2444
		"P9.17",		/* gpio: SPI_CS or LTC2444 CS - Output*/
		"P9.41",		/* gpio: SPI_BUSY or LTC2444 busy - Input */
		"P9.21",		/* SPI0: SPI_SD0 (SDO from LTC2444) - Input */
		"P9.18",		/* SPI0: SPI_SD1 (SDI to LTC2444) - Ouput */
		"P9.22",		/* SPI0: SPI_CLK (SCLK to LTC2444) - Ouput */

		//LIA MUX
		"P9.11",		/* gpio: MUX_CONTROL_PIN0 - Output*/
		"P9.13",		/* gpio: MUX_CONTROL_PIN1 - Output*/
		"P9.15",		/* gpio: MUX_CONTROL_PIN2 - Output*/
		"P9.12",		/* gpio: MUX_CONTROL_PIN3 - Output*/

		//LID
		"P8.26",		/* gpio: lid open/close sense - Input*/
		"P9.28",		/* pwm: eCAP2_PWM2 LIA reference PWM - Ouput */
		
		//Heatsink
		"P9.14",		/* pwm: EHRPWM1A Fan PWM - Output */
		
		"P9.39",		/* AIN0 */
		"P9.40",		/* AIN1 */
		"P9.37",		/* AIN2 */
		"P9.38",		/* AIN3 */
		"P9.33",		/* AIN4 */
		"P9.36",		/* AIN5 - HEATSINK_ADC_IN */
		"P9.35",		/* AIN6 */
	
		/* the hardware IP uses */
		"tscadc",
		"spi0",			//SPI for LEDboard and MCU
		"spi1",			//SPI for LTC2444
		"eCAP2_in_PWM2_out",
		"ehrpwm1A",
		"ehrpwm1B", 		
		"ehrpwm2A",		//Peltier 2 PWM
		"ehrpwm2B";		//Peltier 1 PWM


		
	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			/* peltier PWM pins */
			
			peltier1_pwm_pin: pinmux_peltier1_pwm_pin {
				pinctrl-single,pins = <
					0x024 0x04  /* P8.13 ehrpwm2b, MODE4 */
				>;
			};

			peltier2_pwm_pin: pinmux_peltier2_pwm_pin {
				pinctrl-single,pins = <
					0x020 0x04  /* P8.19 ehrpwm2a, MODE4 */
				>;
			};

			lia_ref_pwm_pin: pinmux_lia_ref_pwm_pin {
				pinctrl-single,pins = <
					0x19c 0x04  /* P9.28 eCAP2_PWM2, MODE4 */
				>;
			};

			lid_heater_pwm_pin: pinmux_lid_heater_pwm_pin {
				pinctrl-single,pins = <
					0x04c 0x06  /* P9.16 ehrpwm1b, MODE6 */
				>;
			};
			
			fan_pwm_pin: pinmux_fan_pwm_pin {
				pinctrl-single,pins = <
					0x048 0x06  /* P9.14 ehrpwm1a, MODE6 */
				>;
			};

			/* end peltier pins */

			/* GPIO pins*/
			qpcr_gpio_pins: pinmux_qpcr_gpio_pins {
				pinctrl-single,pins = <
					/* Peltier GPIO*/
					0x09c 0x0F  /* P8.09 PELTIER 1_INA gpio2_5, OUTPUT_PULLUP | MODE7 */
					0x034 0x0F  /* P8.11 PELTIER 1_INB gpio1_13, OUTPUT_PULLUP | MODE7 */
					0x03c 0x0F  /* P8.15 PELTIER 2_INA gpio1_15, OUTPUT_PULLUP | MODE7 */
					0x02c 0x0F  /* P8.17 PELTIER 2_INB gpio0_27, OUTPUT_PULLUP | MODE7 */
					
					/* LED board GPIO */
					0x08c 0x17  /* P8.18 LED_DIGIPOT_CS gpio2_1, OUTPUT_PULLUP | MODE7 */
					0x030 0x17  /* P8.12 LED XLAT/LED_CONTROL_CS gpio1_12, OUTPUT_PULLUP | MODE7 */
					0x028 0x0F  /* P8.14 VPRG gpio0_26, OUTPUT_PULLDOWN | MODE7 */
					0x094 0x37  /* P8.08 XERR gpio2_3, INPUT_PULLUP | MODE7 */

					/* MCU */
					0x098 0x17  /* P8.10 LED_DIGIPOT_CS gpio2_1, OUTPUT_PULLUP | MODE7 */
					
					/* LTC2444 GPIO */
					/*0x15C 0x07   P9.17 SPI_CS LTC2444 gpio0_5, OUTPUT_PULLUP | MODE7 */
					0x1b4 0x37  /* P9.41.1 SPI_BUSY or LTC2444 busy gpio0_20, INPUT_PULLUP | MODE7 */
					0x1a8 0x37  /* P9.41.2 Pin shared with SPI_BUSY or LTC2444 busy gpio0_20, INPUT_PULLUP | MODE7 */
					

					/* LIA MUX GPIO*/
                                        0x070 0x07  /* P9.11 MUX_CONTROL_PIN0 gpio0_30, OUTPUT_PULLUP | MODE7 */
                                        0x074 0x07  /* P9.13 MUX_CONTROL_PIN1 gpio0_31, OUTPUT_PULLUP | MODE7 */
                                        0x040 0x07  /* P9.15 MUX_CONTROL_PIN2 gpio1_16, OUTPUT_PULLUP | MODE7 */
					0x078 0x07  /* P9.12 MUX_CONTROL_PIN3 gpio1_28, OUTPUT_PULLUP | MODE7 */

					
				>;
			};
			/* end GPIO pins*/

			/* SPI0 pins (used by LTC2444)*/
			spi0_pins: pinmux_spi0_pins {
				pinctrl-single,pins = <
					0x154 0x30  /* P9.21 spi0_d0, INPUT_PULLUP | MODE0 */
					0x158 0x10  /* P9.18 spi0_d1, OUTPUT_PULLUP | MODE0 */
 					0x150 0x30  /* P9.22 spi0_sclk, INPUT_PULLUP | MODE0 */
					0x15C 0x10  /* P9.17 SPI_CS, OUTPUT_PULLUP | MODE0 */
				>;
			};

			/* end SPI0 pins */

			/* SPI1 pins used by Led board/digipot/MCU */
			spi1_pins: pinmux_spi1_pins {
				pinctrl-single,pins = <
					0x194 0x33  /* P9.29 spi1_d0, INPUT_PULLUP | MODE3 */
					0x198 0x13  /* P9.30 spi1_d1, OUTPUT_PULLUP | MODE3 */
					0x190 0x33  /* P9.31 spi1_sclk, INPUT_PULLUP | MODE3 */
				>;
			};

			/* end SPI1 pins */
		};
	};
	
	/* from am3xx_pwm */ 
	fragment@1 {
	    target = <&epwmss1>;
	    __overlay__ {
		    status = "okay";
	    };
	};

	fragment@2 {
	    target = <&ehrpwm1>;
	    __overlay__ {
		    status = "okay";
	    };
	};

	fragment@3 {
	    target = <&epwmss2>;
	    __overlay__ {
		    status = "okay";
	    };
	};

	fragment@4 {
	    target = <&ehrpwm2>;
	    __overlay__ {
		    status = "okay";
	    };
	};

	fragment@5 {
	   target = <&ecap2>;
	    __overlay__ {
		    status = "okay";
	    };
	};

	
	fragment@6 {
		target = <&ocp>;
		__overlay__ {
			peltier1_pwm {
			    compatible      = "pwm_test";
			    pwms            = <&ehrpwm2 1 50000 0>;
			    pwm-names       = "PWM_P8_13";
			    pinctrl-names   = "default";
			    pinctrl-0       = <&peltier1_pwm_pin>;
			    enabled         = <1>;
			    duty            = <0>;
			    status          = "okay";
			};

			peltier2_pwm {
			    compatible      = "pwm_test";
			    pwms            = <&ehrpwm2 0 50000 0>;
			    pwm-names       = "PWM_P8_19";
			    pinctrl-names   = "default";
			    pinctrl-0       = <&peltier2_pwm_pin>;
			    enabled         = <1>;
			    duty            = <0>;
			    status          = "okay";
			};
	
			lid_heater_pwm {
			    compatible      = "pwm_test";
			    pwms            = <&ehrpwm1 1 500000 0>;
			    pwm-names       = "PWM_P9_16";
			    pinctrl-names   = "default";
			    pinctrl-0       = <&lid_heater_pwm_pin>;
			    enabled         = <1>;
			    duty            = <0>;
			    status          = "okay";
			};

			fan_pwm {
			    compatible      = "pwm_test";
			    pwms 	    = <&ehrpwm1 0 500000 0>;
			    pwm-names       = "PWM_P9_14";				    
			    pinctrl-names   = "default";
			    pinctrl-0       = <&fan_pwm_pin>;
			    enabled         = <1>;
			    duty            = <0>;
			    status          = "okay";
			};
			
			lia_ref_pwm {
			    compatible      = "pwm_test";
			    pwms 	    = <&ecap2 0 500000 1>;
			    pwm-names       = "PWM_P9_28";			    
			    pinctrl-names   = "default";
			    pinctrl-0       = <&lia_ref_pwm_pin>;
			    enabled         = <1>;
			    duty            = <0>;
			    status          = "okay";
			};
		};
	};

	/* SPI0 */
	fragment@7 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_pins>;
			/*cs-gpios = <&gpio2 28 0>;*/

			spidev@0 {
				spi-max-frequency = <24000000>;
				reg = <0>;
				compatible = "spidev";
			};
			spidev@1 {
				spi-max-frequency = <24000000>;
				reg = <1>;
				compatible = "spidev";
			};            
		};
	};
	
	/* SPI1 */
	fragment@8 {
		target = <&spi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&spi1_pins>;
			cs-gpios = <&gpio2 12 0>, <&gpio3 1 0>, <&gpio3 4 0>;

			spidev@0 {
				spi-max-frequency = <24000000>;
				reg = <0>;
				compatible = "spidev";
			};
			spidev@1 {
				spi-max-frequency = <24000000>;
				reg = <1>;
				compatible = "spidev";
			};            
		};
	};
	/* GPIO */
	fragment@9 {
		target = <&ocp>;
		__overlay__ {
			test_helper: helper {
				compatible = "bone-pinmux-helper";
				pinctrl-names = "default";
				pinctrl-0 = <&qpcr_gpio_pins>;
				status = "okay";
			};
		};
	};
	fragment@10 {
                target = <&tscadc>;
                __overlay__ {
                        status = "okay";
                        adc {
                                ti,adc-channels = <0 1 2 3 4 5 6>;
                                ti,chan-step-avg = <0x16 0x16 0x16 0x16 0x16 0x16 0x16>;
                                ti,chan-step-opendelay = <0x98 0x98 0x98 0x98 0x98 0x98 0x98>;
                                ti,chan-step-sampledelay = <0x0 0x0 0x0 0x0 0x0 0x0 0x0>;
                        };
                };
        };
	/* old ADC work 
	fragment@10 {
		target = <&ocp>;
		__overlay__ {
			/* avoid stupid warning * /
			#address-cells = <1>;
			#size-cells = <1>;

			tscadc {
				compatible = "ti,ti-tscadc";
				reg = <0x44e0d000 0x1000>;

				interrupt-parent = <&intc>;
				interrupts = <16>;
				ti,hwmods = "adc_tsc";
				status = "okay";

				adc {
					ti,adc-channels = <0 1 2 3 4 5 6 7>;
				};
			};

			test_helper_adc: helper {
				compatible = "bone-iio-helper";
				vsense-name  = "AIN0", "AIN1", "AIN2", "AIN3", "AIN4", "AIN5", "AIN6", "AIN7";
				vsense-scale = <100     100     100     100     100     100     100     100>;
				status = "okay";
			};
		};
	};*/

};
