@font-face {
  font-family: 'Fun City';
  src: url('/assets/funcity/2D178A_0_0.eot');
  src: url('/assets/funcity/2D178A_0_0.ttf');
  src: url('/assets/funcity/2D178A_0_0.woff');

  src: url('/assets/funcity/2D178A_1_0.eot');
  src: url('/assets/funcity/2D178A_1_0.ttf');
  src: url('/assets/funcity/2D178A_1_0.woff');
}