@font-face {
  font-family: 'Fun City';
  src: font-url('funcity/2D178A_0_0.eot');
  src: font-url('funcity/2D178A_0_0.ttf');
  src: font-url('funcity/2D178A_0_0.woff');

  src: font-url('funcity/2D178A_1_0.eot');
  src: font-url('funcity/2D178A_1_0.ttf');
  src: font-url('funcity/2D178A_1_0.woff');

}
