// Login page
.login-wrapper {
	min-height: 500px;
	background-color: wheat;
	padding-top: 5%;

	.login-box {
		height: 250px;
		width: 300px;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		-webkit-box-shadow: 1px 1px 82px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 82px 3px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 82px 3px rgba(0,0,0,0.75);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		.login-heading {
			width: 100%;
			text-align: center;
			font-weight: bold;
			padding-top: 10px;
		}

		.login-credentials {
			width: 300px;

			input {
				margin: 30px 0 0 65px;
				text-align: center;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
			}
			button {
				margin: 30px 0 0 72px;
				width: 150px;
			}
		}
	}
}