// Run experiment styles are written here
.run-exp-layout {
  width: 1024px;
  height: 768px;

  .name-on-top {
    width: 1024px;
    height: 45px;
    background-color: #333333;

    .stripes-and-name {
      width: 300px;
      height: 30px;
      margin-left: 32px;
      padding-top: 13px;

      .stripes {
        width: 21px;
        height: 19px;
        float: left;
        cursor: pointer;

        .stripe {
          height: 3px;
          width: 21px;
          margin-bottom: 3px;
          background-color: #999280;
        }
      }

      .name-container {
        float: left;
        color: #d6d4d1;
        margin-left: 13px;
        font-size: 18px;
        margin-top: 2px;
        font-family: "fun city";
      }
    }
  }

  .graph-container {
    width: 1024px;
    height: 430px;
    border-bottom: solid 1px #c6c6c6;
  }

  .bottom-container {
    height: 295px;
    width: 1024px;
  }

  .palette-container {
    width: 643px;
    height:295px;
    float: left;
  }

  .test-in-progress-container {
    height: 295px;
    float: left;
    width: 381px;

    .experiment-in-progress {

      .experiment-in-progress-heading {
        border-bottom: solid 2px #001827;
      }
      .experiment-info {
        height: 80px;
        padding-top: 25px;

        div {
          float: left;
        }

        .caption {
          font-weight: bold;
          margin-bottom: 5px;
        }
        .experiment-info-test {
          width: 280px;
        }

      }
      .experiment-progress-bar {
        height: 5px;
        background-color: black;

        .pro-bar {
          background-color: #00aeef;
          height: 5px;
          width: 0px;
        }
      }
    }
  }
}
