// Run experiment styles are written here
.run-exp-layout {
  width: 1024px;
  height: 768px;

  .name-on-top {
    width: 1024px;
    height: 45px;
    background-color: #333333;

    .stripes-and-name {
      width: 300px;
      height: 30px;
      margin-left: 32px;
      padding-top: 13px;

      .stripes {
        width: 21px;
        height: 19px;
        float: left;
        cursor: pointer;

        .stripe {
          height: 3px;
          width: 21px;
          margin-bottom: 3px;
          background-color: #999280;
        }
      }

      .name-container {
        float: left;
        color: #d6d4d1;
        margin-left: 13px;
        font-size: 18px;
        margin-top: 2px;
        font-family: "fun city";
      }
    }
  }

  .graph-container {
    width: 1024px;
    height: 430px;
    border-bottom: solid 1px #c6c6c6;
  }

  .bottom-container {
    height: 295px;
    width: 1024px;
  }

  .palette-container {
    width: 643px;
    height:295px;
    float: left;

    img {
      margin-left: 30px;
      margin-top: 17px;
    }
  }

  .test-in-progress-container {
    height: 295px;
    float: left;
    width: 381px;

    .test-in-progress-bar-container {
      width: 350px;
      height: 150px;

      .exp-in-progress-bar-heading {
        height: 45px;
        width: 350px;
        font-size: 14px;
        font-weight: bold;
        padding-top: 25px;
        border-bottom: solid 2px black;
      }

      .black-bar {
        position: relative;
        width: 350px;
        height: 4px;
        background-color: black;

        .blue-bar {
          position: relative;
          width: 150px;
          height: 4px;
          background-color: #00aeef;
        }
      }

      .exp-in-progress-bar-info-container {
        width: 350px;
        height: 95px;

        .column1 {
          height: 30px;
          width: 212px;
          float: left;
        }
        .adjustmentsForR1 {
          font-size: 14px;
          font-weight: bold;
          padding-top: 14px;
        }
        .adjustmentsForR2 {
          padding-top: 10px;
        }
        .adjustmentsForR3 {
          padding-top: 12px;
          span {
            font-weight: bold;
            font-size: 13px;
          }
        }
        .column2 {
          height: 30px;
          width: 138px;
          float: left;
        }

      }
    }

  }
}
