/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

#index-page {
	margin: 0 0 20px 20px;
}
.shadow {
	display: none;
}

.boundaryDiv {
	border-left:1px solid red;
	float: left;
	height: 352px;
	width: 2px;
}

.stepRightSide {
	border-right-color: orange;
	border-right-style: solid;
	border-right-width: 1px;
}

#stadium {
	#play-ground {
		min-height: 600px;
		min-width: 600px;
		margin: 30px 0 0 0;
	}

	#run-experiment {
		border-left: solid 1px gray;
		height: 600px;
		width: 700px
	}
	#reactionVolume {
		width: 250px;
	}

	#track {
		width: 700px;
		overflow: scroll;

		#innertrack {
			width: 1000px;
			height:353px;
			border: 1px solid grey;

			.stage-run {
				border:1px solid red;
				border-right: none;
				width: 151px;
				float: left;
			}

			.stage-header {
				width: 100%;
				height:150px;
				text-align: center;

		        .noof-cycles {
		          width:50%;
		          margin: 0 auto;
		        }
		        .noof-cycles span {
		        	cursor: pointer;
		        }
		        .noof-cycles input {
		        	text-align: center;

		        }
			}

			.step-holder {
				width: 100%;
				height:100%;
			}
			.step-select {
				background-color: orange;
			}

			.step-run {
				width: 150px;
				height: 200px;
				float: left;
				background-color: yellow;

				.tempBar {
					width: 45px;
					height: 18px;
					float: right;
					cursor: move;
					z-index: 2;
					.label {
						float: right;
						width: 44px;
					}
				}

				.hold-time {
					position: relative;
				}

				.line {
					background-color: black;
					width:150px;
					height: 2px;
					position:relative;
					-webkit-transform-origin: 100% 100%;
					right:150px;
					z-index: 1;
					top:6px;
				}
			}

		}
	}
}

#touchScreenContainer {
	width: 800px;
	height: 480px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.experiment-list {
		max-height: 300px;
		overflow: scroll;
	}
	#track {
		width: 700px;
		overflow: scroll;

		#innertrack {
			width: 1000px;
			height:240px;
			border: 1px solid grey;

			.stage-run {
				border:1px solid red;
				border-right: none;
				width: 151px;
				float: left;
				height: 230px;
			}

			.stage-header {
				width: 100%;
				height:50px;
				text-align: center;
			}

			.step-holder {
				width: 100%;
				height:100%;
			}
			.step-select {
				background-color: orange;
			}

			.step-run {
				width: 149px;
				height: 175px;
				float: left;
				background-color: yellow;

				.tempBar {
					width: 45px;
					height: 18px;
					float: right;
					cursor: move;
					z-index: 100;
					.label {
						float: right;
						width: 44px;
					}
				}

				.line {
					background-color: black;
					width:150px;
					height: 2px;
					position:relative;
					-webkit-transform-origin: 100% 100%;
					right:150px;
					z-index: 10;
					top:6px;
				}
			}

		}
	}
}

#logScreen {
	width: 980px;
	height: 600px;
	padding: 5px;
	margin: auto;

	.container: {
		
	}
	.blue-border {
		border: solid 1px #02408F;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	.graphOutLine {
		width: 100%;
		height:100%;
		float: left;

		.content-area {
			height:93.7%;
		}
		.black-heading {
			width: 180px;
			font-weight: bold;
			font-size:18px;
			margin: 30px auto;
		}
		#graph {
			height: 80%;
		}
	}
	.currentTemperatures {
		width: 24%;
		height: 100%;
		margin-left: 7px;
		float: left;
	}
	.zones {
		width: 100%;
		height: 76%;
		
		.content-area {
			height:92%;
		}
	}
	.plots {
		margin-top: 2px;
		width: 100%;
		height: 24%;

		.content-area {
			height:74%;
		}
	}
	.blue-heading {
		width: 100%;
		height: 35px;
		background-color: #02408F;
		color: white;
		text-color: white;
		font-weight: bold;
		line-height: 3em;
		padding-left: 10px;
	}
	.content-area {
		margin: 0px 2px 1px 2px;
		border: solid 1px #02408F;
	}
}
// New APP //
@font-face {
		font-family: "simplifica";
		src: local('simplifica'), url("assets/SIMPLIFICA Typeface.ttf") format('ttf');
}
.simplifica {
	font-family: "simplifica";
	font-size: 30px;
}
.sansa {
	font-family: "Open Sans";
	font-size: 12px;
}

// Login page styles start here
#container {
	width: 1024px;
}
.login-wrapper {
	min-height: 500px;
	background-color: wheat;
	padding-top: 5%;

	.login-box {
		height: 250px;
		width: 300px;
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		-webkit-box-shadow: 1px 1px 82px 3px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 82px 3px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 82px 3px rgba(0,0,0,0.75);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		.login-heading {
			width: 100%;
			text-align: center;
			font-weight: bold;
			padding-top: 10px;
		}

		.login-credentials {
			width: 300px;

			input {
				margin: 30px 0 0 65px;
				text-align: center;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
			}
			button {
				margin: 30px 0 0 72px;
				width: 150px;
			}
		}
	}
}
//Home page styles start here
.home-page-wrapper {
	width: 1024px;
	height: 768px;

	.home-page-left-wing {
		float: left;
		width: 632px;
		height: 400px; //Just for now;

		.left-wing-content {
			width: 442px;
			margin-top: 61px;
			margin-left: 75px;

			.home-page-logo {
				width: 437px;
				height: 74px;
			}

			.home-page-menu {
				margin-top: 65px;
				height: 402px;

				.menu-content {
					border-bottom: solid 1px black;
					height: 22px;
					// HEading part
					.menu-heading {
						height: 100%;

						.welcome-text {
							width: 200px;
							float: left;
							height: 100%;
						}
						.logout-text {
							width:150px;
							float: right;
							text-align: right;
							height: 100%;

							a {
								color: #00aeef;
								text-decoration: none;
							}
							a:hover {
								background-color: white;
							}
						}
					}
					// Menu Items
					.menu-items {
						padding-top: 20px;

						.menu-item {
							height:58px;

							.first-row {
								height: 30px;
								
								.menu-item-image {
									width: 30px;
									height: 30px;
									float: left;
									background-image: url("smallO.png");
									margin-left: 24px;
								}
								.menu-item-text {
									width: 300px;
									float: left;
									margin-left: 12px;
									margin-top: 8px;
									font-size: 22px;
								}
							}
							
							.second-row {
								height: 28px;

								.hand-container {
									width: 100%;

									.hand {
										width: 6px;
										background-color: black;
										height: 22px;
										margin-left: 37px;
										margin-top: 2px;									}
								}
							}
						}
						// when biunce this takes care of the previous item
						.menu-item-previous-bounce {
							height:62px;

							.first-row {
								height: 30px;
								
								.menu-item-image {
									width: 30px;
									height: 30px;
									float: left;
									background-image: url("smallO.png");
									margin-left: 24px;
								}
								.menu-item-text {
									width: 300px;
									float: left;
									margin-left: 12px;
									margin-top: 8px;
									font-size: 22px;
								}
							}
							
							.second-row {
								height: 32px;

								.hand-container {
									width: 100%;

									.hand {
										width: 6px;
										background-color: black;
										height: 32px;
										margin-left: 37px;
										margin-top: 2px;									}
								}
							}
						}
						// When it bounce
						.menu-item-bounce {
							height:107px;
							margin-top: 14px;
							.first-row {
								height: 60px;
								
								.menu-item-image {
									width: 60px;
									height: 60px;
									float: left;
									background-image: url("bigO.png");
									margin-left: 11px;
								}
								.menu-item-text {
									width: 300px;
									float: left;
									margin-left: 12px;
									margin-top: 22px;
									font-size: 30px;
									cursor: pointer;
								}
							}
							
							.second-row {
								height: 32px;

								.hand-container {
									width: 100%;

									.hand {
										width: 6px;
										background-color: black;
										height: 32px;
										margin-left: 37px;
										margin-top: 5px;
									}
								}
							}
						}
					}


				}
			}
			// Experiment in progress starts here
			.experiment-in-progress-container {
				width: 442px;
				height: 110px;
				font-size: 14px;

				.experiment-in-progress {
					
					.experiment-in-progress-heading {
						border-bottom: solid 2px #001827;
					}
					.experiment-info {
						height: 80px;
						padding-top: 25px;

						div {
							float: left;
						}

						.caption {
							font-weight: bold;
							margin-bottom: 5px;
						}
						.experiment-info-test {
							width: 280px;
						}

					}
					.experiment-progress-bar {
						height: 5px;
						background-color: black;

						.progress-bar {
							background-color: #00aeef;
							height: 5px;
							width: 0px;
						}
					}
				}
			}
		}
	}
	// Right Side of the home page
	.home-page-right-wing {
		float: left;
		width: 341px;
		padding-top: 54px;

		// Previous Experiment List Starts Here
		.previous-experiment-container {
			
			.previous-experiment-heading {
				border-bottom: solid 1px #001827;
				height: 20px;

				.text {
					float: left;
					width: 200px;
					font-size: 14px;
				}
				.dots {
					float: right;
					color: orange;
					font-weight: bold;
					font-size: 14px;
					cursor: pointer;
				}
			}
			.all-experiments {
				height: 680px;
				overflow: scroll;
				padding-top: 21px;

				.individual-experiment {
					height: 72px;

					.first-row {
						height: 30px;

						div {
							float: left;
						}
						.image {
							background-image: url("smallblackO.png");
							width: 30px;
							height: 30px;
						}
						.image-red {
							background-image: url("smallredO.png");
							width: 30px;
							height: 30px;
						}
						.text {
							margin-left: 15px;
							margin-top: 8px;
							cursor: pointer;
						}
					}
					.second-row {
						height: 42px;

						div {
							float: left;
						}
						.hand-container {
							width: 45px;
							height: 42px;

							.hand {
								width: 6px;
								min-height: 32px;
								background-color: #00aeef;
								margin-left: 12px;
								margin-top: 5px;
								cursor: pointer;
							}
						}
						.more-info {
							font-size: 14px;
						}
					}
					.confirm-box {
						position: relative;
						height: 45px;
						width: 250px;
						z-index: 100;
						top: -70px;
						left: 43px;
						background-color: white;
						text-align: center;
						display: none;
						font-size: 14px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
						border: solid 1px #a61300;
						font-size: 14px;

						button {
							font-size: 12px;
							width: 40px;
							height: 22px;
							margin-top: 2px;
						}

						.no-delete {
							color: #00aeef;
						}
						.yes-delete {
							color: #a61300;
						}
					}
				}
			}
		}
	}
}



