/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

#index-page {
	margin: 0 0 20px 20px;	
}
.shadow {
	display: none;
}

#stadium {
	#play-ground {
		min-height: 400px;
		min-width: 600px;
		margin: 30px 0 0 0;
	}
	
	#run-experiment {
		border-left: solid 1px gray;
		height: 400px;
		width: 700px
	}
	#reactionVolume {
		width: 250px;
	}
	
	.stage-run {
		background-color: grey;
		width:100px;
		float:left;
		height:100px;
	}
}


