// Edit stage step actions come here
.noselect {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.edit-stage-step-container {
	width: 1024px;
	height: 768px;

	.top-half {
		height: 465px;
		width: 1024px;
		background-color: #ffb400;

		.name-on-top {
			width: 1024px;
			height: 45px;
			background-color: #332400;

			.stripes-and-name {
				width: 300px;
				height: 30px;
				margin-left: 32px;
				padding-top: 13px;

				.stripes {
					width: 21px;
					height: 19px;
					float: left;
					cursor: pointer;

					.stripe {
						height: 3px;
						width: 21px;
						margin-bottom: 3px;
						background-color: #999280;
					}
				}

				.name-container {
					float: left;
					color: #d6d4d1;
					margin-left: 13px;
					font-size: 18px;
					margin-top: 2px;
					font-family: "fun city";
				}
			}
		}

		.canvas-containing {
			height: 420px;
			width: 1024px;
			overflow-x: scroll;
			overflow-y: hidden;

			.canvasClass {
				width: 300px;
				height: 300px;
			}
		}
	}
	.bottom-half {
		width: 1024px;
		height: 303px;
		background-color: white;

		.previous {
			width: 71px;
			height: 60px;
			float:left;

			img {
				padding-left: 41px;
				padding-top: 31px;
				cursor: pointer;
			}
		}
		// The middle section of the bottom part of the screen
		.middle-ground {
			width: 882px;
			height: 272px;
			float: left;

			.first-data-row {
				width: 882px;
				height: 62px;
				border-bottom-style: solid;
				border-bottom-width: 2px;
				border-bottom-color: black;

				.bottom-step-no {
					height: 35px;
					padding-top: 5px;
					margin-top: 24px;
					font-size: 48px;
					font-weight: bold;
					width: 35px;
					float: left;
					margin-left:2px;
					text-align: right;
				}
				.bottom-no-of-stages {
					float: left;
					font-size: 26px;
					height: 20px;
					margin-top: 37px;
				}
				.bottom-name-of-step-stage {
					width: 267px;
					height: 35px;
					font-size: 41px;
					float: left;
					margin-top: 26px;
					padding-top: 7px;
					margin-left: 10px;
					text-align: center;

					.edit-step-name {
						width: 267px;
						position: relative;
						top: -46px;
						border: none;
						background-color: black;
						color: white;
						text-align: center;
					}
				}
				.bottom-stage-name {
					width: 90px;
					font-size: 10px;
					height: 15px;
					margin-top: 42px;
					margin-left: 12px;
					float: left;
				}

				.bottom-step-no-cycle-container {
					width: 131px;
					height: 35px;
					visibility: visible;
					float: left;

					.bottom-step-no-cycle {
						height: 35px;
						padding-top: 5px;
						margin-top: 24px;
						font-size: 48px;
						font-weight: bold;
						width: 44px;
						float: left;
						margin-left:2px;
						text-align: right;
						.bottom-step-no-cycle-edit {
							width: 44px;
							position: relative;
							background-color: black;
							color: white;
							text-align: right;
							top: -46px;
							height: 58px;
							border: none;

						}
					}
				}

				.bottom-step-x {
					float: left;
					font-size: 26px;
					font-weight: bold;
					height: 20px;
					margin-top: 37px;
				}
				.bottom-cycles-and-dots {
					font-size: 10px;
					height: 15px;
					margin-top: 42px;
					margin-left: 5px;
					float: left;
					width: 35px;
				}
				.bottom-cycle-dots {
					width: 18px;
					height: 15px;
					margin-top: 42px;
					float: left;
					margin-left: 5px;
					margin-right: 10px;
				}
				.bottom-button-container {
					float: left;
					width: 147px;
					height: 41px;
					margin-left: 6px;
					margin-top: 25px;

					.delta-button-true {
						width: 142px;
						height: 31px;
						background-color: black;
						font-size: 9px;
						border: 1px solid black;
						margin-left: 5px;
						color: white;
						cursor: pointer;

						.delta-button-image-container {
							width: 41px;
							height: 30px;
							float: left;
						}
						.delta-button-text {
							float: left;
							width:95px;
							height: 31px;
							padding-top: 7px;
						}
					}

					.delta-button-false {
						width: 142px;
						height: 31px;
						background-color: white;
						font-size: 9px;
						border: 1px solid black;
						margin-left: 5px;
						color: black;
						cursor: pointer;

						.delta-button-image-container {
							width: 41px;
							height: 30px;
							float: left;
						}
						.delta-button-text {
							float: left;
							width:95px;
							height: 31px;
							padding-top: 7px;
						}
					}

					.gather-data-button-true {
						width: 142px;
						height: 31px;
						background-color: black;
						font-size: 9px;
						border: 1px solid black;
						margin-left: 5px;
						color: white;
						cursor: pointer;

						.gather-data-button-image-container {
							width: 41px;
							height: 30px;
							float: left;
							padding-top: 5px;
						}
						.gather-data-button-text {
							float: left;
							width:95px;
							height: 31px;
							padding-top: 7px;
						}
					}

					.gather-data-button-false {
						width: 142px;
						height: 31px;
						background-color: white;
						font-size: 9px;
						border: 1px solid black;
						margin-left: 5px;
						color: black;
						cursor: pointer;

						.gather-data-button-image-container {
							width: 41px;
							height: 30px;
							float: left;
							padding-top: 5px;
						}
						.gather-data-button-text {
							float: left;
							width:95px;
							height: 31px;
							padding-top: 7px;
						}
					}

					.lol-pop {
						width: 180px;
						height: 111px;
						position: relative;
						top: -156px;
						left: -20px;

						.gather-data-popup {
							width: 180px;
							height: 111px;
							background-color: black;
							position: absolute;
							opacity: .8;

							.tail {
								width: 20px;
								height: 20px;
								position: absolute;
								background-color: black;
								-ms-transform: rotate(45deg); /* IE 9 */
								-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
								transform: rotate(45deg);
								top: 100px;
								left: 80px;
							}
						}

						.gather-data-popup-content {
							width: 150px;
							height: 111px;
							position: absolute;
							left: 18px;
							top: 12px;

							.small-button {
								width: 142px;
								background-color: white;
								height: 31px;
								border: 1px solid black;
								font-size: 9px;
								font-weight: bold;
								cursor: pointer;

								.tik-image-container {
									height: 31px;
									width: 34px;
									float: left;
									padding-top: 5px;
									padding-left: 8px;
								}
								.tik-text-container {
									height: 31px;
									width: 100px;
									float: left;
									padding-top: 7px;
								}
							}
							.first {
								margin-top: 8px;
								margin-bottom: 10px;
							}

							button {
								margin-bottom: 5px;
								width: 140px;
							}
						}
					}
				}



			}

			.data-boxes {
				width: 243px;
				height: 212px;
				float: left;

				.name-board {
					height: 34px;
					color: #737373;
					font-size: 10px;
					line-height: 5;
					border-bottom-style: solid;
					border-bottom-width: 1px;
					border-bottom-color: black;
				}
			}
			.auto-delta {
				margin-left: 76px;
			}

			.edit-stage-step {
				margin-left: 77px;

				.action-container {
					padding-top: 20px;
					height: 200px;

					.big-button {
						width: 243px;
						background-color: white;
						height: 30px;
						border: 1px solid black;
						margin-bottom: 12px;
						font-size: 9px;
						font-weight: bold;
					}

					.small-button {
						width: 115px;
						background-color: white;
						height: 30px;
						border: 1px solid black;
						font-size: 9px;
						font-weight: bold;
					}
					.go-right {
						float: right;
					}

					.lol-pop {
						width: 180px;
						height: 120px;
						position: relative;
						top: -248px;
						left: 15px;

						.add-stage-popup {
							width: 180px;
							height: 120px;
							background-color: black;
							position: absolute;
							opacity: .8;

							.tail {
								width: 20px;
								height: 20px;
								position: absolute;
								background-color: black;
								-ms-transform: rotate(45deg); /* IE 9 */
								-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
								transform: rotate(45deg);
								top: 110px;
								left: 80px;
							}
						}

						.add-stage-popup-content {
							width: 150px;
							height: 111px;
							position: absolute;
							left: 15px;
							top: 12px;

							button {
								margin-bottom: 3px;
								width: 150px;
							}
						}
					}
				}
			}

			// For disabling the field
			.disabled {
				color: #cdcdcd;
			}

			.bottom-common-item {
				height: 58px;
				width: 243px;
				border-bottom-style: solid;
				border-bottom-width: 2px;
				border-bottom-color: black;

				.caption-part {
					height: 53px;
					width: 135px;
					float: left;
					line-height: 2.5;

					.capsule {
						width: 62px;
						height: 26px;
						background-color: #cdcdcd;
						position: relative;
						float: right;
						top: 20px;
						-webkit-border-radius: 15px;
						-moz-border-radius: 15px;
						border-radius: 15px;
						border-color: #cdcdcd;
						border-width:1px;
						border-style: solid;

						.plus {
							position: absolute;
							top: -12px;
							left: 8px;
							font-size: 20px;
							font-weight: 800;
							color: grey;
							cursor: pointer;
						}

						.ball-cover {
							width: 24px;
							height: 24px;
							cursor: move;

							.white-ball {
								width: 24px;
								height: 24px;
								-webkit-border-radius: 50%;
								-moz-border-radius: 50%;
								border-radius: 50%;
								background-color: white;
								position: absolute;

								.center-circle {
									width: 12px;
									height: 12px;
									background-color: #cdcdcd;
									border-radius: 50%;
									-webkit-border-radius: 50%;
									-moz-border-radius: 50%;
									position: absolute;
									top: 6px;
									left: 6px;
								}
							}
						}

						.minus {
							position: absolute;
							top: -26px;
							font-size: 28px;
							/* font-weight: 800; */
							left: 44px;
							color: grey;
							cursor: pointer;
						}
					}
				}

				.data-part {
					height: 53px;
					width: 95px;
					float: right;
					line-height: 1.4;
					font-weight: bold;
					font-size: 48px;
					text-align: right;

					.time-part {
						width: 95px;
						float: left;

						.time-part-edit {
							width: 95px;
							position: relative;
							background-color: black;
							color: white;
							height: 58px;
							top: -67px;
							border: none;
							display: none;
						}
					}

					.seperator {
						width:10px;
						float: left;
						padding-left: 6px;
					}

					.minute-part {
						width: 40px;
						float: left;

						.minute-part-edit {
							width: 40px;
							position: relative;
							background-color: black;
							color: white;
							height: 58px;
							top: -67px;
							border: none;
							display: none;
						}
					}

					.data-part-edit-value {
						width: 95px;
						height: 53px;
						position: relative;
						background-color: black;
						color: white;
						font-weight: bold;
						border: none;
					}
				}

        .minified-font {
          width: 105px;
          span {
            font-size: 30px;
            vertical-align: middle;
          }
        }

				.dots {
					float: left;
					width:23px;
					height: 53px;
					padding-top: 28px;
					padding-left: 5px;
				}
			}
		}

		.next {
			width: 71px;
			height: 60px;
			float:left;

			img {
				// We rotate the image so just inverse the left and top too..
				padding-right: 30px; // 41 - image width
				padding-bottom: 31px;
				cursor: pointer;
				 -ms-transform: rotate(180deg); /* IE 9 */
         -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        	transform: rotate(180deg);
			}
		}

    .speedCaption {
      padding-left: 7px;
      span {
        font-size: 37px;
      }
    }
	}
}
