// Edit stage step actions come here
.edit-stage-step-container {
	width: 1024px;
	height: 768px;

	.top-half {
		height: 465px;
		width: 1024px;
		background-color: #ffb400;

		.name-on-top {
			width: 1024px;
			height: 45px;
			background-color: #332400;

			.stripes-and-name {
				width: 300px;
				height: 20px;
				margin-left: 32px;
				padding-top: 13px;

				.stripes {
					width: 21px;
					height: 19px;
					float: left;
					cursor: pointer;

					.stripe {
						height: 3px;
						width: 21px;
						margin-bottom: 3px;
						background-color: #999280;
					}
				}

				.name-container {
					float: left;
					color: white;
					margin-left: 13px;
					font-size: 20px;
				}
			}
		}

		.canvas-container {
			height: 420px;
			width: 1024px;

			.canvasClass {
				width: 300px;
				height: 300px;
			}
		}
	}
	.bottom-half {
		width: 1024px;
		height: 303px;

		.previous {
			width: 71px;
			height: 60px;
			float:left;

			img {
				padding-left: 41px;
				padding-top: 31px;
				cursor: pointer;
			}
		}
		// The middle section of the bottom part of the screen
		.middle-ground {
			width: 882px;
			height: 272px;
			float: left;

			.first-data-row {
				width: 882px;
				height: 62px;
				border-bottom-style: solid;
				border-bottom-width: 2px;
				border-bottom-color: black;

				.bottom-step-no {
					height: 35px;
					padding-top: 5px;
					margin-top: 24px;
					font-size: 48px;
					font-weight: bold;
					width: 35px;
					float: left;
					margin-left:2px;
					text-align: right;
				}
				.bottom-no-of-stages {
					float: left;
					font-size: 26px;
					height: 20px;
					margin-top: 37px;
				}
				.bottom-name-of-step-stage {
					width: 258px;
					height: 35px;
					font-size: 41px;
					float: left;
					margin-top: 26px;
					padding-top: 7px;
					margin-left: 20px;
				}
				.bottom-stage-name {
					width: 90px;
					font-size: 10px;
					height: 15px;
					margin-top: 42px;
					margin-left: 12px;
					float: left;
				}
				.bottom-step-no-cycle {
					height: 35px;
					padding-top: 5px;
					margin-top: 24px;
					font-size: 48px;
					font-weight: bold;
					width: 45px;
					float: left;
					margin-left:2px;
					text-align: right;
				}
				.bottom-step-x {
					float: left;
					font-size: 26px;
					font-weight: bold;
					height: 20px;
					margin-top: 37px;
				}
				.bottom-cycles-and-dots {
					font-size: 10px;
					height: 15px;
					margin-top: 42px;
					margin-left: 5px;
					float: left;
					width: 35px;
				}
				.bottom-cycle-dots {
					width: 18px;
					height: 15px;
					margin-top: 42px;
					float: left;
					margin-left: 5px;
					margin-right: 10px;
				}
				.bottom-button-container {
					float: left;
					width: 147px;
					height: 41px;
					margin-left: 6px;
					margin-top: 25px;

					button {
						width: 142px;
						height: 31px;
						background-color: white;
						font-size: 9px;
						font-weight: bold;
						border: 1px solid black;
						margin-left: 5px;
					}

				}

			}

			.data-boxes {
				width: 243px;
				height: 212px;
				float: left;

				.name-board {
					height: 34px;
					color: #737373;
					font-size: 10px;
					line-height: 5;
					border-bottom-style: solid;
					border-bottom-width: 1px;
					border-bottom-color: black;
				}
			}
			.auto-delta {
				margin-left: 76px;
			}

			.edit-stage-step {
				margin-left: 77px;

				.action-container {
					padding-top: 20px;

					.big-button {
						width: 243px;
						background-color: white;
						height: 30px;
						border: 1px solid black;
						margin-bottom: 12px;
						font-size: 9px;
						font-weight: bold;
					}

					.small-button {
						width: 115px;
						background-color: white;
						height: 30px;
						border: 1px solid black;
						font-size: 9px;
						font-weight: bold;
					}
					.go-right {
						float: right;
					}
				}
			}

			.bottom-common-item {
				height: 58px;
				width: 243px;
				border-bottom-style: solid;
				border-bottom-width: 2px;
				border-bottom-color: black;

				.caption-part {
					height: 53px;
					width: 135px;
					float: left;
					line-height: 2.5;
				}

				.data-part {
					height: 53px;
					width: 85px;
					float: left;
					line-height: 1.4;
					font-weight: bold;
					font-size: 48px;
					text-align: right;
				}
				.dots {
					float: left;
					width:23px;
					height: 53px;
					padding-top: 28px;
					padding-left: 5px;
				}
			}
		}

		.next {
			width: 71px;
			height: 60px;
			float:left;

			img {
				// We rotate the image so just inverse the left and top too..
				padding-right: 30px; // 41 - image width
				padding-bottom: 31px;
				cursor: pointer;
				 -ms-transform: rotate(180deg); /* IE 9 */
         -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        	transform: rotate(180deg);
			}
		}
	}
}
