<div id="touchScreenContainer" class="container">
	<div class="jumbotron">
  		<h3>Welcome ..! Please select the experiment.</h3>
  		<p>
			<div class="experiment-list">		
				<div class="list-group">
				  
				</div>
			</div>
		</p>
  		<p>
  			<a id="goButton" class="btn btn-primary btn-lg" role="button">Go</a>
  		</p>
	</div>
</div>