<div id="touchScreenContainer" class="container">
	<div class="jumbotron">
  		<h3>Welcome ..! Please select the experiment.</h3>
  		<p>
			<div class="experiment-list">		
				<div class="list-group">
				  <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
				  <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
				  <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
				  <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
				
				  <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
				  <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
				  <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
				  <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
				
				  <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
				  <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
				  <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
				  <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
				</div>
			</div>
		</p>
  		<p>
  			<a id="goButton" class="btn btn-primary btn-lg" role="button">Go</a>
  		</p>
	</div>
</div>