		<div style="padding:15px 65px;" class="text-center">
			<h4 class="text-left">A.{{experiment.name}}</h4>
			<span class="text-left" ng-show="!editNotes" ng-click="focusNotes()">{{notes[indexAB]}}</span>

			<input ng-show="editNotes" focus-on="editNotes" type="text"  placeholder="Enter Note" class="exp-name H1 text-left" ng-model="notes[indexAB]"> </input>

			<div class="text-center notes-button-div">
				<button class="notes-button" ng-click="$dismiss()">Cancel</button>
		    <button class="notes-button" ng-click="updateNotes(indexAB,notes[indexAB])">Commit</button>

		  </div>

		</div>
