<div class="bar">
	<div class="horizontal-bar"></div>
	<div class="horizontal-bar"></div>
	<div class="horizontal-bar"></div>
</div>
<div class="title-text">
	<span><%=name %></span>
</div>
<div class="dots">
	<div class="white-ball"></div>
	<div class="white-ball"></div>
	<div class="white-ball"></div>
</div>
