<div class="tail-container">
	<div class="tail">
	</div>
</div>
<div class="ball-text-container">
	<div class="ball">
	</div>
	<div class="menu-text simplifica">
		<a href="#/run-exp/<%=id %>"><%=menuItem %></a>
	</div>
</div>
<div class="back-tail-container">
	<div class="back-tail">
	</div>
</div>
