<div class="user-settings">
  <div class="header">
    <div class="row">
      <div class="col-md-6">
        <div class="stripes-and-name">
          <a ng-click="goHome()">
            <div class="stripes">
              <div class="stripe"></div>
              <div class="stripe"></div>
              <div class="stripe"></div>
            </div>
          </a>
          <div class="name-container">USER SETTINGS</div>
        </div>
      </div>
      <div class="col-md-6">
        <a href="#" class="btn-support-legal pull-right">
          SUPPORT & LEGAL
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-6">

        <p class="lead underlined">
          MACHINE INFORMATION
        </p>

        <a href="#" class="btn-large-green">
          RUN CALIBRATION
        </a>

        <div class="info-container">
          <p class="lead info">
            SOFTWARE VERSION <br>
            <span>OPCR V2.0</span>
          </p>

          <p class="lead info">
            HARDWARE VERSION <br>
            <span>888-888-8888</span>
          </p>

          <p class="lead info">
            SERIAL VERSION <br>
            <span>888-888-8888</span>
          </p>


          <p class="lead info">
            ETHERNET MAC & IP ADDRESS <br>
            <span>888-888-8888</span>
          </p>
        </div>

      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>