<div id="index-page">
	<h2>Please choose what you want to do.</h2>


	<div class="btn-group-vertical">
	 	<a id="design-button" class="btn btn-primary btn-lg" role="button">Design <span class="glyphicon glyphicon-pencil"> </a>
		<a id="run-button" class="btn btn-primary btn-lg" role="button">Run <span class="glyphicon glyphicon-play"> </a>
		<a id="analyze-button" class="btn btn-primary btn-lg" role="button">Analyze <span class="glyphicon glyphicon-search"></a>
		<a id="login-button" class="btn btn-primary btn-lg" role="button">Login <span class="glyphicon glyphicon-search"></a>
	</div>
</div>

