<div class="caption-part simplifica"><%=caption %></div>
<div class="data-part ostrich">
  <div class="time-part">
    <span class="time-part-span">00:00</span>
    <input class="time-part-edit" type="text">
  </div>
</div>
