<button class="big-button" id="add-step">ADD STEP</button>
<button class="big-button" id="add-stage">ADD STAGE</button>
<button class="big-button" id="delete-step">DELETE STEP</button>

<button class="small-button" id="add-step">MOVE STEP</button>
<button class="small-button go-right" id="add-step">MOVE STAGE</button>
