<div class="caption-part simplifica"><%=caption %></div>
<div class="data-part ostrich"><span class="data-part-span"><%=data %></span>
<input class="data-part-edit-value" min="0" max="100" maxlength="9" type="text" value="<%=data %>">
</div>
