<div class="bottom-step-no ostrich">02</div>
<div class="bottom-no-of-stages ostrich">/08</div>
<div class="bottom-name-of-step-stage ostrich">NAME OF STEP/STAGE</DIV>
<div class="bottom-stage-name sansa">HOLDING STAGE</div>
<div class="bottom-step-no-cycle ostrich">20</div>
<div class="bottom-step-x ostrich">x</div>
<div class="bottom-cycles-and-dots sansa">CYCLES</div>
<div class="bottom-cycle-dots"><img src="assets/dots.png"></div>
<div class="bottom-button-container">
  <button id="delta-button" class="bottom-button-class">AUTODELTA ON</button>
</div>
<div class="bottom-button-container">
  <button id="gather-data-button" class="bottom-button-class">GATHER DATA ON</button>
  <div class="lol-pop">
    <div class="gather-data-popup">
      <div class="tail"></div>
    </div>
    <div class="gather-data-popup-content">
      <button class="small-button first" id="during-step">DURING STEP</button>
      <button class="small-button" id="after-step">AFTER RAMP</button>
    </div>
  </div>
</div>
