<div class="caption-part simplifica"><%=caption %></div>
<div class="data-part ostrich">
  <div class="hour-part">
    <span class="hour-part-span">00</span>
    <input class="hour-part-edit" type="text">
  </div>
  <div class="seperator">:</div>
  <div class="minute-part">
    <span class="minute-part-span">00</span>
    <input class="minute-part-edit" type="text">
  </div>
</div>
