<div class="experiment-in-progress-container sansa">
	<div class="experiment-in-progress-heading">
		EXPERIMENT IN PROGRESS
	</div>
	<div class="experiment-info">
		<div class="experiment-info-test caption"><%=experiment_name %></div>
		<div class="experiment-info-time caption">TIME REMAINING</div>
		<div class="experiment-info-test"><%=experiment_stage %></div>
		<div class="experiment-info-time"><%=experiment_time_remaining %></div>
	</div>
	<div class="experiment-progress-bar">
		<div class="progress-bar"></div>
	</div>
</div>