<div class="menu-content">
	<div class="menu-heading">
		<div class="welcome-text simplifica">
			WELCOME, <%= user %>
		</div>
		<div class="logout-text">
			<a class="sansa" href="#/login">SIGN OUT</a>
		</div>
	</div>

	<div class="menu-items">
		
	</div>	
</div>