<div class="menu-content">
	<div class="menu-heading">
		<div class="welcome-text simplifica">
			WELCOME, <%= user %>
		</div>
		<div class="logout-text sansa">
			SIGN OUT
		</div>
		
	</div>	
</div>