<div class="home-page-wrapper">
	<!-- Left side of the home page -->
	<div class="home-page-left-wing">
		<div class="left-wing-content">
			<div class="home-page-logo">
				<img src="assets/logo.png">
			</div>

			<div class="home-page-menu">
				Welcome Jossie
			</div>
			<div class="experiment-in-progress-container">
				In progress .. !
			</div>
		</div>
	</div>
	<!-- Right side of the home page -->
	<div class="home-page-right-wing">
		Previous experiments
	</div>
</div>