<div class="menu-item simplifica">
	<div class="first-row">
		<div class="menu-item-image">
			
		</div>
		<div class="menu-item-text">
			<%=menuValue %>
		</div>
	</div>

	<div class="second-row">
		<div class="hand-container">
			<div class="hand"></div>
		</div>
	</div>
</div>