<div class="login-wrapper">
	<div class="login-box">
		<div class="login-heading"> Login </div>
		<div class="login-credentials">
			<input type="text" id="user" placeholder="username">
			<input type="password" id="pass" placeholder="password">
			<button id="login-button">Login</button>
		</div>
	</div>
</div>