<div class="title sansa">
	EXPERIMENT OPTIONS
</div>
<button id="save-exp" class="exp-option-buttons">SAVE EXPERIMENT</button>
<button id="export-exp" class="exp-option-buttons">EXPORT...</button>
<button id="delete-exp" class="exp-option-buttons">DELETE EXPERIMENT</button>
