<div class="left-side">
	<a href="#/home"><img class="home-image" src="assets/home.png"></a>
	<div class="menu-overlay-all-options">
	</div>
	<div class="experiment-in-progress-container">
	</div>
</div>
<div class="right-side">

</div>
