<div class="bar">
	<div class="horizontal-bar"></div>
	<div class="horizontal-bar"></div>
	<div class="horizontal-bar"></div>
</div>
<div class="title-text simplifica">
	<span>MALARIA DETECTION TEST</span>
</div>
<div class="dots">
	<div class="white-ball"></div>
	<div class="white-ball"></div>
	<div class="white-ball"></div>
</div>