<div class="first-data-row"></div>
<div class="data-boxes temperature-change">
  <div class="name-board sansa">TEMPERATURE CHANGE SPEED</div>
</div>
<div class="data-boxes auto-delta">
  <div class="name-board sansa">AUTO DELTA</div>
</div>
<div class="data-boxes edit-stage-step">
  <div class="name-board sansa">EDIT STEP & STAGE</div>
</div>
