<div class="stripes-and-name">
  <div class="stripes">
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
  </div>
  <div class="name-container simplifica"><%=name %></div>
</div>
