<div class="stripes-and-name">

  <div class="stripes">
    <div class="stripe"></div>
    <div class="stripe"></div>
    <div class="stripe"></div>
  </div>
  <div class="name-container simplifica">MALARIA DETECTION TEST 2.1
  </div>
</div>
