<div class="stripes-and-name">
  <a href="#/edit-exp/<%=id %>">
    <div class="stripes">
      <div class="stripe"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
    </div>
  </a>
  <div class="name-container"><%=name %></div>
</div>
