<div class="previous-experiment-container">
	<div class="previous-experiment-heading">
		<div class="text sansa">PREVIOUS EXPERIMENTS</div>
		<div class="dots"> ... </div>
	</div>
	<div class="all-experiments">
	Loading ...! <img src="assets/loading.gif">
	</div>
</div>