<div class="first-row">
	<div class="image"></div>
	<div class="text simplifica"><%= name %></div>
	<div class="dotordate sansa"><div class="ball"></div></div>
</div>
<div class="second-row">
	<div class="hand-container">
		<div class="hand"></div>
	</div>
	<div class="more-info sansa"><%= time %></div>
	<div class="dotor"><div class="ball"></div></div>
</div>
<div class="confirm-box sansa">
	<div>Are you sure ?.</div>
	<div>
	<button class="no-delete">No</button>
	<button class="yes-delete">Yes</button>
	</div>
</div>

