#container {
  width: 1024px;
  margin: 0 auto;
}

.page-layout .row {
  margin: 0;
  margin-right: -15px;
  margin-left: -15px; }

.page-layout .header {
  width: 1024px;
  height: 45px;
  background-color: #333; }
  .page-layout .header .name-container {
    float: left;
    color: #d6d4d1;
    margin-left: 13px;
    font-size: 18px;
    margin-top: -5px;
    font-family: "Fun City"; }
  .page-layout .header .stripes-and-name {
    width: 100%;
    height: 30px;
    padding-left: 32px;
    padding-top: 14px; }
  .page-layout .header .stripes {
    width: 21px;
    height: 19px;
    float: left;
    cursor: pointer; }
    .page-layout .header .stripes .stripe {
      height: 3px;
      width: 21px;
      margin-bottom: 3px;
      background-color: #fff; }

.page-layout .content {
  padding-top: 20px; }
