.edit-user {
  display: block;
  margin: 0;
  padding: 20px 80px;

  .ch-form-control{
    z-index: 1;
  }

  &.opened-board{
    padding-bottom: 240px;

    .simple-keyboard{
      bottom: 0;
      transition: 0.1s all ease-in;
    }
  }

  h2{
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    font-weight: normal;    
  }

  .form-line{
    display: flex;
    flex-direction: column;
  }

  .control-label{
    display: block;
  }

  .simple-keyboard{
    position: fixed;
    bottom: -240px;
    left: 0;
    transition: 0.1s all ease-out;
    z-index: 2;
  }

  .input-selector{
    display: flex;
    position: fixed;
    right: 15px;
    top: 115px;
    flex-direction: column;

    button{
      background: transparent;
      padding: 0;
      margin: 0;
      border: none;
      width: 30px;
      height: 30px;
    }
  }
}
