<div class="user-settings">
  <div class="modal-add-user">
    <p class="modal-title underlined">
      ADD A USER
      <a class="pull-right close" ng-click="modal.close()">&times;</a>
    </p>
    <form role="form" class="form-horizontal" ng-submit="addUser()">
      <div class="underlined">
        <div class="form-group">
          <label for="name" class="col-sm-1 control-label">NAME</label>
          <div class="col-sm-11">
            <input type="text" class="form-control" ng-model="user.name">
          </div>
        </div>
      </div>
      <div class="underlined">
        <div class="form-group">
          <label for="email" class="col-sm-1 control-label">EMAIL</label>
          <div class="col-sm-11">
            <input type="text" class="form-control" ng-model="user.email">
          </div>
        </div>
      </div>
      <div class="underlined">
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">ADMIN</label>
          <div class="col-sm-10 switch-container">
            <switch id="enabled" name="enabled" ng-model="user.role" ng-true-value="'admin'" ng-false-value="'default'" class="green" on="Y" off="N"></switch>
            <span>USER HAS ADMIN PRIVILEDGES</span>
          </div>
          <div class="padd-top"></div>
        </div>
      </div>
      <div class="underlined">
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">PASSWORD</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" ng-model="user.password">
          </div>
        </div>
      </div>
      <div class="underlined">
        <div class="form-group">
          <label for="" class="col-sm-4 control-label">CONFIRM PASSWORD</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" ng-model="user.password_confirmation">
          </div>
        </div>
      </div>
      <div class="submit-btn-container">
        <button type="submit" class="btn-large-green">ADD USER</button>
      </div>
    </form>
  </div>
</div>