<div class="error-model-overlay">

</div>

<div class="error-model-content">
  <div class="error-model-title-container">
    <div class="error-model-title sansa"> <%=messageTitle %> </div>
    <div class="error-model-close"><img src="assets/error-close.png"></div>
  </div>
  <div class="error-model-message-container sansa"><%=message %></div>

  <div class="error-model-button-container">
    <button class="error-model-okay-button">OKAY</button>
    <div class="error-model-spacer"></div>
    <button class="error-model-cancel-button">CANCEL</button>
  </div>
</div>
