<div class="intro" ng-init="analyzeExperiment()"  style="max-width: 720px; margin: auto;">
  <h2>Optical Diagnostic Results</h2>

  <h4 class="text-center" ng-show="analyzing"><b>Analyzing Results...</b></h4>

  <div ng-show="experiment.completion_status !== 'success' && !analyzing">
    <div class="alert alert-danger">
      <strong>Failure: </strong> {{ experiment.completion_message }}
    </div>
  </div>

  <div ng-show="experiment.completion_status == 'success' && custom_error && !analyzing">
    <div class="alert alert-danger">
      <strong>Failure: </strong> {{ custom_error }}
    </div>
  </div>

  <div class="row" ng-show="experiment.completion_status === 'success' && !analyzing">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Well</th>
            <th>Baseline</th>
            <th>Excitation</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in loop">
            <td>{{i+1}}</td>
            <td>{{analyzedExp[i].baseline}}</td>
            <td>{{analyzedExp[i].excitation}}</td>
            <td>
              <span class="text-success" ng-show="getResult(analyzedExp[i])">PASS</span>
              <span class="text-danger" ng-show="!getResult(analyzedExp[i])">FAIL</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Well</th>
            <th>Baseline</th>
            <th>Excitation</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="i in loop">
            <td>{{i+9}}</td>
            <td>{{analyzedExp[i+8].baseline}}</td>
            <td>{{analyzedExp[i+8].excitation}}</td>
            <td>
              <span class="text-success" ng-show="getResult(analyzedExp[i+8])">PASS</span>
              <span class="text-danger" ng-show="!getResult(analyzedExp[i+8])">FAIL</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-center" ng-show="!analyzing">
    <a ui-sref="settings.root" class="button">CONTINUE</a>
  </div>

</div>
