@font-face {
  font-family: 'Fun City';
  font-weight: 400;

  src: url('../fonts/funcity/2D178A_1_0.eot');
  src: url('../fonts/funcity/2D178A_1_0.ttf');
  src: url('../fonts/funcity/2D178A_1_0.woff');
}

@font-face {
  font-family: 'Fun City';
  font-weight: 700;
  src: url('../fonts/funcity/2D178A_0_0.eot');
  src: url('../fonts/funcity/2D178A_0_0.ttf');
  src: url('../fonts/funcity/2D178A_0_0.woff');
}
@font-face {
  font-family: "Dinot";
  font-weight: 400;
  src: url("../fonts/DINOT-Regular.otf"); }

@font-face {
  font-family: "Dinot";
  font-weight: 700;
  src: url("../fonts/DINOT-Bold.otf"); }
