<div class="text-center">
  <h2>Diagnostic complete</h2>
  <p>{{experiment.started_at | date: 'MMM. d, yyyy hh:mm:ssa'}}</p>
</div>
<div ng-show="!analyzedExp" class="text-center">
  Analyzing results. Please wait ... <img src="/images/loading.gif">
</div>
<div class="info-container" ng-show="analyzedExp">
  <div class="row">
    <div class="col-md-4">
      <div class="title">
        <b>HEATING</b>
        <!-- {{50|degreeCelcius}}-{{90|degreeCelcius}} -->
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Avg. Ramp Rate:</div>
          <div class="info-details"><b>{{ analyzedExp.Heating.AvgRampRate[0] | round:2 }}</b> &deg;C/s</div>
          <div class="img-button">
            <img ng-src="{{ analyzedExp.Heating.AvgRampRate[1] ? '/images/dynexp/diagnostic-wizard-check-button.png': '/images/dynexp/diagnostic-wizard-x-button.png' }}">
          </div>
        </div>
        <div class="block-text">
          <span ng-show="!(analyzedExp.Heating.AvgRampRate[1])">Below acceptable rate of <b>{{CONSTANTS.HEATING.MIN_AVG_RAMP_RATE}}</b> &deg;C/s</span>
        </div>
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Total Time:</div>
          <div class="info-details"><b>{{analyzedExp.Heating.TotalTime[0]/1000 | secondsDisplay:'display2'}}</b> s</div>
          <div class="img-button">
            <img ng-src="{{ analyzedExp.Heating.TotalTime[1] ? '/images/dynexp/diagnostic-wizard-check-button.png' : '/images/dynexp/diagnostic-wizard-x-button.png' }}">
          </div>
        </div>
        <div class="block-text">
          <span ng-show="!(analyzedExp.Heating.TotalTime[1])">
            Above acceptable time of <b>{{CONSTANTS.HEATING.MAX_TOTAL_TIME}}</b> s</span>
        </div>
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Max. Block &Delta;T:</div>
          <div class="info-details"><b>{{analyzedExp.Heating.MaxBlockDeltaT[0] | round:2}}</b> &deg;C</div>
          <div class="img-button">
            <img ng-src="{{ analyzedExp.Heating.MaxBlockDeltaT[1] ? '/images/dynexp/diagnostic-wizard-check-button.png' : '/images/dynexp/diagnostic-wizard-x-button.png' }}">
          </div>
        </div>
        <div class="block-text">
          <span ng-show="!(analyzedExp.Heating.MaxBlockDeltaT[1])">Above acceptable Max.Block &Delta;T of <b>{{CONSTANTS.HEATING.MAX_BLOCK_DELTA}}</b> &deg;C</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="title">
        <b>COOLING</b>
        <!-- {{50|degreeCelcius}}-{{90|degreeCelcius}} -->
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Avg. Ramp Rate:</div>
          <div class="info-details"><b>{{ analyzedExp.Cooling.AvgRampRate[0] | round:2 }}</b> &deg;C/s</div>
          <div class="img-button">
            <img ng-src="{{ analyzedExp.Cooling.AvgRampRate[1] ? '/images/dynexp/diagnostic-wizard-check-button.png': '/images/dynexp/diagnostic-wizard-x-button.png' }}">
          </div>
        </div>
        <div class="block-text">
          <span ng-show="!(analyzedExp.Cooling.AvgRampRate[1])">Below acceptable rate of <b>{{CONSTANTS.COOLING.MIN_AVG_RAMP_RATE}}</b> &deg;C/s</span>
        </div>
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Total Time:</div>
          <div class="info-details"><b>{{analyzedExp.Cooling.TotalTime[0]/1000 | secondsDisplay:'display2'}}</b> s</div>
          <div class="img-button">
            <img ng-src="{{ analyzedExp.Cooling.TotalTime[1] ? '/images/dynexp/diagnostic-wizard-check-button.png' : '/images/dynexp/diagnostic-wizard-x-button.png' }}">
          </div>
        </div>
        <div class="block-text">
          <span ng-show="!(analyzedExp.Cooling.TotalTime[1])">
            Above acceptable time of <b>{{CONSTANTS.COOLING.MAX_TOTAL_TIME}}</b> s</span>
        </div>
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Max. Block &Delta;T:</div>
          <div class="info-details"><b>{{analyzedExp.Cooling.MaxBlockDeltaT[0] | round:2 }}</b> &deg;C</div>
          <div class="img-button">
            <img ng-src="{{ analyzedExp.Cooling.MaxBlockDeltaT[1] ? '/images/dynexp/diagnostic-wizard-check-button.png' : '/images/dynexp/diagnostic-wizard-x-button.png' }}">
          </div>
        </div>
        <div class="block-text">
          <span ng-show="!(analyzedExp.Cooling.MaxBlockDeltaT[1])">Above acceptable Max.Block &Delta;T of <b>{{CONSTANTS.COOLING.MAX_BLOCK_DELTA}}</b> &deg;C</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="title">
        <b>LID</b>
        <!-- {{50|degreeCelcius}}-{{90|degreeCelcius}} -->
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Heating Rate:</div>
          <div class="info-details"><b>{{ analyzedExp.Lid.HeatingRate[0] | round:2}}</b> &deg;C/s</div>
          <div class="img-button">
            <img ng-src="{{ analyzedExp.Lid.HeatingRate[1] ? '/images/dynexp/diagnostic-wizard-check-button.png': '/images/dynexp/diagnostic-wizard-x-button.png' }}">
          </div>
        </div>
        <div class="block-text">
          <span ng-show="!(analyzedExp.Lid.HeatingRate[1])">Below acceptable rate of <b>{{CONSTANTS.LID.MIN_HEATING_RATE}}</b> &deg;C/s</span>
        </div>
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Time to Heat:</div>
          <div class="info-details"><b>{{analyzedExp.Lid.TotalTime[0]/1000 | secondsDisplay:'display2'}}</b> s</div>
          <div class="img-button">
            <img ng-src="{{ analyzedExp.Lid.TotalTime[1] ? '/images/dynexp/diagnostic-wizard-check-button.png' : '/images/dynexp/diagnostic-wizard-x-button.png' }}">
          </div>
        </div>
        <div class="block-text">
          <span ng-show="!(analyzedExp.Lid.TotalTime[1])">
            Above acceptable time of <b>{{CONSTANTS.LID.MAX_TIME_TO_HEAT}}</b> s</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info-container" ng-show="!analyzedExp && custom_error">
  <h2 class="text-danger">Diagnostic Failed</h2>
  <div class="alert alert-danger">
    {{custom_error}
  </div>
</div>
