<div class="step-6" ng-show="experiment.completion_status === 'success' && valid">
  <p class="step"><b>STEP 6</b>/6</p>
  <h2>Calibration Complete</h2>

  <div class="machine-icon">
    <img src="/images/dynexp/calibration-complete.png">
  </div>

  <div class="text-center">
    <p class="wait">YOUR OPEN QPCR HAS BEEN SUCCESSFULLY CALIBRATED</p>
    <p class="heating">
      Remember to re-run the calibration should you adjust the lid height or make of PCR tubes.
    </p>

    <a ui-sref="settings.root" class="button">OKAY</a>
  </div>
</div>

<div class="step-6" ng-show="experiment.completion_status !== 'success' || !valid">
  <p class="step"><b>STEP 6</b>/6</p>
  <h2>Calibration Failed</h2>

  <div class="machine-icon">
    <img src="/images/dynexp/calibration-failed.png">
  </div>

  <div class="text-center">
    <p class="heating" ng-show="experiment.completion_message">
      {{experiment.completion_message}}
    </p>

    <p class="heating" ng-show="!experiment.completed_at || analyze_failed">
      Experiment was aborted due to an unknown error.
    </p>

    <p class="heating">
      {{result.error}}
    </p>

    <a ui-sref="settings.root" class="button">OKAY</a>
  </div>
</div>
