<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build Chaibio shoftware</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.24.0">
      <projectUrl>https://github.com/chaibio/chaipcr.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>build_machine</name>
          <description>Building machine</description>
          <defaultValue>192.168.1.44</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>check_badblocks</name>
          <description>Check if there are any bad blocks on eMMC. Takes more than an hour.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>download_prefex</name>
          <description>Download folder URL</description>
          <defaultValue>http://192.168.1.200/download</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>low_performance</name>
          <description>Set cpu to lowest performance.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/chaibio/chaipcr.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>123</authToken>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo checking Jenkins server
echo &quot;Bash version ${BASH_VERSION}...&quot;
uname -a
ls -ahl
lsblk
df -h
echo user: $(whoami)

echo Checking for nessasery packages:
sudo apt-get -y -q install sshpass parted mdadm

if grep $build_machine /var/lib/jenkins/.ssh/config
then
	echo /var/lib/jenkins/.ssh/config was patched already
else
	echo patching /var/lib/jenkins/.ssh/config
	cat &lt;&lt;EOF &gt;&gt; /var/lib/jenkins/.ssh/config
Host $build_machine
		KexAlgorithms +diffie-hellman-group1-sha1,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
		Ciphers +3des-cbc,blowfish-cbc,aes128-cbc,aes128-ctr,aes256-ctr
#		KexAlgorithms +diffie-hellman-group1-sha1
#        KexAlgorithms +curve25519-sha256@libssh.org
#        KexAlgorithms +ecdh-sha2-nistp256
#        KexAlgorithms +ecdh-sha2-nistp384
#        KexAlgorithms +ecdh-sha2-nistp521
#        KexAlgorithms +diffie-hellman-group-exchange-sha256
#        KexAlgorithms +diffie-hellman-group14-sha1
EOF
fi

#if grep diffie-hellman-group1-sha1 /etc/ssh/sshd_config
#then
#	echo sshd_config was patched already
#else
#	echo patching sshd_config
#	cat &lt;&lt;EOF &gt;&gt; /etc/ssh/sshd_config
#KexAlgorithms diffie-hellman-group1-sha1,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
#Ciphers 3des-cbc,blowfish-cbc,aes128-cbc,aes128-ctr,aes256-ctr
#EOF
#	sudo service sshd restart
#fi

ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine

echo deleting root password in case of chaipcr
sshpass -p chaipcr ssh -oStrictHostKeyChecking=no root@$build_machine &quot;passwd -d -u root&quot;

ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine
ssh -t -oStrictHostKeyChecking=no root@$build_machine &lt;&lt;&apos;ENDSSH&apos;

if grep diffie-hellman-group1-sha1 /etc/ssh/sshd_config
then
	echo sshd_config on $build_machine was patched already
else
	echo patching sshd_config
	cat &lt;&lt;EOF &gt;&gt; /etc/ssh/sshd_config
KexAlgorithms diffie-hellman-group1-sha1
KexAlgorithms ecdh-sha2-nistp256
KexAlgorithms ecdh-sha2-nistp384
KexAlgorithms ecdh-sha2-nistp521
KexAlgorithms diffie-hellman-group-exchange-sha256
KexAlgorithms diffie-hellman-group14-sha1
#Ciphers 3des-cbc,blowfish-cbc,aes128-cbc,aes128-ctr,aes256-ctr
EOF
	sudo service sshd restart
    sudo service ssh restart
    /etc/init.d/ssh restart
	echo $build_machine patched
    ifconfig
fi

exit 0
ENDSSH

echo returned to host. connection check:
counter=0
until ssh -t root@$build_machine &apos;exit 0&apos;
do
	counter=$(( $counter + 1 ))
    if [ $counter -gt 10 ]
    then
    	echo Beaglebone is not available.
    	exit 1
    fi
	echo waiting for beaglebone to become connectable.
	sleep 10
    
done

echo done connection check.
</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo &quot;Building ${PROJECT_NAME} - Build # ${BUILD_NUMBER}.. result is at ${BUILD_URL}&quot;
echo &quot;Slave Beaglebone at ${build_machine}&quot;
echo checking build device 
echo &quot;Bash version ${BASH_VERSION}...&quot;
uname -a
ls -ahl
lsblk
df -h
dpkg --configure -a
swapoff -a

umount /dev/mmcblk0p*
umount /sdcard/*

lsblk
if mount | grep mmcblk0
then
  echo &quot;Error: can&apos;t unmount sdcard!&quot;
  exit 1
fi
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>exit 0
# download flasher image
#wget https://rcn-ee.com/rootfs/bb.org/testing/2016-10-09/console/BBB-blank-debian-8.6-console-armhf-2016-10-09-2gb.img.xz

swapoff -a
mount -o remount,rw /
rm BBB-blank-debian-8.6-console-armhf-2016-10-09-2gb.img.xz || true
wget $download_prefex/BBB-blank-debian-8.6-console-armhf-2016-10-09-2gb.img.xz

#Verify Image with:
if sha256sum BBB-blank-debian-8.6-console-armhf-2016-10-09-2gb* | grep 04f227885ea1f186a770edf3347b25d7f48db6a0181c0ee6cc199189c5b4c80d
then
	echo Checksum OK..
else
	echo Checksum error
	exit 1
fi

echo installing missing packages.

apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 9D6D8F6BC857C906
apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 7638D0442B90D010

apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 1655A0AB68576280
apt-key adv --keyserver keyserver.ubuntu.com --recv-keys D284E608A4C46402
apt-key adv --keyserver keyserver.ubuntu.com --recv-keys CF979FFA3D3D3ACC

apt-get update
apt-get install xz-utils parted  -y -q

exit 0

</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>exit 0
#wrting to sdcard

umount /dev/mmcblk0p* || true
echo flashing SDCard

if xzcat BBB-blank-debian-8.6-console-armhf-2016-10-09-2gb.img.xz | sudo dd of=/dev/mmcblk0
then
    echo SDCard flashed successfully
else
   echo error flashing sdcard
   exit 1
fi

echo done flashing sdcard
sync
partprobe /dev/mmcblk0
echo patching sdcard
mount /dev/mmcblk0p1 /mnt
cd /mnt/opt/scripts/tools/eMMC/

echo patching sshd_config
cat &lt;&lt;EOF &gt;&gt; /mnt/etc/ssh/sshd_config
KexAlgorithms diffie-hellman-group1-sha1,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
Ciphers 3des-cbc,blowfish-cbc,aes128-cbc,aes128-ctr,aes256-ctr
EOF

wget $download_prefex/3partitions_flasher_44.patch
patch -i 3partitions_flasher_44.patch
rm 3partitions_flasher_44.patch
if $check_badblocks
then
  echo badblocks check is active
else
  echo disable badblocks check
  sed &quot;s/badblocks/#badblocks/&quot; -i  init-eMMC-flasher-v3.sh
fi

echo patching uEnv.txt
echo cmdline=init=/opt/scripts/tools/eMMC/init-eMMC-flasher-v3.sh &gt;&gt; /mnt/boot/uEnv.txt

sync
cd
umount /mnt

echo disabling eMMC boot
mount -o remount,rw /boot/uboot
mv /boot /boot_disabled  --backup=numbered -f
rm -r /boot

rm ~/BBB-blank-debian-8.6-console-armhf-2016-10-09-2gb.img.xz || true

sync
sync
sleep 10

echo Restarting build device..
shutdown -r 1
echo Restart scheduled after a min

exit 0
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
# waiting 20min for the bulding device to flash
echo &quot;Waiting for the build device ($build_machine) to flash and become ready!&quot;
#sleep 1500

for i in {0..1200..60}
do
	echo &quot;Waiting for the build device ($build_machine) to become ready! $i&quot;
	sleep 60

	if ping $build_machine -c 2
    then
    	echo device is finally up !!
        sleep 60
        
		ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine
		ssh -t -oStrictHostKeyChecking=no root@$build_machine &lt;&lt;&apos;ENDSSH&apos;
		echo $build_machine device is connectable.. 
		lsblk
		exit 0
ENDSSH

		sleep 10
		echo returned to host. connection check:
		counter=0
		until ssh -t root@$build_machine &apos;exit 0&apos;
		do
			counter=$(( $counter + 1 ))
    		if [ $counter -gt 20 ]
    		then
    			echo Beaglebone is not available.
    			exit 1
		    fi
			echo waiting for ssh on beaglebone to become connectable.
			sleep 10
		done
		echo ssh is connectable.
        sleep 10
        exit 0
    fi
done

echo timeout waiting for the device to become ready!
exit 1</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>exit 0
echo Updating kernel on $build_machine
#
#cat &lt;&lt;EOF &gt;&gt; /etc/apt/sources.list
#deb [arch=armhf] http://repos.rcn-ee.com/debian/ jessie main
#deb-src [arch=armhf] http://repos.rcn-ee.com/debian/ jessie main
#EOF

cd
wget http://repos.rcn-ee.net/ubuntu/conf/repos.rcn-ee.net.gpg.key --no-check-certificate
apt-key add repos.rcn-ee.net.gpg.key
rm repos.rcn-ee.net.gpg.key

apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 9D6D8F6BC857C906
apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 7638D0442B90D010

apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 1655A0AB68576280
apt-key adv --keyserver keyserver.ubuntu.com --recv-keys D284E608A4C46402
apt-key adv --keyserver keyserver.ubuntu.com --recv-keys CF979FFA3D3D3ACC

	apt-get update 
        apt-get install -y -q git

	cd /opt/scripts/tools/
        rm eMMC/init-eMMC-flasher-v3.sh
#	git stash save --keep-index
	git pull

#	./update_kernel.sh --ti-rt-channel --lts-4_4
 #       ./update_kernel.sh --kernel 4.4.24-ti-rt-r58
./update_kernel.sh --kernel 4.4.36-ti-rt-r72

	sync 
	shutdown -r 1
echo restart scheduled after a min
sleep 30</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo waiting for a restart
for i in {0..300..60}
do
	echo &quot;Waiting for the build device to become ready! $i&quot;
	sleep 60
    if ping $build_machine -c 1
    then
    	echo device is finally up !!
        sleep 30
        exit 0
    fi
done

echo timeout waiting for the device to become ready!
exit 1</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>#	echo update sources# if not updated?
echo kernel is updated	
lsb_release -a
uname -a

apt-get update

apt-get autoremove -q -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb* 
apt-get autoremove -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb* libts-0.0-0 libts-bin libts-dev
apt-get autoremove -q -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb*
apt-get autoremove -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb* libts-0.0-0 libts-bin libts-dev
apt-get autoremove -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb* 
apt-get autoremove -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb* libts-0.0-0 libts-bin libts-dev

apt-get -y clean
apt-get -y autoremove
apt-get -y autoclean

apt-get upgrade -y -q
#sudo apt-get install -y -q linux-image-armmp

df -h

echo packages installation done</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo deploying web files
ls -ahl

if [ -e ~/.ssh ]
then
	echo ~/.ssh found
else
	 mkdir -p ~/.ssh/
fi

if grep diffie-hellman-group1-sha1 ~/.ssh/config
then
	echo ssh supports diffie-hellman-group1-sha1
else
	# ssh -oKexAlgorithms=+diffie-hellman-group1-sha1 root@localhost 
	# or
cat &lt;&lt;EOF &gt;&gt; ~/.ssh/config
Host $build_machine
  	KexAlgorithms +diffie-hellman-group1-sha1
EOF
	echo diffie-hellman-group1-sha1 support added.
fi

cat deploy.sh
echo | ./deploy.sh $build_machine


</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>#!/bin/bash
echo checking deployed web files


ls -ahl

if [ -e ~/chaipcr/deploy ]
then
	echo web files deploy done successfully
else
        echo error deploying ssh files
        exit 1
fi

#Replace uEnv.txt
echo Replacing uEnv.txt
cd ~/chaipcr/deploy/
./replace_uEnv.txt.sh
#sed -i &quot;s/errors=remount-ro/errors=continue/&quot; /etc/fstab

echo patching rc.local
cd /etc        
patch -i ~/chaipcr/deploy/device/rc.local.patch
cd
sync

echo Disable Mass-storage mini-usb
cd /opt/scripts/boot        
patch -i ~/chaipcr/deploy/device/storage.disable.patch 
cd ~
sync

echo Update Networking
sed -i &apos;s/#auto eth0/auto eth0/&apos; /etc/network/interfaces
sed -i &apos;s/#iface eth0/iface eth0/&apos; /etc/network/interfaces

sed -i &apos;s/#timeout 60/timeout 20/&apos; /etc/dhcp/dhclient.conf
sed -i &apos;s/#retry 60/retry 20/&apos; /etc/dhcp/dhclient.conf
sed -i &apos;s/#reboot/reboot/&apos; /etc/dhcp/dhclient.conf

apt-get update
apt-get -q -y install cpufrequtils
apt-get -q -y install unzip parted

echo installing QT
apt-get install -y -q qt5-default

df -h

echo Installing mysql

sudo debconf-set-selections &lt;&lt;&lt; &quot;mysql-server-5.5 mysql-server/root_password password &apos;&apos;&quot;
sudo debconf-set-selections &lt;&lt;&lt; &quot;mysql-server-5.5 mysql-server/root_password_again password &apos;&apos;&quot;

sudo debconf-set-selections &lt;&lt;&lt; &quot;mysql-server mysql-server/root_password password &apos;&apos;&quot;
sudo debconf-set-selections &lt;&lt;&lt; &quot;mysql-server mysql-server/root_password_again password &apos;&apos;&quot;

export DEBIAN_FRONTEND=noninteractive
sudo -E apt-get install -y -q mysql-server libmysqlclient-dev
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Update Software
apt-get update
sync
apt-get -q -y install cpufrequtils
echo &quot;FSCKFIX=yes&quot; &gt;&gt; /etc/default/rcS
cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

sync

apt-get -y -q install g++ ntp ntpdate git unzip automake sshpass build-essential
dpkg --configure -a
sync
sleep 30

if  g++ --version | grep 4.6
then
apt-get update
apt-get -y upgrade
apt-get -y install g++-4.7
apt-get clean
apt-get autoclean
rm /usr/bin/gcc
rm /usr/bin/g++
ln -s /usr/bin/gcc-4.7 /usr/bin/gcc
ln -s /usr/bin/g++-4.7 /usr/bin/g++
fi

apt-get -y -q install cmake lsb-release
sync
sleep 30

apt-get -y -q install nodejs ruby ruby-dev 
sync
sleep 30

apt-get -y -q install libxslt-dev libxml2-dev 
sync
sleep 30

apt-get -y -q install libtool
dpkg --configure -a
sync
sleep 30

apt-get -y -q install nginx-full 
dpkg --configure -a
sync
sleep 30

echo installing headers...
apt-get -y -q install linux-headers-`uname -r`
sync
sleep 30

exit 0
#libpoco-dev can apt-get poco; but guess an old version 1.3?

</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Configure Logrotate
cp ~/chaipcr/deploy/device/logrotate/logrotate.conf /etc
cp ~/chaipcr/deploy/device/logrotate/logrotate.d/* /etc/logrotate.d/
mv /etc/cron.daily/logrotate /etc/cron.hourly/ 

apt-get update 
apt-get install -y -q git
update-initramfs -u
touch /forcefsck

echo rebooting for changes to take effect.
sync
shutdown -r 1
echo a reboot is scheduled after a minute.</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
sleep 60
echo waiting for a restart
for i in {0..300..60}
do
	echo &quot;Waiting for the build device to become ready! $i&quot;
	sleep 60
    if ping $build_machine -c 1
    then
    	echo device is finally up !!
        sleep 30
        exit 0
    fi
done

echo timeout waiting for the device to become ready!
exit 1
</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo arranging to build julia and different libs
cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

sync

df -h
ntpdate -b -s -u pool.ntp.org

sudo apt-get -q -y install libblas3gf liblapack3gf libfftw3-dev libgmp3-dev libmpfr-dev libblas-dev liblapack-dev cmake gcc-4.8 g++-4.8 gfortran libgfortran3 m4 libedit-dev parted git ntp build-essential hdf5-tools curl python pkg-config libssl-dev cpufrequtils libc-bin
apt-get -f -y -q install

apt-get install -q -y libarpack2 libblas-common libblas3 libfftw3-double3 libfftw3-single3 libgfortran3 liblapack3 libllvm3.8 libmetis5 libopenblas-base libunwind8
apt-get -f -y -q install

sudo apt-get -q -y install libblas3gf liblapack3gf libfftw3-dev libgmp3-dev libmpfr-dev libblas-dev liblapack-dev cmake gcc-4.8 g++-4.8 gfortran libgfortran3 m4 libedit-dev parted git ntp build-essential hdf5-tools curl python pkg-config libssl-dev libarpack2 libblas-common libblas3 libfftw3-double3 libfftw3-single3 libgfortran3 liblapack3 libllvm3.8 libmetis5 libopenblas-base libunwind8 liblapack-dev liblapack3 libopenblas-base libopenblas-dev
apt-get -f -y -q install

apt-get -y -q install i2c-tools evtest git automake libtool
apt-get -f -y -q install

sync
sync
 fsck /dev/mmcblk1p1 -y -f

exit 0</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Setup MySQL
systemctl stop mysql.service
mv /var/lib/mysql /data/
sed -i &quot;s,datadir.*=.*,datadir=/data/mysql,g&quot; /etc/mysql/my.cnf # Edit /etc/mysql/my.cnf and change datadir to /data/mysql
systemctl start mysql.service

sync

echo build latest stable poco 1.7.6
cd
wget --no-check-certificate &quot;https://pocoproject.org/releases/poco-1.7.6/poco-1.7.6.tar.gz&quot;
tar xpvzf poco-1.7.6.tar.gz
cd poco-1.7.6
./configure
make
make install
cd
rm -rf poco-1.7.6* poco-1.7.6.tar.gz

sync

echo Build/install LCD drivers
cd ~/chaipcr/modules/LCDtouch_V3
chmod 775 install_debian.sh
mkdir -p /boot/uboot/dtbs/
./install_debian.sh
rm -rf /usr/src/linux*


sync
sync
fsck /dev/mmcblk1p1 -y -f

exit 0</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Build/update wifi drivers- ignored now.. lets see if the latest is making any issues

echo Install browser
# Deploy browser to ~/tmp
cp -r ~/chaipcr/browser/resources ~/tmp/
cp ~/chaipcr/browser/qpcrbrowser.service /lib/systemd/system/
systemctl enable qpcrbrowser.service

echo Install PRU libraries and Tools
cd
wget https://github.com/beagleboard/am335x_pru_package/archive/master.zip --no-check-certificate
unzip master.zip
mkdir /usr/include/pruss/
cp ~/am335x_pru_package-master/pru_sw/app_loader/include/pruss* /usr/include/pruss/
cd ~/am335x_pru_package-master/pru_sw/app_loader/interface
CROSS_COMPILE= make  #note: there is space between = and make
cp ~/am335x_pru_package-master/pru_sw/app_loader/lib/lib* /usr/lib/
ldconfig
cd ~/am335x_pru_package-master/pru_sw/utils/pasm_source
source linuxbuild
cd ..
cp pasm /usr/bin/ 
cd
rm master.zip || true

exit 0
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo &quot;Install device tree overlay and PRU binary(do this every time it changes):&quot;
cd ~/chaipcr/deploy/overlay
bash ./build.sh
sync
cd</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo cleanup without envs
ntpdate -b -s -u pool.ntp.org

cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

sync

apt-get autoremove -q -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb*

echo cleanup with envs
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin DEBIAN_FRONTEND=noninteractive apt-get autoremove -q -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb*


apt-get clean
apt-get autoclean

apt-get -q -y autoremove

# tslib
#??sudo apt-get install -y tslib libts-bin
echo building tslib
cd

echo installing with envs..
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin DEBIAN_FRONTEND=noninteractive apt-get -y -q install i2c-tools evtest git automake libtool
echo with no envs
apt-get -y -q install i2c-tools evtest git automake libtool

git clone git://github.com/kergoth/tslib.git
cd tslib

echo autoget tslib
./autogen.sh
echo configure tslib
./configure
echo making tslib
make
make install
cd
rm -r tslib

sync

echo Set environment variables 
cat &gt; ~/.profile &lt;&lt; EOL
    export SLOTS=/sys/devices/bone_capemgr.9/slots
    export PINS=/sys/kernel/debug/pinctrl/44e10800.pinmux/pins
    export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
    export TSLIB_TSEVENTTYPE=INPUT
    export TSLIB_CONSOLEDEVICE=none
    export TSLIB_FBDEVICE=/dev/fb0
    export TSLIB_CALIBFILE=/etc/pointercal
    export TSLIB_CONFFILE=/etc/ts.conf
    export TSLIB_PLUGINDIR=/usr/local/lib/ts
    export TSLIB_TSDEVICE=/dev/input/event1
    export POINTERCAL_FILE=/etc/pointercal
    export QWS_MOUSE_PROTO=tslib:/dev/input/event1
EOL
source ~/.profile

# Calibrate Touchscreen
cp /usr/local/etc/ts.conf /etc/
# maybe we can perform calibration on first use

#Edit /etc/ts.conf to uncomment the second line:
sed -i &apos;s/#module_raw input/module_raw input/&apos; /etc/ts.conf

#Run ts_configure and press crosshairs on LCD.. maybe on first run

echo check ldconfig
which ldconfig

echo patching /etc/ld.so.conf
echo &quot;/usr/local/lib&quot; &gt;&gt; /etc/ld.so.conf
ldconfig

echo Installing R
apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 06F90DE5381BA480
echo deb http://cran.cnr.berkeley.edu/bin/linux/debian jessie-cran3/ &gt;&gt; /etc/apt/sources.list
apt-get update
apt-get -y -q upgrade





if false
then

PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin DEBIAN_FRONTEND=noninteractive apt-get install -q -y r-cran-rserve r-cran-rmysql r-cran-dbi r-cran-stringr r-cran-robustbase
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin DEBIAN_FRONTEND=noninteractive apt-get install -q -y r-cran-deoptimr

if apt-get install -q -y r-cran-rserve r-cran-rmysql r-cran-dbi r-cran-stringr r-cran-robustbase
then
   echo R installed successfully
else
   echo R was not able to install.
   exit 1
fi

ln -s /usr/bin/R /usr/local/bin/R
else
wget --no-check-certificate https://cran.r-project.org/src/base/R-3/R-3.2.3.tar.gz
tar xpvzf R-3.2.3.tar.gz
cd R-3.2.3
./configure --with-readline=no --with-x=no --enable-R-shlib --disable-java
make
make install
cd ..
rm -rf R-3.2.3 R-3.2.3.tar.gz

wget ---no-check-certificate https://rforge.net/Rserve/snapshot/Rserve_1.8-4.tar.gz
R CMD INSTALL Rserve_1.8-4.tar.gz
rm Rserve_1.8-4.tar.gz

wget --no-check-certificate https://cran.r-project.org/src/contrib/00Archive/DBI/DBI_0.3.1.tar.gz
R CMD INSTALL DBI_0.3.1.tar.gz 
rm DBI_0.3.1.tar.gz 

wget --no-check-certificate https://cran.r-project.org/src/contrib/00Archive/RMySQL/RMySQL_0.10.7.tar.gz
R CMD INSTALL RMySQL_0.10.7.tar.gz
rm RMySQL_0.10.7.tar.gz

fi

wget --no-check-certificate https://cran.r-project.org/src/contrib/00Archive/DEoptimR/DEoptimR_1.0-6.tar.gz
R CMD INSTALL DEoptimR_1.0-6.tar.gz
rm DEoptimR_1.0-6.tar.gz

wget --no-check-certificate https://cran.r-project.org/src/contrib/00Archive/Rcpp/Rcpp_0.12.2.tar.gz
R CMD INSTALL Rcpp_0.12.2.tar.gz
rm Rcpp_0.12.2.tar.gz

wget --no-check-certificate https://cran.r-project.org/src/contrib/00Archive/plyr/plyr_1.8.3.tar.gz
R CMD INSTALL plyr_1.8.3.tar.gz
rm plyr_1.8.3.tar.gz

wget https://cran.r-project.org/src/contrib/00Archive/stringi/stringi_1.0-1.tar.gz --no-check-certificate
R CMD INSTALL stringi_1.0-1.tar.gz
rm stringi_1.0-1.tar.gz

if ! wget https://cran.fhcrc.org/src/contrib/magrittr_1.5.tar.gz --no-check-certificate
then
	wget https://cran.fhcrc.org/src/contrib/00Archive/magrittr/magrittr_1.5.tar.gz --no-check-certificate
fi
R CMD INSTALL magrittr_1.5.tar.gz
rm magrittr_1.5.tar.gz

if ! wget https://cran.r-project.org/src/contrib/reshape2_1.4.1.tar.gz --no-check-certificate
then
	wget https://cran.r-project.org/src/contrib/00Archive/reshape2/reshape2_1.4.1.tar.gz --no-check-certificate
fi
R CMD INSTALL reshape2_1.4.1.tar.gz
rm reshape2_1.4.1.tar.gz

if ! wget https://cran.r-project.org/src/contrib/minpack.lm_1.2-0.tar.gz --no-check-certificate
then
	wget https://cran.r-project.org/src/contrib/00Archive/minpack.lm/minpack.lm_1.2-0.tar.gz --no-check-certificate
fi
R CMD INSTALL minpack.lm_1.2-0.tar.gz
rm minpack.lm_1.2-0.tar.gz

wget https://cran.r-project.org/src/contrib/00Archive/jsonlite/jsonlite_0.9.19.tar.gz --no-check-certificate
R CMD INSTALL jsonlite_0.9.19.tar.gz
rm jsonlite_0.9.19.tar.gz

cp ~/chaipcr/deploy/device/Rserve/Rserv.conf /etc
cp ~/chaipcr/deploy/device/Rserve/r.service /lib/systemd/system/

sync
sync
 fsck /dev/mmcblk1p1 -y -f
 fsck /dev/mmcblk0p1 -y -f

systemctl enable r.service

exit 0</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo downloading and installing Julia
cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

sync

#pufreq-set --governor ondemand 
echo 1500 &gt; /proc/sys/kernel/hung_task_timeout_secs

# add gfortran link to search path. 
ln -s /usr/lib/gcc/arm-linux-gnueabihf/4.9/libgfortran.so /usr/lib/libgfortran.so

cd
echo unmounting any sdcard folders
umount /sdcard/*
umount /dev/mmcblk0p*

LC_ALL=C sfdisk --force -uS --Linux /dev/mmcblk0 &lt;&lt;-__EOF__
,,0xe,*
__EOF__

partprobe /dev/mmcblk0
mkfs.ext4 /dev/mmcblk0p1 -F
mkdir -p /sdcard/upgrade
if mount /dev/mmcblk0p1 /sdcard/upgrade/
then
    echo &quot;temp sdcard folder mounted&quot;
else
   echo &quot;Error mounting temp sdcard folder&quot;
   exit 1
fi

# creating a temporary swap file on sdcard
if fallocate -l 1G /sdcard/upgrade/swapfile #or dd if=/dev/zero of=/sdcard/upgrade/swapfile bs=10M count=300
then
    echo &quot;swap file created successfully&quot;
else
   echo &quot;failed creating swap file&quot;
   exit 1
fi
sudo chmod 600 /sdcard/upgrade/swapfile
sudo mkswap /sdcard/upgrade/swapfile
sudo swapon /sdcard/upgrade/swapfile

#verifying swap file is successfully added
sudo swapon -s

free -m

sync

mkdir -p ~/julia-compile
cd ~/julia-compile
wget $download_prefex/julia05-44-slim-default.tgz

sync

echo installing julia
if tar xf julia05-44-slim-default.tgz -C / julia/usr --strip-components=1 
then
    echo &quot;extracted julia usr files&quot;
else
   echo &quot;Error extracting julia&quot;
   exit 1
fi

sync

#if tar xf julia05-44-slim-default.tgz -C ~ .julia
#then
#    echo &quot;extracted .julia folder&quot;
#    echo updating .cache link
#    cd ~/.julia/v0.5
#    rm .cache
#    ln -s ~/.julia/.cache .cache
#    cd sdcard/upgrade/julia-compile
#else
#    echo &quot;Error extracting julia&quot;
#    exit 1
#fi

#tar xf julia05-44-slim-default.tgz -C / julia/usr/etc --strip-components=2

echo &quot;export JULIA_PKGDIR=/root/.julia&quot;&gt;&gt;~/.profile
source ~/.profile
sync
sleep 60
if [ -e /usr/share/julia/bin/julia ] &amp;&amp; [ ! -e /usr/bin/julia ]
then
	ln -sf /usr/share/julia/bin/julia /usr/bin/julia
fi




#============== test
echo test finished. cleaning..
sync
cd
rm -r ~/julia-compile
sync
sync
fsck /dev/mmcblk1p1 -y -f
fsck /dev/mmcblk0p1 -y -f

sync

sleep 60
echo &quot;Setting up Julia: Initializing rep&quot;
julia --print &quot;Pkg.init()&quot;
sync
sleep 60
echo &quot;Setting up Julia: Updating rep&quot;
julia --print &quot;Pkg.update()&quot;
sync
sleep 60
echo precompiling mandatory packages.
cat &lt;&lt;EOF &gt;&gt; chaibio_packages.jl

println(&quot;Setting up Julia: Adding packages&quot;)
Pkg.add(&quot;Dierckx&quot;)
Pkg.add(&quot;JSON&quot;)
Pkg.add(&quot;MySQL&quot;)
Pkg.add(&quot;JLD&quot;)
Pkg.add(&quot;DataFrames&quot;)
Pkg.add(&quot;Ipopt&quot;)
Pkg.add(&quot;JuMP&quot;)
Pkg.add(&quot;NLopt&quot;)
Pkg.add(&quot;HttpServer&quot;)

println(&quot;Setting up Julia: Building packages&quot;)
Pkg.resolve()

println(&quot;Setting up Julia: Precompiling packages&quot;)
using DataFrames, DataStructures, Dierckx, Ipopt, JLD, JSON, JuMP, MySQL, NLopt, HttpServer

println(&quot;Setting up Julia: Testing packages&quot;)
Pkg.test(&quot;Dierckx&quot;)
Pkg.test(&quot;JSON&quot;)
Pkg.test(&quot;MySQL&quot;)
Pkg.test(&quot;JLD&quot;)
Pkg.test(&quot;DataFrames&quot;)
Pkg.test(&quot;Ipopt&quot;)
Pkg.test(&quot;JuMP&quot;)
Pkg.test(&quot;NLopt&quot;)
Pkg.test(&quot;HttpServer&quot;)

println(&quot;Setting up Julia: done testing.. quitting..&quot;)
quit()
EOF
sync
sleep 60

# leave julia staff to be able to test why it crashes the system
julia chaibio_packages.jl
rm chaibio_packages.jl
julia --print &apos;Pkg.build(&quot;HDF5&quot;)&apos;
julia --print &apos;Pkg.build(&quot;HDF5&quot;)&apos;
julia --print &apos;Pkg.build(&quot;HDF5&quot;)&apos;
julia --print &apos;Pkg.build(&quot;HDF5&quot;)&apos;

echo test finished. cleaning..
sync
cd
rm -r ~/julia-compile
sync
sync
fsck /dev/mmcblk1p1 -y -f
fsck /dev/mmcblk0p1 -y -f

exit 0
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo checking julia installation
which julia
julia --version

exit 0




</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>#echo cleaning julia build
#cd /sdcard/upgrade
#rm -r julia-compile
#sync

echo Disable Services
systemctl disable cloud9.service
systemctl disable bonescript.service
systemctl disable bonescript.socket
systemctl disable bonescript-autorun.service
rm /etc/systemd/system/sockets.target.wants/cloud9.socket

echo ifup script fix
echo &quot;Due to a bug (https://bugs.launchpad.net/ubuntu/+source/ntp/+bug/1206164) a script from ifup has to be fixed&quot;
sed -i &apos;s/) \&amp;/) &lt;\/dev\/null &gt;\/dev\/null 2&gt;\&amp;1 \&amp;/g&apos; /etc/network/if-up.d/ntpdate

#apt-get autoremove -q -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data libx11* libxcb*

apt-get clean
apt-get autoclean

apt-get -q -y autoremove
sync
sync
fsck /dev/mmcblk1p1 -y -f
fsck /dev/mmcblk0p1 -y -f

exit 0</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Install Ruby Packages

cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

#apt-get install -y -q ruby ruby-dev libxslt-dev libxml2-dev #Needed for Nokogiri
gem install bundle
#apt-get -q -y install nodejs 
#gem install nodejs
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Build gems with native extensions
bundle config build.atomic --use-system-libraries
bundle config build.json --use-system-libraries
bundle config build.sqlite3 --use-system-libraries
bundle config build.nokogiri --use-system-libraries
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Setup Rails app

cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi
mkdir -p ~/chaipcr/web/config/
cat &lt;&lt;EOF &gt;&gt; ~/chaipcr/web/config/database.yml
    production:
      adapter: mysql2
      database: chaipcr
      pool: 5
      timeout: 5000
      username: root
      password:
EOF
echo database.yml created

cd /root/chaipcr/web
chmod 755 /root

echo rserve 
echo \n | gem install rserve-client #otherwise bundle fails, don&apos;t know why

echo bundle
echo &quot;\n&quot; | bundle

echo rake setup
echo &quot;\n&quot; | RAILS_ENV=production bundle exec rake db:setup

echo seed_fu
echo &quot;\n&quot; | RAILS_ENV=production bundle exec rake db:seed_fu 

echo done rserev</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Installing Nginx
#apt-get -q -y install nginx-full
cp ~/chaipcr/web/config/etc/nginx/chaipcr /etc/nginx/sites-available/
cd /etc/nginx/sites-enabled
sudo ln -s ../sites-available/chaipcr
rm default 

cat &lt;&lt;EOF &gt;&gt; /etc/nginx/nginx.conf 
#Add the following to /etc/nginx/nginx.conf under the http section:
    # Unicorn
     upstream unicorn {
       server unix:/root/shared/sockets/unicorn.sock fail_timeout=0;
    }
EOF

update-rc.d -f nginx defaults
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Unicorn

mkdir ~/shared
mkdir ~/shared/pids
mkdir ~/shared/log
mkdir ~/shared/sockets 

cp ~/chaipcr/web/config/etc/unicorn_init.d /etc/init.d/unicorn
chmod +x /etc/init.d/unicorn
mkdir /etc/unicorn
cp ~/chaipcr/web/config/etc/unicorn/chaipcr.conf /etc/unicorn/
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Remote Support Access
sync
echo &quot;temp\ntemp\nAny name\n\n\n\n\n\n&quot; | adduser service # any pw will do, will delete it below

echo setting up service user
adduser service sudo
mkdir /root/.ngrok2
mkdir /home/service/.ssh
chown service /home/service/.ssh
chgrp service /home/service/.ssh
cd

cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

sync

wget https://dl.ngrok.com/ngrok_2.0.19_linux_arm.zip --no-check-certificate
#wget $download_prefex/ngrok_2.0.19_linux_arm.zip
unzip ngrok_2.0.19_linux_arm.zip
rm ngrok_2.0.19_linux_arm.zip
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo removing service user password
#Edit /etc/shadow, remove password for service by setting pw to *
passwd service -d
</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Maintenance

cd /root/chaipcr/web
bundle exec rake db:migrate # migrates database as needed

exit 0</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Mocking Status API
echo Should this go on PC/dev environment?

exit 0

sync
mkdir delthis
cd delthis
git clone https://github.com/chaibio/chaipcr.git
cd chaipcr/mock-status-api

echo installing...
npm install

echo starting server...
node server.js

sleep 100

echo cleaning up..
cd
rm -r delthis

exit 0</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo installing boost
sync
apt-get -q -y install libboost-all-dev
if apt-get -q -y install qt5-default
then
    apt-get -q -y install qt5-qmake
else
   apt-get -q -y install qt4-dev-tools qt4-qmake
fi</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo realtime compile

cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

sync

mkdir -p /sdcard/upgrade/realtime-compile
cd /sdcard/upgrade/realtime-compile
git clone https://github.com/chaibio/chaipcr.git
cd /sdcard/upgrade/realtime-compile/chaipcr/realtime

qmake
sed -i &quot;s/arm-unknown-linux-gnueabi-//&quot; Makefile
make
make install
cp realtime ~/tmp
cp libraries/lib/* /usr/lib/
cd
rm -r /sdcard/upgrade/realtime-compile

swapoff /sdcard/upgrade/swapfile
rm /sdcard/upgrade/swapfile

echo  Deploy realtime to ~/tmp
cp ~/chaipcr/deploy/device/realtime.service /lib/systemd/system/
systemctl enable realtime.service


cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

## ------------------------- JULIA INIT

sleep 60
echo &quot;Setting up Julia: Initializing rep&quot;
julia --print &quot;Pkg.init()&quot;
sync
sleep 60
echo &quot;Setting up Julia: Updating rep&quot;
julia --print &quot;Pkg.update()&quot;
sync
sleep 60
echo precompiling mandatory packages.
cat &lt;&lt;EOF &gt;&gt; chaibio_packages.jl

println(&quot;Setting up Julia: Adding packages&quot;)
Pkg.add(&quot;Dierckx&quot;)
Pkg.add(&quot;JSON&quot;)
Pkg.add(&quot;MySQL&quot;)
Pkg.add(&quot;JLD&quot;)
Pkg.add(&quot;DataFrames&quot;)
Pkg.add(&quot;Ipopt&quot;)
Pkg.add(&quot;JuMP&quot;)
Pkg.add(&quot;NLopt&quot;)
Pkg.add(&quot;HttpServer&quot;)

println(&quot;Setting up Julia: Building packages&quot;)
Pkg.resolve()

println(&quot;Setting up Julia: Precompiling packages&quot;)
using DataFrames, DataStructures, Dierckx, Ipopt, JLD, JSON, JuMP, MySQL, NLopt, HttpServer

println(&quot;Setting up Julia: Testing packages&quot;)
Pkg.test(&quot;Dierckx&quot;)
Pkg.test(&quot;JSON&quot;)
Pkg.test(&quot;MySQL&quot;)
Pkg.test(&quot;JLD&quot;)
Pkg.test(&quot;DataFrames&quot;)
Pkg.test(&quot;Ipopt&quot;)
Pkg.test(&quot;JuMP&quot;)
Pkg.test(&quot;NLopt&quot;)
Pkg.test(&quot;HttpServer&quot;)

println(&quot;Setting up Julia: done testing.. quitting..&quot;)
quit()
EOF
sync
sleep 60
# leave julia staff to be able to test why it crashes the system
julia chaibio_packages.jl
rm chaibio_packages.jl

echo test finished. cleaning..
sync
cd
rm -r ~/julia-compile
sync
sync
fsck /dev/mmcblk1p1 -y -f
fsck /dev/mmcblk0p1 -y -f

exit 0</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo zeroing

dd if=/dev/zero of=/zeros.bigfile bs=16M
sync
rm /zeros.bigfile
sync
mkdir -p /tmp/zeroer
if mount /dev/mmcblk1p2 /tmp/zeroer
then
    dd if=/dev/zero of=/tmp/zeroer/zeros.bigfile bs=16M
    sync
    rm /tmp/zeroer/zeros.bigfile
    sync
    umount /tmp/zeroer
fi

if mount /dev/mmcblk1p3 /tmp/zeroer
then
    dd if=/dev/zero of=/tmp/zeroer/zeros.bigfile bs=16M
    sync
    rm /tmp/zeroer/zeros.bigfile
    sync
    umount /tmp/zeroer
fi

echo basic beaglebone setup done!</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo changing root password to chaipcr
echo &quot;root:chaipcr&quot; | chpasswd
sync
echo rebooting
shutdown -r 1
echo a reboot is scheduled after a minute</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
sleep 60
echo waiting for a restart
for i in {0..300..60}
do
	echo &quot;Waiting for the build device to become ready! $i&quot;
	sleep 60
    if ping $build_machine -c 2
    then
    	echo device is finally up !!
        sleep 30
        exit 0
    fi
done

echo timeout waiting for the device to become ready!
exit 1
</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.4">
      <siteName>root@$build_machine:22</siteName>
      <command>echo device is still connectable!

cpufreq-info
cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
if $low_performance
then
    cpufreq-set -f 300MHz 
    cpufreq-set -g conservative --max 300MHz
fi

cd
echo unmounting any sdcard folders
umount /sdcard/*
umount /dev/mmcblk0p*

echo cleaning up sdcard
LC_ALL=C sfdisk --force -uS --Linux /dev/mmcblk0 &lt;&lt;-__EOF__
,,0xe,*
__EOF__

partprobe /dev/mmcblk0
mkfs.ext4 /dev/mmcblk0p1 -F

sync
sync
 fsck /dev/mmcblk1p1 -y -f
 fsck /dev/mmcblk0p1 -y -f

mount /dev/mmcblk0p1 /sdcard/upgrade/

exit 0</command>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#build( &quot;create_factory_settings_sdcard&quot;, build_machine:&quot;$build_machine&quot;, output_sdcard:&quot;/dev/sdb&quot;)
echo all done for $build_machine, you can call create_factory_settings_sdcard job to create a factory settings image. root password is chaipcr

exit 0</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.7"/>
  </buildWrappers>
</project>