.password-editor{
    display: flex;
    position: relative;

    &.error-field{
        .ch-form-control{
            border-color: #E02127;
        }
    }

    input{
        width: 100%;
    }

    .ch-button{
        padding: 5px 10px;
        border: 1px solid #000;
        position: absolute;
        right: 10px;
        top: 7px;
    }
}

.error{
    display: block;
    margin-top: 15px;
    color: #E02127;
}