<ng-container>
	<div class="password-editor" [ngClass]="{'error-field': errorMessage}">
		<input type="text" [name]="name" class="ch-form-control CX3 user-{{name}}" [(ngModel)]="text" #textinput [hidden]="!showText" 
			(focus)="onInputFocus($event)" (focusout)="onInputFocusOut($event)">
		<input type="password" [name]="name" class="ch-form-control CX3 user-{{name}}" [(ngModel)]="text" #passwordinput [hidden]="showText"
			(focus)="onInputFocus($event)" (focusout)="onInputFocusOut($event)">	
		<button class="ch-button CX5-M" (click)="changeTextMode()" *ngIf="_isFocusIn">{{!showText ? 'Show Text' : 'Hide Text'}}</button>
	</div>
	<label class="CX3-M error" *ngIf="errorMessage">{{errorMessage}}</label>
</ng-container>