<div ng-controller="PikaExpRunningCtrl">
  <div class="pika-wrapper" side-menu-layout>
    <header-exp-status experiment-id="experiment.id">
      <div class="stripes-and-name" toggle-sidemenu>
        <div class="stripes">
          <img src='/images/menu-white.svg'/>
        </div>
      </div>
    </header-exp-status>
    <div class="pika-content">
      <p class="description CX2">
        Your experiment is running. Please do not open the hardware unless instructed to here.
      </p>
      <p class="time-status CX3-M">
        Time Remaining:
      </p>
      <p class="digit-time CX1-L">
        1:13:13
      </p>
      <p class="CX4">
        Expected complete at roughly 3:42
      </p>
    </div>
  </div>
</div>