<div class="login-container"> {{deviceInfo}}
  <form class="login-wrapper">
    <div class="login-box">
      <div class="login-inner-container">
        <div class="logo-version-section">
          <img class="logo" src="assets/images/login_logo.png">
          <span class="version-data">Version 1.0.9.6</span>
        </div>
        <div class="input-section">
          <span class="login-input-label">Username</span>
          <input type="text" class="login-input-field" placeholder="Email Address" autofocus required>
        </div>
        <div class="input-section password">
          <span class="login-input-label">Password</span>
          <input type="password" placeholder="Enter Password" class="login-input-field">
        </div>
        <div class="message-section text-center">
          <span class="text-danger">The email and password entered do not match</span>
        </div>
        <div class="submit-section text-center">
          <button type="submit" class="login-button">Sign In</button>
        </div>
      </div>
    </div>
    <div class="serial-section">
      <span class="serial-data">Serial#:&nbsp;xxxxx</span>
    </div>
  </form>
</div>
<!-- 
      <div class="login-section title-field">
        <img src="assets/images/login_logo.png">
        <span ng-if="software_version" class="version-data">Version 1.0.9.6</span>
      </div>
      <div class="login-section">
        <div class="login-field">
          <span class="login-field-text">Username</span>
          <input type="text" id="user" class="login-text-field" placeholder="Email Address" autofocus="" ng-model="user.email">
        </div>
        <div class="login-field second">
          <span class="login-field-text">Password</span>
          <input type="password" id="pass" placeholder="Enter Password" class="login-text-field" ng-model="user.password">
        </div>
      </div>
      <div class="login-section">
        <p class="text-danger text-center err-message">
          &nbsp;{{errors}}
        </p>
        <div class="login-bitton-container">
          <button type="submit" class="login-button" id="login-button">Sign In</button>
        </div>
      </div>
      <div class="serial-container">
        <span class="serial-data">Serial#:&nbsp;xxxxx</span>
      </div> -->
