<div ng-controller="ChaiTestExpSetWellsCtrl">
  <div class="pika-wrapper" side-menu-layout is-open="false">
    <header-exp-status experiment-id="experiment.id">
      <div class="home-link CB1-M" ui-sref="home()" ng-if="!experiment.started_at">
        <img src='/images/dynexp/pika-test/menu-back-white-only.svg'/>
        Back to Home
      </div>
      <div class="stripes-and-name" toggle-sidemenu ng-if="experiment.started_at">
        <div class="stripes">
          <img src='/images/menu-grey.svg'/>
        </div>
      </div>      
    </header-exp-status>
    <div class="inner-wrapper">
      <div class="inner-container">
        <header class="exp-header">
          <span class="CB2-M sub-caption">Assign wells for experiment:</span>
          <inline-exp-name-editor></inline-exp-name-editor>
        </header>
        <div class="pika-content">
          <section class="well-container">
            <div class="well-panel">
              <div class="d-flex">
                <h1 class="CH1">{{ target1_name ? target1_name : targets[0].name }}</h1>
                <h1 class="CH1" ng-if="is_two_kit">{{ targets[1].name ? targets[1].name : ''}}</h1>
              </div>
              <div class="d-flex mt-20">
                <div class="well-table">
                  <div class="well-row d-flex align-items-center" ng-repeat="x in samples track by $index">
                    <span class="CB2 number">A{{$index+1}}.</span>
                    <input
                      type="text" 
                      class="CB1-M name" 
                      ng-model="x.name"                  
                      readonly
                      ng-if="isControlWell(x, $index, 'A')"
                      ng-focus="focusWell('A', $index, x.name)"
                      >
                    <input
                      type="text" 
                      class="CB1-M name" 
                      ng-class="{'empty-input':!x.name}" 
                      ng-model="x.name"
                      ng-blur="updateWellA($index,x)"
                      ng-focus="focusWell('A', $index, x.name)"
                      ng-if="!isControlWell(x, $index, 'A')"
                      >
                    <label class="CG1 type" ng-class="{'positive': well_types[$index] == 'positive_control', 'negative': well_types[$index] == 'negative_control', 'available': x.name}"></label>
                    <img src="/images/dynexp/pika-test/note-disable.svg" class="note" ng-if="!x.name"/>
                    <img src="/images/dynexp/pika-test/note-on.svg" class="note cursor-pointer note-{{'A'+$index}}" ng-if="x.name && x.notes" ng-click="openNotes($index, x, 'A')"/>
                    <img src="/images/dynexp/pika-test/note-off.svg" class="note cursor-pointer note-{{'A'+$index}}" ng-if="x.name && !x.notes" ng-click="openNotes($index, x, 'A')"/>
                  </div>
                </div>
                <div class="well-table">
                  <div class="well-row d-flex align-items-center" ng-repeat="x in samples_B track by $index">
                    <span class="CB2 number">B{{$index+1}}.</span>
                    <input
                      type="text" 
                      class="CB1-M name" 
                      ng-model="x.name"
                      readonly
                      ng-if="isControlWell(x, $index, 'B')"
                      ng-focus="focusWell('B', $index, x.name)"
                      >
                    <input
                      type="text" 
                      class="CB1-M name" 
                      ng-class="{'empty-input':!x.name}" 
                      ng-model="x.name"
                      ng-blur="updateWellB($index,x)"
                      ng-focus="focusWell('B', $index, x.name)"
                      ng-if="!isControlWell(x, $index, 'B')"
                      >
                    <label class="CG1 type" ng-class="{'positive': well_types[$index + 8] == 'positive_control', 'negative': well_types[$index + 8] == 'negative_control', 'available': x.name}"></label>
                    <img src="/images/dynexp/pika-test/note-disable.svg" class="note" ng-if="!x.name"/>
                    <img src="/images/dynexp/pika-test/note-on.svg" class="note cursor-pointer note-{{'B'+$index}}" ng-if="x.name && x.notes" ng-click="openNotes($index, x, 'B')"/>
                    <img src="/images/dynexp/pika-test/note-off.svg" class="note cursor-pointer note-{{'B'+$index}}" ng-if="x.name && !x.notes" ng-click="openNotes($index, x, 'B')"/>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="well-command">
            <div class="mini-map">
              <table>
                <tr class="map-col-header">
                  <td></td>
                  <td class="CG2" ng-repeat="x in samples track by $index">{{$index + 1}}</td>
                </tr>
                <tr>
                  <td class="map-row-header CG1">A</td>
                  <td class="CG2" ng-repeat="x in samples track by $index">
                    <label class="CG1 type" 
                      ng-class="{
                        'positive': well_types[$index] == 'positive_control', 
                        'negative': well_types[$index] == 'negative_control', 
                        'available': x.name,
                        'active': (current_well_index == $index && current_well_row == 'A')}"></label>
                  </td>
                </tr>
                <tr>
                  <td class="map-row-header CG1">B</td>
                  <td class="CG2" ng-repeat="x in samples_B track by $index">
                    <label class="CG1 type" 
                      ng-class="{
                        'positive': well_types[$index + 8] == 'positive_control', 
                        'negative': well_types[$index + 8] == 'negative_control', 
                        'available': x.name,
                        'active': (current_well_index == $index && current_well_row == 'B')}"></label>
                  </td>
                </tr>
              </table>
              <div class="control-check" ng-if="is_omittable">
                <div class="well-check CB2-M">
                  <label ng-click="omitPositive()"><img src="/images/omit_check.svg" ng-show="omit_positive"></label>Omit Positive Control
                </div>
                <span class="CB3">Will decrease certainty in negative results</span>
                <a class="CB3-M" ng-click="learnMoreClick(true)">Learn More</a>
                <div class="omit-tooltip" ng-if="omit_positive_help" style="top: -140px;">
                  <a ng-click="learnMoreClick(true)"><img src="/images/x_k.svg"></a>
                  <p class="CB2">It is recommended to run positive controls with each run to validate performance of the system. Positive controls should be omitted only by users with complete confidence in their sample preparation.</p>
                </div>
              </div>
              <div class="control-check" ng-if="is_omittable">
                <div class="well-check CB2-M">
                  <label ng-click="omitNegative()"><img src="/images/omit_check.svg" ng-show="omit_negative"></label>Omit Negative Control
                </div>
                <span class="CB3">Positive samples may not be called</span>
                <a class="CB3-M" ng-click="learnMoreClick(false)">Learn More</a>
                <div class="omit-tooltip" ng-if="omit_negative_help">
                  <a ng-click="learnMoreClick(false)"><img src="/images/x_k.svg"></a>
                  <p class="CB2">In order to call a positive sample, it is necessary for one well to return a valid negative result. Without this, it cannot be concluded that positive results and not due to PCR contamination. <br/><br/>The negative control should only be omitted if you expect at least one negative result, i.e. you are running a high number of samples and expect most will be negative.</p>
                </div>
              </div>
            </div>
            <div ng-if="experiment && !experiment.started_at">
              <button class="button-start-exp CB1-M" id="start-experiment-button" ng-if="!start_confirm_show" ng-click="startConfirm()">Start Experiment</button>
              <button class="button-confirm-exp CB1-M" id="start-experiment-button" ng-if="start_confirm_show" ng-click="startExperiment()">Confirm Start</button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <status-bar></status-bar>
</div>