<div id="logScreen" class="container">
	<div class="graphOutLine blue-border">
		<div class="blue-heading">
			<span>Temperature Plot</span>
		</div>
		<div class="content-area">
			<div class="black-heading">
				Temperature Plot
			</div>
			<div id="graph">
				
			</div>
		</div>
	</div>

	<!-- <div class="currentTemperatures">
		<div class="zones blue-border">
			<div class="blue-heading">
				<span>Current Temperatures</span>
			</div>
			<div class="content-area">
			ds
			</div>
		</div>

		<div class="plots blue-border">
			<div class="blue-heading">
				<span>Temperature Plot</span>
			</div>
			<div id="maincontent" class="content-area">
				ds
			</div>
		</div>
	</div> -->
</div>