<div class="amplification-well-switch">
  <table>
    <tbody>
      <tr>
        <th (mousedown)="dragStart($event, 'corner', 0)" [ngStyle]="{width: row_header_width + 'px'}" class="col-header"></th>
        <th (mousedown)="dragStart($event, 'column', col.index)" (mouseup)="dragStop($event, 'column', col.index)" (mousemove)="dragged($event, 'column', col.index)" *ngFor="let col of cols" [ngStyle]="{width: getCellWidth() + 'px'}" class="col-header" [ngClass]="{dragged: col.selected}">
          {{col.index + 1}}
        </th>
      </tr>
      <tr *ngFor="let row of rows">
        <td class="row-header" ng-mousedown="dragStart($event, 'row', row.index)" ng-mousemove="dragged($event, 'row', row.index)" ng-mouseup="dragStop($event, 'row', row.index)" ng-class="{dragged: row.selected}">
          {{ row.index + 1 }}
        </td>
        <td *ngFor="let col of cols" class="well-switch" ng-init="i = (row.index * columns.length) + col.index; well = wells['well_' + i];" (mousedown)="dragStart($event, 'well', i)" (mousemove)="dragged($event, 'well', i)" (mouseup)="dragStop($event, 'well', i)" (ngClass)="{selected: well.selected, active: well.active}" ng-style="getWellStyle(row, col, well, i)">
          <div class="well-switch-container" ng-style="getWellContainerStyle(row, col, well, i)">
            <div class="well-switch-bar-container">
              <div class="well-switch-bar" ng-style="getStyleForWellBar(row, col, well, i)">
              </div>
            </div>
            <div class="ct-cq-container">
              <div> Cq <strong class="value">{{ displayCt(well.ct[0]) }}</strong> </div>
              <div> Cq <strong class="value">{{ displayCt(well.ct[1]) }}</strong> </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

