.chart-well-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  table {
    border: none;
  }

  th, td {
    border: none;
  }

  .well-switch-container {
    border: 2px solid red;
    border-radius: 100%;
  }

  .well-switch {
    vertical-align: top;

    &.selected {
      .ct-cq-container {
        background-color: #e4f4fa;
      }
    }

    &.selected.active {
      position: relative;

      .well-switch-container {
      }
      .ct-cq-container {
        height: 49px;
        padding: 4px 22px;
      }

    }

   .ct-cq-container {
      //border-top: 1px solid #c5c5c5;
      padding: 2px 20px;
      min-height: 45px;
    }

  }
}
