<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build Chaibio shoftware</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>build_machine</name>
          <description>Building machine</description>
          <defaultValue>10.0.100.240</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>bypass_pru</name>
          <description>Will not install PRU work</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.scm.listtagsparameter.ListSubversionTagsParameterDefinition plugin="subversion@2.9">
          <name>build_branch</name>
          <description>Select a Subversion entry</description>
          <tagsDir>https://github.com/chaibio/chaipcr</tagsDir>
          <credentialsId></credentialsId>
          <tagsFilter></tagsFilter>
          <reverseByDate>true</reverseByDate>
          <reverseByName>false</reverseByName>
          <defaultValue></defaultValue>
          <maxTags></maxTags>
        </hudson.scm.listtagsparameter.ListSubversionTagsParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/chaibio/chaipcr.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo checking Jenkins server
echo &quot;Bash version ${BASH_VERSION}...&quot;
uname -a
ls -ahl
lsblk
df -h
echo user: $(whoami)

echo Checking for nessasery packages:
sudo apt-get -y -q update
sudo apt-get -y -q install sshpass parted
sudo apt-get -y -q install ruby
sudo apt-get -y -q install inetutils-traceroute
sudo apt-get -y -q install install mdadm npm 
sudo apt-get -y -q install nodejs ruby-dev 
sudo apt-get -y -q install libxslt-dev 
sudo apt-get -y -q install libxml2-dev
sudo apt-get -q -y install npm

if grep $build_machine /var/lib/jenkins/.ssh/config
then
	echo /var/lib/jenkins/.ssh/config was patched already
else
	echo patching /var/lib/jenkins/.ssh/config
	cat &lt;&lt;EOF &gt;&gt; /var/lib/jenkins/.ssh/config
Host $build_machine
		KexAlgorithms +diffie-hellman-group1-sha1,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
		Ciphers +3des-cbc,blowfish-cbc,aes128-cbc,aes128-ctr,aes256-ctr
#		KexAlgorithms +diffie-hellman-group1-sha1
#        KexAlgorithms +curve25519-sha256@libssh.org
#        KexAlgorithms +ecdh-sha2-nistp256
#        KexAlgorithms +ecdh-sha2-nistp384
#        KexAlgorithms +ecdh-sha2-nistp521
#        KexAlgorithms +diffie-hellman-group-exchange-sha256
#        KexAlgorithms +diffie-hellman-group14-sha1
EOF
fi

#if grep diffie-hellman-group1-sha1 /etc/ssh/sshd_config
#then
#	echo sshd_config was patched already
#else
#	echo patching sshd_config
#	cat &lt;&lt;EOF &gt;&gt; /etc/ssh/sshd_config
#KexAlgorithms diffie-hellman-group1-sha1,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
#Ciphers 3des-cbc,blowfish-cbc,aes128-cbc,aes128-ctr,aes256-ctr
#EOF
#	sudo service sshd restart
#fi

ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine

echo deleting root password in case of chaipcr
sshpass -p chaipcr ssh -oStrictHostKeyChecking=no root@$build_machine &quot;passwd -d -u root&quot;

ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine
ssh -t -oStrictHostKeyChecking=no root@$build_machine &lt;&lt;&apos;ENDSSH&apos;

if grep diffie-hellman-group1-sha1 /etc/ssh/sshd_config
then
	echo sshd_config on $build_machine was patched already
else
	echo patching sshd_config

cat &lt;&lt;EOF &gt;&gt; /etc/ssh/sshd_config
KexAlgorithms diffie-hellman-group1-sha1,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1
Ciphers 3des-cbc,blowfish-cbc,aes128-cbc,aes128-ctr,aes256-ctr

EOF
	ssh-keygen -A || true

	sudo service sshd restart
    sudo service ssh restart
    /etc/init.d/ssh restart
	echo $build_machine patched
    ifconfig
fi

exit 0
ENDSSH

echo returned to host. connection check:
counter=0
until ssh -t root@$build_machine &apos;exit 0&apos;
do
	counter=$(( $counter + 1 ))
    if [ $counter -gt 10 ]
    then
    	echo Beaglebone is not available.
    	exit 1
    fi
	echo waiting for beaglebone to become connectable.
	sleep 10
    
done

echo done connection check.
</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo &quot;Building ${PROJECT_NAME} - Build # ${BUILD_NUMBER}.. result is at ${BUILD_URL}&quot;
echo &quot;Slave Beaglebone at ${build_machine}&quot;
echo checking build device 
echo &quot;Bash version ${BASH_VERSION}...&quot;
uname -a
ls -ahl
lsblk
df -h

swapoff -a

umount /dev/mmcblk0p*
umount /sdcard/*

lsblk
if mount | grep mmcblk0
then
  echo &quot;Error: can&apos;t unmount sdcard!&quot;
  exit 1
fi
dpkg --configure -a</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
# waiting 20min for the bulding device to become connectable
echo &quot;Waiting for the build device ($build_machine) to become ready!&quot;
#sleep 1500

for i in {0..1200..60}
do
	echo &quot;Waiting for the build device ($build_machine) to become ready! $i&quot;
	sleep 10

	if ping $build_machine -c 2
    then
    	echo device is finally up !!
        sleep 10
        
		ssh-keygen -f &quot;/var/lib/jenkins/.ssh/known_hosts&quot; -R $build_machine
		ssh -t -oStrictHostKeyChecking=no root@$build_machine &lt;&lt;&apos;ENDSSH&apos;
		echo $build_machine device is connectable.. 
		lsblk
		exit 0
ENDSSH

		sleep 10
		echo returned to host. connection check:
		counter=0
		until ssh -t root@$build_machine &apos;exit 0&apos;
		do
			counter=$(( $counter + 1 ))
    		if [ $counter -gt 20 ]
    		then
    			echo Beaglebone is not available.
    			exit 1
		    fi
			echo waiting for ssh on beaglebone to become connectable.
			sleep 10
		done
		echo ssh is connectable.
        sleep 10

		echo now at $(pwd)
		branch_param=

		if [ -z $build_branch ] || ! [[ &quot;$build_branch&quot; == *\/* ]] 
		then
   			echo No build branch chosen
		else
     		branch_param=&quot;-b $(echo $build_branch | cut -d&apos;/&apos; -f 2)&quot;
		    echo Cloning branch $branch_param
		fi

		sudo rm -r tmp || true
	 	mkdir tmp || true
        cd tmp
		git clone $branch_param https://github.com/chaibio/chaipcr.git || exit 1
        cd chaipcr || exit 1
        cd web
        echo now at $(pwd)
        
        gem env
        if gem env | grep rubygems.org
        then
        	echo &quot;ruby source already added&quot;
        else
        	# this step is not important as we haverubygems.org/ under remote sources
        	gem sources --add https://rubygems.org/
            gem sources --add http://rubygems.org/
        fi
  		
        sudo apt-get -y -q install ca-certificates software-properties-common 

        sudo apt-add-repository -y ppa:rael-gc/rvm
        sudo apt-get update
        sudo apt-get -y -q install rvm nodejs nodejs-legacy
        sudo chmod 0777 /usr/share/rvm/tmp
        sudo chmod 0777 /usr/share/rvm/tmp/*
        sudo chmod 0777 /usr/share/rvm/*

		sudo rvm install ruby-2.1.5
        sudo /usr/share/rvm/bin/rvm install ruby-2.1.5

        source /etc/profile.d/rvm.sh
        sudo rvm install ruby-2.1.5
        sudo /usr/share/rvm/bin/rvm install ruby-2.1.5

        sudo npm install --global gulp
        sudo npm install --global gulp-cli
        sudo npm install
        
        sudo gulp deploy || exit 1
        cd ..
        
        cat deploy.sh
        echo | ./deploy.sh $build_machine

        exit 0
    fi
done

echo timeout waiting for the device to become ready!
exit 1

</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo cleanup some space
#rm /usr/lib/julia/sys-debug.*

echo Setup MySQL
mkdir /data /perm || true
systemctl stop mysql.service
mount /dev/mmcblk1p2 /data || true
mount /dev/mmcblk1p3 /perm || true

mv /var/lib/mysql /data/
sed -i &quot;s,datadir.*=.*,datadir=/data/mysql,g&quot; /etc/mysql/my.cnf # Edit /etc/mysql/my.cnf and change datadir to /data/mysql
sed -i &quot;s,datadir.*=.*,datadir=/data/mysql,g&quot; /etc/mysql/mariadb.conf.d/50-server.cnf # Edit /etc/mysql/my.cnf and change datadir to /data/mysql
systemctl start mysql.service

sync
cd
echo unmounting any sdcard folders
swapoff -a
umount /sdcard/*
umount /dev/mmcblk0p*

LC_ALL=C /sbin/sfdisk --force -uS --Linux /dev/mmcblk0 &lt;&lt;-__EOF__
,,0x83,*
__EOF__

/sbin/partprobe /dev/mmcblk0
/sbin/mkfs.ext4 /dev/mmcblk0p1 -F
mkdir -p /sdcard/upgrade || true
if mount /dev/mmcblk0p1 /sdcard/upgrade/
then
    echo &quot;temp sdcard folder mounted&quot;
else
   echo &quot;Error mounting temp sdcard folder&quot;
   exit 1
fi

# creating a temporary swap file on sdcard
if fallocate -l 2G /sdcard/upgrade/swapfile #or dd if=/dev/zero of=/sdcard/upgrade/swapfile bs=10M count=300
then
    echo &quot;swap file created successfully&quot;
else
   echo &quot;failed creating swap file&quot;
   exit 1
fi

sudo chmod 600 /sdcard/upgrade/swapfile
sudo mkswap /sdcard/upgrade/swapfile
sudo swapon /sdcard/upgrade/swapfile

#verifying swap file is successfully added
sudo swapon -s

free -m
</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo precompile julia packages if needed
if [ -e /etc/bypassjulia.flag ]
then
    echo  Bypass julia build
    exit 0
fi

if [ -e /root/chaipcr/bioinformatics/juliaserver.jl ]
then
      julia -v
      echo about to start using QpcrAnalysis
free -m

apt-get -q -y install libfftw3-dev libgmp3-dev libmpfr-dev libblas-dev liblapack-dev libedit-dev parted git ntp build-essential curl python pkg-config libssl-dev libarpack2 libblas3 liblapack3

apt-get -q -y install libfftw3-dev libgmp3-dev libmpfr-dev libblas-dev liblapack-dev gfortran libgfortran3 m4 libedit-dev parted git ntp build-essential hdf5-tools curl python pkg-config libssl-dev libarpack2 libblas3 libgfortran3 liblapack3  || exit 1

#      cp /root/chaipcr/bioinformatics/QpcrAnalysis/__init__.jl /root/chaipcr/bioinformatics/QpcrAnalysis/__init__.jl.org
#      sed -i &quot;s/# MySQL./return nothing \n# MySQL./&quot; /root/chaipcr/bioinformatics/QpcrAnalysis/__init__.jl
      JULIA_ENV=production julia -e &apos;push!(LOAD_PATH, &quot;/root/chaipcr/bioinformatics/QpcrAnalysis/&quot;);reload(&quot;QpcrAnalysis&quot;);using QpcrAnalysis;&apos; --compile=all

#      cp /root/chaipcr/bioinformatics/QpcrAnalysis/__init__.jl.org /root/chaipcr/bioinformatics/QpcrAnalysis/__init__.jl

      echo tested using QpcrAnalysis
      if [ -e /root/.julia/lib/v0.6/QpcrAnalysis.ji ]
      then
            echo QpcrAnalysis package precompiled.
      else
            echo Error precompiling QpcrAnalysis package
            exit 1
      fi
fi

echo testing juliaserver script to make sure nothing left to precompile as we are removing the compilation tools later to free up space.

test_julia_server()
{
      JULIA_ENV=production julia -e &apos;push!(LOAD_PATH, &quot;/root/chaipcr/bioinformatics/QpcrAnalysis/&quot;); include(&quot;/root/chaipcr/bioinformatics/juliaserver.jl&quot;)&apos;
     echo error: julia server terminated
}

test_julia_server &amp;
echo starting julia server on a different thread
sleep 1800
echo julia server testing period due. Cleaning up.
pkill -9 julia
pkill -9 julia
pkill -9 julia
pkill -9 julia
pkill -9 julia
sleep 100
ps -aux | grep julia

exit 0
</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo cleaning misc. file
rm -r /var/log/*.log
find . -name .git -execdir rm -r {} \;
find . -name *.o  -exec rm {} \;
find / -name .git -execdir rm -r {} \;

exit 0
</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Maintenance

cd /root/chaipcr/web
bundle install
gem install bcrypt -v &apos;3.1.11&apos;

systemctl enable r.service
echo Setup Rails app
mkdir -p ~/chaipcr/web/config/
cat &lt;&lt;EOF &gt;&gt; ~/chaipcr/web/config/database.yml
    production:
      adapter: mysql2
      database: chaipcr
      pool: 5
      timeout: 5000
      username: root
      password:
EOF
echo database.yml created

cd /root/chaipcr/web
chmod 755 /root

#echo rserve 
#echo \n | gem install rserve-client #otherwise bundle fails, don&apos;t know why

echo bundle
echo &quot;\n&quot; | bundle

echo rake setup
echo &quot;\n&quot; | RAILS_ENV=production bundle exec rake db:setup

echo seed_fu
echo &quot;\n&quot; | RAILS_ENV=production bundle exec rake db:seed_fu 

echo Rails init
cd ~/chaipcr/web
bundle install
gem install bcrypt -v &apos;3.1.11&apos;
echo done rserev

bundle exec rake db:migrate # migrates database as needed

exit 0</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo browser compile
cd /sdcard/upgrade/
rm -r compile-browser || true
mkdir compile-browser
cd compile-browser/
apt-get install -y git make linux-headers-`uname -r` build-essential cmake curl pkg-config python sshpass unzip

branch_param=

if [ -z $build_branch ] || ! [[ &quot;$build_branch&quot; == *\/* ]] 
then
   echo No build branch chosen
else
     branch_param=&quot;-b $(echo $build_branch | cut -d&apos;/&apos; -f 2)&quot;
     echo Cloning branch $branch_param
fi

git clone $branch_param https://github.com/chaibio/chaipcr.git || exit 1

cd /sdcard/upgrade/compile-browser/chaipcr/browser/ || exit 1

rm /sdcard/upgrade/compile-browser/chaipcr/realtime/libraries/lib/libPoco*
rm /sdcard/upgrade/compile-browser/chaipcr/realtime/libraries/lib/libboost*
rm /sdcard/upgrade/compile-browser/chaipcr/realtime/libraries/lib/libsoci*

/opt/QtEmbedded/bin/qmake || exit 1
sed -i &quot;s/arm-unknown-linux-gnueabi-//&quot; Makefile
sed -i &apos;/^DEFINES[[:space:]]\+=/ s/$/ -DKERNEL_49/&apos; Makefile

make || exit 1
make install || exit 1
#cp realtime ~/tmp
#cp libraries/lib/* /usr/lib/

cd /sdcard/upgrade/
rm -r compile-browser
cd
echo done compiling browser
</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo compiling realtime

cd /sdcard/upgrade/
free -m
sync

rm -r /sdcard/upgrade/realtime-compile || true
mkdir -p /sdcard/upgrade/realtime-compile
cd /sdcard/upgrade/realtime-compile

git clone $branch_param https://github.com/chaibio/chaipcr.git || exit 1
cd /sdcard/upgrade/realtime-compile/chaipcr/realtime || exit 1

cp util/instance.h control/
sed -i &quot;s/dataSapce/dataSpace/&quot; app/experimentcontroller.cpp
rm libraries/lib/libPoco*
rm libraries/lib/libboost*
rm libraries/lib/libsoci*

#qmake
/opt/QtEmbedded/bin/qmake || exit 1

sed -i &quot;s/arm-unknown-linux-gnueabi-//&quot; Makefile
sed -i &apos;/^DEFINES[[:space:]]\+=/ s/$/ -DKERNEL_49/&apos; Makefile

make || exit 1
make install || exit 1
#cp realtime ~/tmp
cp libraries/lib/* /usr/lib/
cd
rm -r /sdcard/upgrade/realtime-compile

echo  Deploy realtime to ~/tmp
cp ~/chaipcr/deploy/device/realtime.service /lib/systemd/system/
systemctl enable realtime.service

sync
</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo checking deployed web files
ls -ahl
if [ -e ~/chaipcr/deploy ]
then
	echo web files deploy done successfully
else
        echo error deploying ssh files
        exit 1
fi

#Replace uEnv.txt
echo Replacing uEnv.txt
cd ~/chaipcr/deploy/
./replace_uEnv.txt.sh
#sed -i &quot;s/errors=remount-ro/errors=continue/&quot; /etc/fstab

echo patching rc.local
cd /etc
if [ ! -e rc.local ]
then
    echo &quot;Cann&apos;t find rc.local. Creating it.&quot;
    cat &gt;&gt; rc.local &lt;&lt; EOF
#!/bin/sh -e
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will &quot;exit 0&quot; on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

exit 0

EOF
chmod +x rc.local
fi

cd /etc        
patch -i ~/chaipcr/deploy/device/rc.local.patch
cd
sync

echo Disable Mass-storage mini-usb
cd /opt/scripts/boot        
patch -i ~/chaipcr/deploy/device/storage.disable.patch 
cd ~
sync

echo Update Networking
sed -i &apos;s/#auto eth0/auto eth0/&apos; /etc/network/interfaces
sed -i &apos;s/#iface eth0/iface eth0/&apos; /etc/network/interfaces

sed -i &apos;s/#timeout 60/timeout 20/&apos; /etc/dhcp/dhclient.conf
sed -i &apos;s/#retry 60/retry 20/&apos; /etc/dhcp/dhclient.conf
sed -i &apos;s/#reboot/reboot/&apos; /etc/dhcp/dhclient.conf

</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Configure Logrotate
cp ~/chaipcr/deploy/device/logrotate/logrotate.conf /etc
cp ~/chaipcr/deploy/device/logrotate/logrotate.d/* /etc/logrotate.d/
mv /etc/cron.daily/logrotate /etc/cron.hourly/ 

echo Build/update wifi drivers- ignored now.. lets see if the latest is making any issues

echo copy browser resources
# Deploy browser to ~/tmp
cp -r ~/chaipcr/browser/resources ~/tmp/
cp ~/chaipcr/browser/qpcrbrowser.service /lib/systemd/system/
systemctl enable qpcrbrowser.service</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo &quot;Install device tree overlay and PRU binary(do this every time it changes):&quot;
cd ~/chaipcr/deploy/overlay
bash ./build.sh
echo chai-pcr &gt; /sys/devices/platform/bone_capemgr/slots &amp;
sleep 60

cat /sys/devices/platform/bone_capemgr/slots

exit 0
</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Build/install LCD drivers
# this needs some optimization.. it takes 90MB
apt-get  -y -q install device-tree-compiler
cd ~/chaipcr/modules/LCDtouch_V3/49
chmod 775 install_debian.sh

mkdir -p /boot/dts/
mkdir -p /lib/firmware/

./install_debian.sh
apt-get  -y -q --purge autoremove device-tree-compiler
modprobe -i tilcdc

echo done installing LCD driver.

sync
sync
fsck /dev/mmcblk1p1 -y -f
fsck /dev/mmcblk0p1 -y -f

exit 0</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Checking locale.
if grep &quot;&quot; /etc/default/locale
then
        echo default locale is set.
else
        echo setting default local to en_US.UTF-8
        echo &quot;LANG=en_US.UTF-8&quot; &gt; /etc/default/locale
fi

echo setting up website on ngixn
if [ -e /etc/nginx/sites-available ]
then
    echo Nginx is installed
else
   echo Nginx is not installed
   exit 0
fi

cp ~/chaipcr/web/config/etc/nginx/chaipcr /etc/nginx/sites-available/
cd /etc/nginx/sites-enabled
sudo ln -s ../sites-available/chaipcr
rm default 

cat &lt;&lt;EOF &gt;&gt; /etc/nginx/conf.d/chaipcr_unicorn.conf
#Add the following to /etc/nginx/nginx.conf under the http section:
    # Unicorn
     upstream unicorn {
       server unix:/root/shared/sockets/unicorn.sock fail_timeout=0;
    }
EOF

update-rc.d -f nginx defaults
</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo Unicorn
mkdir ~/shared
mkdir ~/shared/pids
mkdir ~/shared/log
mkdir ~/shared/sockets 

cp ~/chaipcr/web/config/etc/unicorn_init.d /etc/init.d/unicorn
chmod +x /etc/init.d/unicorn
mkdir /etc/unicorn
cp ~/chaipcr/web/config/etc/unicorn/chaipcr.conf /etc/unicorn/
</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo closing swap file
sync
swapoff -a
/sbin/swapoff  -a

echo clearing more space and removing .git julia folders

apt-get -q -y --fix-broken install

rm /sdcard/upgrade/swapfile
cd
find . -name .git -execdir rm -r {} \;
find . -name *.o  -exec rm {} \;
find / -name .git -execdir rm -r {} \;

exit 0</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo cleanup to free up some space
df -h

for retryloop in 1 2 3
do
apt-get  -y -q --purge autoremove g++-4.7 g++-4.8 gcc-4.8 g++-4.8 gcc-4.8 g++-4.8 
apt-get  -y -q --purge autoremove libblas3gf libblas3gf
apt-get  -y -q --purge autoremove parted linux-headers-`uname -r` parted automake build-essential cmake curl device-tree-compiler evtest g++ gfortran git i2c-tools libarpack2 libblas-common libblas-dev libblas3 libedit-dev libfftw3-dev libfftw3-double3 libfftw3-single3 libfontconfig1-dev libfreetype6-dev libgfortran3 libgfortran3 libgmp3-dev liblapack3 liblapack3gf libllvm3.8 libmetis5 libmpfr-dev libopenblas-base libopenblas-dev libqt4-webkit libssl-dev libtool libunwind8 libxcursor-dev libxext-dev libxfixes-dev libxft-dev libxi-dev libxml2-dev libxrandr-dev libxrender-dev libxslt-dev lsb-release m4 nodejs ntp ntpdate parted pkg-config python sshpass unzip

apt-get install -y -q liblapack-dev 
apt-get -f  -y -q install

apt-get  -y -q --purge autoremove fakeroot 
apt-get -f  -y -q install

apt-get --purge  -y -q autoremove g++
apt-get  -y -q --purge autoremove gcc 
apt-get  -y -q -f install

apt-get  -y -q --purge autoremove gfortran* git i2c-tools 
apt-get  -y -q --purge autoremove icu-devtools
apt-get -y -q remove qt4-default qt5-default gettext
DEBIAN_FRONTEND=noninteractive apt-get -q -y autoremove --purge libgtk-3-0
DEBIAN_FRONTEND=noninteractive apt-get -q -y autoremove --purge gcc-4.9 cmake DEBIAN_FRONTEND=noninteractive apt-get -q -y autoremove --purge python2*

apt-get autoremove -y --purge xserver* apache* gnome* libopencv* desktop* hicolor* xscreensaver* xrdp* xorg* x11-common xdg-utils xkb-data

df -h
done

DEBIAN_FRONTEND=noninteractive apt-get -q -y install gettext
DEBIAN_FRONTEND=noninteractive apt-get -q -y install libgtk-3-0
apt-get -y -q install libpango1.0-0 libglib2.0-0 libcairo2
apt-get -q -y install libboost-chrono-dev libboost-system-dev
if [ -e /etc/bypassjulia.flag ]
then
    echo Julia is not installed
else
    apt-get -q -y install hdf5-tools
fi



df -h

exit 0</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo zeroing 2

dd if=/dev/zero of=/zeros.bigfile bs=16M
sync
rm /zeros.bigfile
sync
mkdir -p /tmp/zeroer
if mount /dev/mmcblk1p2 /tmp/zeroer
then
    dd if=/dev/zero of=/tmp/zeroer/zeros.bigfile bs=16M
    sync
    rm /tmp/zeroer/zeros.bigfile
    sync
    umount /tmp/zeroer
fi

if mount /dev/mmcblk1p3 /tmp/zeroer
then
    dd if=/dev/zero of=/tmp/zeroer/zeros.bigfile bs=16M
    sync
    rm /tmp/zeroer/zeros.bigfile
    sync
    umount /tmp/zeroer
fi

echo basic beaglebone setup done!</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo changing root password to chaipcr and disabling login prompt on console
sudo systemctl disable getty@tty1.service
echo &quot;root:chaipcr&quot; | chpasswd
sync
echo rebooting
shutdown -r 1
echo a reboot is scheduled after a minute</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
sleep 60
echo waiting for a restart
for i in {0..300..60}
do
	echo &quot;Waiting for the build device to become ready! $i&quot;
	sleep 60
    if ping $build_machine -c 2
    then
    	echo device is finally up !!
        sleep 30
        exit 0
    fi
done

echo timeout waiting for the device to become ready!
exit 1
</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.SSHBuilder plugin="ssh@2.5">
      <siteName>root@$build_machine:22</siteName>
      <command>echo device is still connectable!
cd
echo unmounting any sdcard folders
umount /sdcard/*
umount /dev/mmcblk0p*

echo cleaning up sdcard
LC_ALL=C sfdisk --force -uS --Linux /dev/mmcblk0 &lt;&lt;-__EOF__
,,0xe,*
__EOF__

partprobe /dev/mmcblk0
mkfs.ext4 /dev/mmcblk0p1 -F

sync
sync
 fsck /dev/mmcblk1p1 -y -f
 fsck /dev/mmcblk0p1 -y -f

mount /dev/mmcblk0p1 /sdcard/upgrade/

df -h

exit 0</command>
      <execEachLine>false</execEachLine>
    </org.jvnet.hudson.plugins.SSHBuilder>
    <hudson.tasks.Shell>
      <command>#build( &quot;create_factory_settings_sdcard&quot;, build_machine:&quot;$build_machine&quot;, output_sdcard:&quot;/dev/sdb&quot;)
echo all done for $build_machine, you can call create_factory_settings_sdcard job to create a factory settings image. root password is chaipcr

exit 0</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>