<p>
	<div>
		Number of cycles: <select id="cycleNumber"></select>
	</div>
</p>

<p>
	<div>
		<input type="checkbox" id="autoDelta">:Enable auto delta
	</div>
</p>

<p>
	<div>
		 Starting cycle: <select id="startingCycle"><option>1</option><option>1</option><option>1</option></select>
	</div>
</p>