<p>
	<div>
		Number of cycles:
		<div class="input-group noof-cycles">
		  <input id="cycleCount" type="number" class="form-control" value="<%=cycleNo %>" min="1" max="999">
		  <span class="input-group-addon save-cycle">Save</span>
		</div>
		<div style="display:none" class="alert alert-danger noof-cycle-warning">Please enter a valid number between 0-1000.</div>
		<div style="display:none" class="alert alert-success noof-cycle-success">Done.. Updated.!</div>
	</div>
</p>
