<div>
	<p>
		<input type="text" class="form-control" id="experiment-name" placeholder="Experiment Name *">
	</p>

	<p>
		<button type="button" class="btn btn-success" id="experiment-property-add">Go</button>
	</p>
</div>