<div id="run-experiment" class="col-md-10">
	
	<nav class="navbar navbar-default" role="navigation">
  		<div class="container-fluid">
	    
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<input type="text" class="form-control" placeholder="ReactionVolume per Well (5 - 50)" id="reactionVolume">

			
			
				<div class="btn-group">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    Add Stage <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a >Holding</a></li>
				    <li><a href="#">Cycling action</a></li>
				    <li><a href="#">Melt Curve</a></li>
				    <li><a href="#">Infinite Holding</a></li>
				  </ul>
				</div>

				<div class="btn-group">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    Add Step <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#" id="step-before">Before</a></li>
				    <li><a href="#"id="step-after">After</a></li>
				  </ul>
				</div>
				
				<button type="button" class="btn btn-primary">
					Delete Selected 
				</button>
				
				<div class="btn-group">
				  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				    Collect Data <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Collect Data On Ramp</a></li>
				    <li><a href="#">Collect Data On Hold</a></li>
				  </ul>
				</div>

				<button type="button" class="btn btn-primary">
					Open Run Method
				</button>

				<button type="button" class="btn btn-primary">
					Save Run Method
				</button>
			</div>
		</div>
	</nav>

	<div id="track"> 
		<div id="innertrack"></div>
	</div>
</div>