<div class="row-fluid">
	<div class="col-md-12"><h4>ChaiBioTechnologies</h4></div>
<div>
  
  <div class="row">
    
    <div class="col-md-3" id="actions">
    	
    	<p><h5>1.Define</h5></p>
    	<p>
    		<ul class="nav nav-pills nav-stacked">
  				<li class="active"><a href="#/design"><span class="glyphicon glyphicon-cog"> Expeiment Properties</span></a></li>
  				<li><a href="#/design"><span class="glyphicon glyphicon-list-alt"> Methods & Materials</span></a></li>
			</ul>
    	</p>
    	<p><h5>2.Define</h5></p>
    	
    	<p>
    		<ul class="nav nav-pills nav-stacked">
  				<li><a href="#/design">Target</a></li>
  				<li><a href="#/design">Standards</a></li>
  				<li><a href="#/design">Samples</a></li>
  				<li><a href="#/design/run">Run Method</a></li>
  				<li><a href="#/design">Reaction Setup</a></li>
			</ul>
    	</p>

    	<p><h5>Order(Optional)</h5></p>
    	<p>
    		<ul class="nav nav-pills nav-stacked">
  				<li><a href="#/design">Material List</a></li>
			</ul>
    	</p>
    </div>

    <div class="col-md-7" id="stadium">
     	<div id="play-ground">Action Comes Here</div>
    </div>

  </div>
