<div class="step-3">
  <p class="step"><b>STEP 3</b>/6</p>
  <h2>Heating + Data Collection</h2>

  <img src="./images/machine-heating.png" class="machine-heating-icon">

  <div class="text-center">
    <p class="wait">PLEASE WAIT:</p>
    <p class="heating" ng-show="state === 'LidHeating'">
      The lid is heating to <b>{{experiment.protocol.lid_temperature | round: 1}}&deg;</b>C <br>
    </p>
    <p class="note" ng-show="state === 'LidHeating'">
      This will take about one minute
    </p>
    <p class="heating" ng-show="state === 'Running'">
      The block is heating to <b>{{getBlockHeat() | round: 1}}&deg;</b>C <br>
    </p>
    <p class="note" ng-show="state === 'Running'">
      This will take about one minute
    </p>
    <p class="dont-open">
      Please don't open the machine during this step.
    </p>

    <button class="button" ng-click="cancel=true" ng-show="!cancel">CANCEL</button>
    <button class="button red" ng-show="cancel" ng-click="cancelExperiment()">CONFIRM CANCEL</button>
  </div>

</div>