<div class="intro">
  <h2>Optical Diagnostic</h2>

  <p>
    The optical diagnostic verifies the proper functioning of the dual channel Open qPCR's optical system.
  </p>

  <div class="mini-description">
    <div class="row text-left">
      <div class="col-md-3">
        <b class="section-title">DURATION</b>
        <br>
        ~5 minutes
      </div>
      <div class="col-md-9">
        <b class="section-title">MATERIALS REQUIRED</b>
        <table>
          <tbody>
            <tr>
              <td>6x</td>
              <td><b>8-well PCR strips</b></td>
            </tr>
            <tr>
              <td>200uL</td>
              <td><b>water</b> (25 uL/tube)</td>
            </tr>
            <tr>
              <td>200uL</td>
              <td><b>500 nM FAM</b> (25 uL/tube)</td>
            </tr>
            <tr>
              <td>200uL</td>
              <td><b>1 uM HEX</b> (25 uL/tube)</td>
            </tr>
          </tbody>
        </table>
        <!-- <span class="note">
          *It is important to pipette the calibration solution from the same stock tube. If the solution is pipetted from different stock tubes, the stock solution  should first be mixed.
        </span> -->
      </div>
    </div>
  </div>

  <div class="text-center">
    <button ng-show="!cancel" ng-disabled="getErrors().length > 0" ng-class="{errorButton: (getErrors().length > 0) }" ng-click="next()">BEGIN</button>
  </div>

</div>
