<div class="intro page-9" ng-controller="OpticalTestDualChannelAnalyzeCtrl" style="max-width: 720px; margin: auto;">

  <h2 class="text-center text-success" ng-show="experiment.completion_status === 'success' && !analyzing && isPassed()">Optical Diagnostic Passed</h2>
  <h2 class="text-center text-danger" ng-show="(!isPassed() || experiment.completion_status !== 'success') && !analyzing">Optical Diagnostic Failed</h2>

  <h4 class="text-center" ng-show="analyzing">
    <img src="/images/loading.gif">
    <b>Analyzing Results...</b>
  </h4>

  <div ng-show="experiment.completion_status !== 'success' && !analyzing">
    <div class="alert alert-danger">
      <strong>Experiment Failed!</strong> {{ experiment.completion_message }}
    </div>
  </div>

  <div ng-show="custom_error">
    <div class="alert alert-danger">
      <strong>Experiment Failed!</strong> {{ custom_error }}
    </div>
  </div>

  <div ng-show="experiment.completion_status === 'success' && !analyzing">
    <table class="table table-bordered table-striped">
      <thead class="text-center">
        <tr>
          <th>Well</th>
          <th colspan="2">Baseline</th>
          <th colspan="2">Water</th>
          <th colspan="2">FAM</th>
          <th colspan="2">HEX</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>Ch 1</td>
          <td>Ch 2</td>
          <td>Ch 1</td>
          <td>Ch 2</td>
          <td>Ch 1</td>
          <td>Ch 2</td>
          <td>Ch 1</td>
          <td>Ch 2</td>
        </tr>
        <tr ng-repeat="i in loop">
          <td>{{i+1}}</td>
          <td ng-class="(data[i].baseline[0][1]? 'text-success': 'text-danger')">{{ data[i].baseline[0][0] }}</td>
          <td ng-class="(data[i].baseline[1][1]? 'text-success': 'text-danger')">{{ data[i].baseline[1][0] }}</td>
          <td ng-class="(data[i].water[0][1]? 'text-success': 'text-danger')">{{ data[i].water[0][0] }}</td>
          <td ng-class="(data[i].water[1][1]? 'text-success': 'text-danger')">{{ data[i].water[1][0] }}</td>
          <td ng-class="(data[i].FAM[0][1]? 'text-success': 'text-danger')">{{ data[i].FAM[0][0] }}</td>
          <td ng-class="(data[i].FAM[1][1]? 'text-success': 'text-danger')">{{ data[i].FAM[1][0] }}</td>
          <td ng-class="(data[i].HEX[0][1]? 'text-success': 'text-danger')">{{ data[i].HEX[0][0] }}</td>
          <td ng-class="(data[i].HEX[1][1]? 'text-success': 'text-danger')">{{ data[i].HEX[1][0] }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center" ng-show="!analyzing">
    <a href="/#/home" class="button">CONTINUE</a>
  </div>

</div>
