<div class="step-5">
  <p class="step"><b>STEP 7</b>/7</p>
  <h2>Reading Fluorescence</h2>
  <div class="machine-icon">
    <img src="/images/dynexp/machine-idle.png">
    <img src="/images/dynexp/spinner-green.png" class="image-rotate">
  </div>

  <div class="text-center">
    <p class="wait">FLUORESCENCE MEASUREMENT IS NEARLY COMPLETE:</p>
    <p class="heating">
      <span>Less than {{ timeRemaining | secondsDisplay: 'display4' }} remaining</span>
    </p>
    <p class="dont-open">
      Please don't open the machine during this step.
    </p>

  </div>
</div>