<div class="experiment-start-stop-buttons" ng-show="experimentId">
  <div class="button run" ng-show="data.experimentController.machine.state === 'Idle' && data.experimentController.expriment.started_at === null" ng-click="startExperiment(experimentId)">
    START EXPERIMENT
  </div>
  <div class="button stop" ng-show="data.experimentController.machine.state === 'Running' || data.experimentController.machine.state === 'LidHeating'" ng-click="stopExperiment()">
    STOP EXPERIMENT
  </div>
  <div class="button run" ng-show="data.experimentController.machine.state === 'Idle' && data.experimentController.expriment.started_at !== null && experimentId" duplicated-experiment experiment-id="experimentId">
    DUPLICATE EXPERIMENT
  </div>
</div>