<div class="menu-overlay-container" ng-show="open">
  <div class="left-side">
    <div class="menu-overlay-menu">
      <div class="long-tail-container">
        <div class="long-tail"></div>
      </div>
      <div class="menu-overlay-menu-item">
        <div class="tail-container">
          <div class="tail">
          </div>
        </div>
        <div class="ball"></div>
        <div class="menu-text simplifica">
          <a href="#">EXPERIMENT PROPERTIES</a>
        </div>
      </div>
      <div class="menu-overlay-menu-item">
        <div class="tail-container">
          <div class="tail">
          </div>
        </div>
        <div class="ball"></div>
        <div class="menu-text simplifica">
          <a href="#/edit-stage-step/1">EDIT PROTOCOL</a>
        </div>
      </div>
      <div class="menu-overlay-menu-item">
        <div class="tail-container">
          <div class="tail">
          </div>
        </div>
        <div class="ball"></div>
        <div class="menu-text simplifica">
          <a href="#/plate-setup/1">PLATE SETUP</a>
        </div>
      </div>
      <div class="menu-overlay-menu-item-special">
        <div class="tail-container">
          <div class="tail">
          </div>
        </div>
        <div class="ball-text-container">
          <div class="ball">
          </div>
          <div class="menu-text simplifica">
            <a href="#/run-exp/1">RUN EXPERIMENT</a>
          </div>
        </div>
        <div class="back-tail-container">
          <div class="back-tail">
          </div>
        </div>
      </div>
    </div>
    <a href="#/home"><img class="home-image" src="assets/home.png"></a>
    <div class="menu-overlay-all-options">
      <div class="menu-overlay-options-content">
        <div class="title sansa">
          EXPERIMENT OPTIONS
        </div>
        <div id="export-exp" class="exp-option-buttons">EXPORT...</div>
        <div id="delete-exp" class="exp-option-buttons">DELETE EXPERIMENT</div>
      </div>
    </div>
    <div class="experiment-in-progress-container">
      <div class="experiment-in-progress sansa">
        <div class="experiment-in-progress-heading">
          EXPERIMENT IN PROGRESS
        </div>
        <div class="experiment-info">
          <div class="experiment-info-test caption">MALARIA TEST ALPHA</div>
          <div class="experiment-info-time caption">TIME REMAINING</div>
          <div class="experiment-info-test">STAGE 3, STEP 2</div>
          <div class="experiment-info-time">01:13:03</div>
        </div>
        <div class="experiment-progress-bar">
          <div class="pro-bar" style="width: 210px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side" ng-click="toggle()">
    <div class="menu-overlay-title">
      <div class="bar">
        <div class="horizontal-bar"></div>
        <div class="horizontal-bar"></div>
        <div class="horizontal-bar"></div>
      </div>
      <div class="title-text">
        <span>New Experiment</span>
      </div>
      <div class="dots">
        <div class="white-ball"></div>
        <div class="white-ball"></div>
        <div class="white-ball"></div>
      </div>
    </div>
    <div class="menu-overlay-options"></div>
  </div>
</div>