<div class="menu-overlay-container" ng-show="open" style="z-index: 999999">
  <div class="left-side" ng-include src="leftMenuTemplate">
  </div>
  <div class="right-side" ng-click="toggle()">
    <div class="menu-overlay-title">
      <div class="bar">
        <div class="horizontal-bar"></div>
        <div class="horizontal-bar"></div>
        <div class="horizontal-bar"></div>
      </div>
      <div class="title-text">
        <span>New Experiment</span>
      </div>
      <div class="dots">
        <div class="white-ball"></div>
        <div class="white-ball"></div>
        <div class="white-ball"></div>
      </div>
    </div>
    <div class="menu-overlay-options"></div>
  </div>
</div>