<div class="test-in-progress-container">
  <div class="test-in-progress">
    <div class="test-in-progress-heading">
      <div>
        <span ng-show="data.experimentController.machine.state === 'LidHeating' || data.experimentController.machine.state === 'Running'">
          TEST IN PROGRESS:
          <span class="text-blue">
            {{ data.experimentController.expriment.name }}
          </span>
        </span>
        <span ng-show="data.experimentController.machine.state !== 'Running' && data.experimentController.machine.state !== 'LidHeating'">
          No experiment running
        </span>
      </div>
    </div>
    <div class="test-info">
      <div class="row">
        <div class="col-sm-6">
          <div class="caption">
            <span ng-show="data.experimentController.machine.state == 'Running'">
              STAGE {{data.experimentController.expriment.stage.number}},
              STEP {{data.experimentController.expriment.step.number}}
            </span>
            <span ng-show="data.experimentController.machine.state == 'LidHeating'">
              Heating Lid
            </span>
            <span ng-show="data.experimentController.machine.state == 'Paused'">
              Paused
            </span>
            <span ng-show="data.experimentController.machine.state == 'Complete'">
              Experiment Complete
            </span>
            <span ng-show="data.experimentController.machine.state == 'Idle'">
              Idle
            </span>
          </div>
          <div ng-show="data.experimentController.machine.state == 'Idle'">
            {{data.experimentController.machine.thermal_state}}
          </div>
        </div>
        <div class="col-sm-6" ng-hide="data.experimentController.machine.state == 'LidHeating' || data.experimentController.machine.state == 'Complete' || data.experimentController.machine.state == 'Idle'">
          <div class="caption">TIME REMAINING</div>
          <div>{{ timeRemaining() | secondsDisplay:'display2'}}</div>
        </div>
      </div>
      <div class="row" ng-show="data.experimentController.machine.state == 'Running' || data.experimentController.machine.state == 'LidHeating'">
        <div class="col-sm-6">
          <div class="caption">
            Block Temp:
            <span class="normal-text">
              {{data.heatblock.temperature | round:1 | degreeCelcius}}
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="caption">
            Lid Temp: <span class="normal-text">{{data.lid.temperature | round:1 | degreeCelcius}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="test-progress-bar" ng-show="data.experimentController.machine.state == 'Running' || data.experimentController.machine.state == 'Paused'">
      <div class="pro-bar" style="width: {{barWidth()*100}}%;"></div>
    </div>
    <div class="button-wrapper" ng-show="experimentId">
      <div class="button run" ng-show="data.experimentController.machine.state === 'Idle'" ng-click="startExperiment(experimentId)">
        START EXPERIMENT
      </div>
      <div class="button stop" ng-show="data.experimentController.machine.state === 'Running' || data.experimentController.machine.state === 'LidHeating'" ng-click="stopExperiment()">
        STOP EXPERIMENT
      </div>
    </div>
  </div>
</div>