@font-face {
  font-family: "dinot";
  font-weight: normal;
  src: url("/fonts/DINOT-Light.otf");
}

@font-face {
  font-family: "dinot";
  font-weight: 300;
  src: url("/fonts/DINOT-Medium.otf");
}

@font-face {
  font-family: "dinot-regular";
  font-weight: 300;
  src: url("../fonts/DINOT-Regular.otf");
}

@font-face {
  font-family: "dinot-bold";
  src: url("../fonts/DINOT-Bold.otf");
}


body {
	font-family: "dinot-regular";
	background-color: black;
}

#splash {
	position: absolute;
	top: 30%;
	margin-left: auto;
	margin-right: auto;
	width: 99%;
}

#splash img {
	width: 100%;
}

#ip {
	width: 99%;
	height: 100px;
	position: absolute;
	bottom: 0px;
	color: white;
}
#ip-address {
	padding-left: 6%;
  color: #a6a6a6;
}
#version {
	padding-left: 30%;
  color: #a6a6a6;
}
#serial {
	padding-left: 10%;
  color: #a6a6a6;
}
.span-text {
  font-family: "dinot-bold";
  font-size: 18px;
}
.span-value {
  font-family: "dinot-regular";
  font-size: 18px;
}
