body {
	background-color: black;
}

#splash {
	position: absolute;
	top: 33%;
	margin-left: auto;
	margin-right: auto;
	width: 99%;
}

#splash img {
	width: 100%;
}

#ip {
	width: 99%;
	height: 100px;
	position: absolute;
	bottom: 0px;
	color: white;
}
#ip-address {
	padding-left: 60px;
}
#version {
	padding-left: 300px;
}
#serial {
	padding-left: 100px;
}
