@font-face {
  font-family: "dinot";
  font-weight: normal;
  src: url("/fonts/DINOT-Light.otf");
}

@font-face {
  font-family: "dinot";
  font-weight: 300;
  src: url("/fonts/DINOT-Medium.otf");
}

@font-face {
  font-family: "dinot-regular";
  font-weight: 300;
  src: url("../fonts/DINOT-Regular.otf");
}

@font-face {
  font-family: "dinot-bold";
  src: url("../fonts/DINOT-Bold.otf");
}


body {
	font-family: "dinot-regular";
	background-color: black;
  width: 800px;
  height: 480px;
  overflow: hidden;
}

#splash {
	position: absolute;
	top: 30%;
	margin-left: auto;
	margin-right: auto;
	width: 99%;
}

#splash img {
	width: 100%;
}

#ip {
	width: 99%;
	height: 100px;
	position: absolute;
	bottom: 0px;
	color: white;
}
#ip-address {
  width: 40%;
  float: left;
  color: #a6a6a6;
}
#version {
  width: 20%;
  float: left;
  color: #a6a6a6;
  text-align: right;
}
#serial {
	width: 35%;
  float: left;
  color: #a6a6a6;
}
.span-text {
  padding-left: 50px;
  font-family: "dinot-bold";
  font-size: 18px;
}
.span-value {
  font-family: "dinot-regular";
  font-size: 18px;
}
.ip-message{
  font-family: "dinot-bold";
  font-size: 18px;
}

.span-message {
  padding-left: 50px;
}

.spinner {
  margin: 0 auto;
  width: 70px;
  position: relative;
  top: 200px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
