<div class="dynexp pika-test" ng-controller="PikaTestCtrl">
  <div class="page-layout col-lg-12 col-md-12 col-sm-12 col-xs-12 page-padding" wow="wow">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 sidebar" ng-show="showSidebar">
      <h6>Experiment: <span class="edit" ng-click="focusExpName()" ng-show="!editExpName">Edit</span> </h6>
      <h4>
				<span ng-show="!editExpName">{{experiment.name}}</span>
				<input type="text" placeholder="Enter Experiment Name Here" ng-show="editExpName" class="exp-name H1" required ng-model="experiment.name"  ng-blur="updateExperimentName()"
				my-enter="updateExperimentName()" focus-on="editExpName">
			</h4>
      <hr>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="width:30px;">
          <div class="outer">
            <div class="inner" data-progress="52%">
              <div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <p class="assign">Assign A wells</p>
          <p class="step-B" ng-class="{'assign':assignB}">Assign B wells</p>
          <p class="step-C" ng-class="{'assign':assignReview}">Review & Initiate</p>
        </div>
      </div>
      <div ng-show="!hideAbondon" ng-click="goBackToHome()" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 abondon-exp">
        <p>x Abandon Experiment Creation</p>
      </div>
    </div>
    <div ui-view></div>
  </div>
</div>
