<div ng-controller="DiagnosticWizardCtrl">
  <div class="page-layout">
    <div class="header">
      <div class="stripes-and-name">
        <a ui-sref="home">
          <div class="stripes">
            <div class="stripe"></div>
            <div class="stripe"></div>
            <div class="stripe"></div>
          </div>
        </a>
        <div class="name-container truncate">THERMAL PERFORMANCE DIAGNOSTIC</div>
      </div>
    </div>

    <div class="content text-center" ng-if="!experiment">
      Loading ... <img src="/images/loading.gif">
    </div>

    <div class="content" ng-if="experiment && experiment.started_at && !experiment.completed_at">
      <div class="text-center">
        <h2>Diagnostic in Progress</h2>
        <p>Please do not touch or open device.</p>
        <h1 ng-if="status === 'Idle'">Idle</h1>
        <h1 ng-if="status === 'LidHeating'">Heating Lid</h1>
        <h1 ng-if="status === 'Heating'">Heating</h1>
        <h1 ng-if="status === 'Holding'">Holding</h1>
        <h1 ng-if="status === 'Cooling'">Cooling</h1>
        <p>Time Elapsed: {{elapsedTime/1000 | secondsDisplay: 'display2'}}</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-2">
          <rainbow-line-chart data="lidTemps" width="200" height="100"></rainbow-line-chart>
          <p class="text-center temp-label">
            <b>LID TEMP.</b> {{10 | degreeCelcius}}
          </p>
        </div>
        <div class="col-md-3 col-md-offset-3">
          <rainbow-line-chart data="blockTemps" width="200" height="100"></rainbow-line-chart>
          <p class="text-center temp-label">
            <b>BLOCK TEMP.</b> {{10 | degreeCelcius}}
          </p>
        </div>
      </div>
      <div class="text-center">
        <button ng-click="stopExperiment()">
          CANCEL
        </button>
      </div>
    </div>

    <div class="content" ng-if="experiment && experiment.completed_at">
      <div class="text-center">
        <h2>Diagnostic Complete</h2>
        <p>{{experiment.started_at | date: 'MMM. d, yyyy hh:mm:ssa'}}</p>
      </div>
      <div class="info-container">
        <div class="row">
          <div class="col-md-4">
            <div class="title">
              <b>HEATING</b> {{50|degreeCelcius}}-{{90|degreeCelcius}}
            </div>
            <div class="info">
              <div class="info-text">
                Avg. Ramp Rate: <b>10&deg;</b>C/s
                <img src="/images/diagnostic-wizard-x-button.png" alt="">
              </div>
              <div class="block-text">
                Below acceptable rate of {{30|degreeCelcius}}/s
              </div>
            </div>
            <div class="info">
              <div class="info-text">
                Total Time: <b>90:01</b>s
                <img src="/images/diagnostic-wizard-check-button.png" alt="">
              </div>
              <div class="block-text"></div>
            </div>
            <div class="info">
              <div class="info-text">
                Total Time: <b>90:01</b>s
                <img src="/images/diagnostic-wizard-check-button.png" alt="">
              </div>
              <div class="block-text"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="title">
              <b>HEATING</b> {{50|degreeCelcius}}-{{90|degreeCelcius}}
            </div>
            <div class="info">
              <div class="info-text">
                Avg. Ramp Rate: <b>10&deg;</b>C/s
                <img src="/images/diagnostic-wizard-x-button.png" alt="">
              </div>
              <div class="block-text">
                Below acceptable rate of {{30|degreeCelcius}}/s
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="title">
              <b>HEATING</b> {{50|degreeCelcius}}-{{90|degreeCelcius}}
            </div>
            <div class="info">
              <div class="info-text">
                Avg. Ramp Rate: <b>10&deg;</b>C/s
                <img src="/images/diagnostic-wizard-x-button.png" alt="">
              </div>
              <div class="block-text">
                Below acceptable rate of {{30|degreeCelcius}}/s
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button>CLOSE</button>
      </div>
    </div>

  </div>
</div>