<div class="page-layout" ng-controller="DiagnosticInitCtrl">
  <div class="header">
    <div class="stripes-and-name">
      <a href="/">
        <div class="stripes">
          <div class="stripe"></div>
          <div class="stripe"></div>
          <div class="stripe"></div>
        </div>
      </a>
      <div class="name-container truncate">THERMAL PERFORMANCE DIAGNOSTIC</div>
    </div>
  </div>

  <div class="content text-center">

    <div class="intro-text-container">
      <h2>Thermal Performance Diagnostic</h2>

      <img src="./images/machine.png">

      <p>
        This diagnostic will test the heating and cooling performance of your Open qPCR's heat block, as well as its lid heater.
      </p>

      <p>
        Before continuing, remove all tubes from your Open qPCR, and ensure the lid is closed.egrgergree
      </p>
      <a href="/" class="button">CANCEL</a>
      <button ng-disabled="error" ng-class="{errorButton: error}"  ng-click="proceed()">BEGIN</button>
    </div>

  </div>

</div>

<!--
  <div ng-controller="DiagnosticInitCtrl">

    <div class="intro-text-container text-center">

      <img src="/images/logo-qpcr.png">

      <h1>Thermal Performance Diagnostic</h1>

      <p>
        This diagnostic will test the heating and cooling performance of your Open qPCR's heat block, as well as its lid heater. Before continuing, remove all tubes from your Open qPCR, and ensure the lid is closed.
      </p>

      <button class="button green" ng-click="proceed()">CONTINUE</button>
      <a href="/" class="button">CANCEL</a>

    </div>

  </div> -->
