<div ng-controller="DiagnosticInitCtrl">
  <wizard-header experiment-id="experiment.id" on-cancel="stopExperiment()" cancelText="cancel diagnostic">
    THERMAL PERFORMANCE DIAGNOSTIC
  </wizard-header>

  <div class="content text-center">
    <div class="intro-text-container">
      <h2>Thermal Performance Diagnostic</h2>
      <img src="./images/machine.png">
      <p>
        This diagnostic will test the heating and cooling performance of your Open qPCR's heat block, as well as its lid heater.
      </p>
      <p>
        Before continuing, remove all tubes from your Open qPCR, and ensure the lid is closed.
      </p>
      <button ng-disabled="error" ng-class="{errorButton: error}" ng-click="proceed()">BEGIN</button>
      <span ng-if="error" ng-class="{errorMessage: error}">{{lidMessage}}</span>
    </div>
  </div>
</div>
