[Unit]
Description=QPCR Realtime app

[Service]
WorkingDirectory=/root/tmp/
ExecStart=/usr/bin/nice -n -10 /root/tmp/realtime -flog /var/log/realtime.log
SyslogIdentifier=QPCRRealtime
Restart=on-failure
StartLimitBurst=0
StartLimitInterval=0
Type=idle

[Install]
WantedBy=multi-user.target
