@import './colors.css.scss';

  .choose-chart {

    margin-top: 5px;
    margin-bottom: 10px;

    .choose-chart-heading {
      border-bottom: 2px solid black;
    }
    .chart-type-option {
      cursor: pointer;
      font-weight: bold;
      margin-top: 10px;
    }
    .number {
      text-align: center;
      vertical-align: middle;
      padding: 5px;
      color: gray;
    }
    .circle {
      $size: 70px;
      $padding_top: 15px;
      $border_width: 3px;
      border-width: $border_width;
      //border-radius: 100px;
      //border-style: solid;
      //cursor: pointer;
      font-size: 10px;
      line-height: 1.5;
      margin: 5px;
      padding-top: $padding_top;
      height: $size;
      width: $size;
      opacity: 0.5;

      &.selected {
        border-width: $border_width + 2px;
        padding-top: $padding_top - 2px;
        opacity: 1;
        color: #000;
      }

      .ct {
        position: relative;

        .dot {
          $size: 5px;
          display: inline-block;
          border-radius: 90px;
          width: $size;
          height: $size;
        }

        &.ct-1 {
          .dot {
            background-color: $lightgray;
          }
        }

        &.ct-2 {
          .dot {
            background-color: gray;
          }
        }

        .text {
          display: inline-block;
          vertical-align: middle;
        }

      }

      &.single-channel {
        .ct {
          margin-top: 8px;
        }
      }
    }

  }
  .selectable-container {
    width: 100%;
    height: 170px;

    #selectableol .ui-selecting {
      background: #FECA40;
    }
    #selectableol .ui-selected {
      //background: #F39814;
      //color: white;
      //border: 1px solid black;
    }
    #selectableol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;;
    }
    #selectableol li {
      margin: 3px;
      padding: 1px;
      float: left;
      width: 100px;
      height: 80px;
      font-size: 4em;
      text-align: center;
    }
    hr {
      border-top: 3px solid #eee;
    }
  }
