@import './colors.css.scss';

  .choose-chart {

    margin-top: 5px;
    margin-bottom: 10px;
    width: 740px;

    .choose-chart-heading {
      border-bottom: 2px solid black;
    }
    .chart-type-option {
      cursor: pointer;
      font-weight: bold;
      margin-top: 10px;
    }
    .number {
      text-align: center;
      vertical-align: middle;
      padding: 5px;
      color: gray;
    }
    .circle {
      $size: 90px;
      $padding_top: 15px;
      $border_width: 3px;
      border-width: $border_width;
      //border-radius: 100px;
      //border-style: solid;
      //cursor: pointer;
      font-size: 10px;
      line-height: 1.5;
      //margin: 5px;
      padding-top: $padding_top;
      height: 80px;
      width: $size;
      opacity: 0.5;
			//border: 1px solid grey;

      &.selected {
        //border-width: $border_width + 2px;
        //padding-top: $padding_top - 2px;
        opacity: 1;
        color: #000;
				//border: 1px solid;
      }

      .ct {
        position: relative;

        .dot {
          $size: 5px;
          display: inline-block;
          border-radius: 90px;
          width: $size;
          height: $size;
        }

        &.ct-1 {
          .dot {
            //background-color: $lightgray;
						background-color: rgb(4, 160, 217);
          }
        }

        &.ct-2 {
          .dot {
            //background-color: gray;
						background-color: rgb(103, 188, 66);
          }
        }

        .text {
          display: inline-block;
          vertical-align: middle;
          color: black;
        }

      }

      &.single-channel {
        .ct {
          margin-top: 8px;
        }
      }
    }

  }
  .selectable-container {
    width: 100%;
    height: 170px;


    #selectableol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;;
    }
    #selectableol li {
      margin: 0px;
      //padding: 1px;
      float: left;
      width: 90px;
      //height: 80px;
      font-size: 4em;
      text-align: center;
    }
    hr {
      border-top: 3px solid #eee;
    }
  }


  #selectableol .ui-selecting { background: #FECA40; }

  #selectableol .ui-selected { color: white; border: solid 1px #000}
  #selectableol .ui-selecting {  border: solid 1px #000}

  #selectable { list-style-type: none; margin: 0; padding: 0; width: 850px; }

  #selectableol li {
    padding: 1px;
    float: left;
    //width: 100px;
    //height: 80px;
    //font-size: 4em;
    //text-align: center;
    //position: relative;
    border: 1px solid #c5c5c5
  }

  .borderRight {
    border-right-color: #c5c5c5 !important;
  }

  .borderLeft {
    border-left-color: #c5c5c5 !important;
  }

  .borderBottom {
    border-bottom-color: #c5c5c5 !important;
  }

  .borderTop {
    border-top-color: #c5c5c5 !important;
  }
