@import './colors.css.scss';

.amplification-well-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  table {
    border-top: 2px solid #ccc;
  }

  th, td {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  .col-header {
    font-family: 'dinot-regular';
    font-size: 12px;
    text-align: center;

    &.dragged {
      background: #7DC2E6;
    }
  }
  .row-header {
    text-align: center;
    &.dragged {
      background: #7DC2E6;
    }
  }
  .well-switch {
    height: 60px;
    vertical-align: top;

    &.selected {
      background-color: #e4f4fa;
    }

    .well-switch-bar-container {
      background-color: #fff;
      padding: 5px 10px;
    }

    .well-switch-bar {
      height: 5px;
    }
    .ct-cq-container {
      border-top: 1px solid #ccc;
      padding: 0px 20px;
    }

  }
}
