@import '../colors.css.scss';

$background: #555;
$holder_size: 15px;

.ampli-slider {
  display: inline-block;
  height: 3px;
  width: 100%;
  background: $lightgray;
  border-radius: 10px;

  .slider-holder-offset {
    border-radius: 10px;
    position: relative;
    display: inline-block;
    height: 3px;
    background: $background;
    // width: 100%;
    max-width: 100%;
    min-width: 0;
    top: -13.5px;
  }
  .slider-holder {
    background: $green;
    border-radius: 100px;
    border: 4px solid #fff;
    box-shadow: 0px 1px 3px #555;
    cursor: pointer;
    display: inline-block;
    height: $holder_size;
    margin-left: -$holder_size/2;
    margin-right: -$holder_size/2;
    position: relative;
    width: $holder_size;
    top: -7px;
  }
}