@import './colors.css.scss';

.amplification-well-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  table {
    border-top: 2px solid #ccc;
  }

  th, td {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  .col-header {
    font-family: 'dinot-regular';
    font-size: 12px;
    text-align: center;
  }
  .row-header {
    text-align: center;
  }
  .well-switch {
    height: 60px;
    vertical-align: top;

    .well-switch-bar {
      margin: 5px 10px;
      height: 5px;
    }
    .ct-cq-container {
      border-top: 1px solid #eee;
    }
    .ct-cq-container {
      padding: 0px 20px;
    }
  }
}
