@import './colors.css.scss';

.chart-well-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  table {    
    border-right: 1px solid #c5c5c5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    background: #fff;
  }

  th, td{
    border-left: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
  }

  tr:last-child td{
    border-bottom: 1px solid #c5c5c5;
  }

  .col-header {
    text-align: center;

    &.dragged {
      background: #7DC2E6;
    }
  }

  .row-header {
    text-align: center;
    &.dragged {
      background: #7DC2E6;
    }
  }

  .well-switch {
    min-height: 60px;
    vertical-align: top;
    position: relative;

    &.selected {
      background-color: #F1F7F9;
      .ct-cq-container {
        // background-color: white;
      }
    }

    &.selected.active {
      .well-switch-container {
        // margin: -5px;
        height: calc(100% + 10px) !important;
        //height: calc(100% + 13px) !important ;
        // height: fit-content !important ;
        border: 2px solid #000;
        z-index: 999999;
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;        
        box-shadow: 0px 2px 3px rgba(0, 0, 0, .25);
        font-weight: bold;
      }
      .ct-cq-container {
        height: 58px;
        padding: 4px 20px;
      }

    }

    .well-switch-bar-container {
      background-color: #fff;
      padding: 5px;
    }

    .well-switch-bar {
      height: 5px;
      .well-target{
        width: 50%;
        height: 100%;
        display: block;        
        float: left;         
      }
      .well-hr-bar{
        position: absolute;
        height: 15px;
        width: 6px;
        background: #fff;
        left: calc(50% - 3px);
        top: 0;
        transform: rotate(30deg);
      }
    }
    
    .ct-cq-container {
      border-top: 1px solid #c5c5c5;
      padding: 2px 18px;

      min-height: 45px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 20px)
    }
  }
}
