@import './colors.css.scss';

.chart-well-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  table {
    border-top: 2px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
  }

  th, td {
    border-left: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
  }

  .col-header {
    font-family: 'dinot-regular';
    font-size: 12px;
    text-align: center;

    &.dragged {
      background: #7DC2E6;
    }
  }

  .row-header {
    text-align: center;
    &.dragged {
      background: #7DC2E6;
    }
  }

  .well-switch {
    min-height: 60px;
    vertical-align: top;

    &.selected {
      .ct-cq-container {
        //background-color: #e4f4fa;
        background-color: white;
      }
    }

    &.selected.active {
      position: relative;

      .well-switch-container {
        margin: -4px;
        height: 78px;
        border: 2px solid #000;
        z-index: 999999;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 5px #000;
      }
      .ct-cq-container {
        height: 49px;
        padding: 4px 22px;
      }

    }

    .well-switch-bar-container {
      background-color: #fff;
      padding: 5px 10px;
    }

    .well-switch-bar {
      height: 5px;
    }
    
    .ct-cq-container {
      border-top: 1px solid #c5c5c5;
      padding: 2px 20px;
      min-height: 45px;
    }

  }
}
