// if we have 4 charts or 2 rows
// .modal-4-charts {
//   .modal-dialog {
//     width: 565px !important;
//   }
//   .modal-content {
//     width: 565px;
//     height: 435px;
//   }
// }

// if there is 3 charts
.modal-3-row {
  .modal-dialog {
    width: 825px !important;
  }
  .modal-content {
    width: 825px;
    height: 240px;
  }
}

// if there is 2 charts.
.modal-2-row {
  .modal-dialog {
    width: 565px !important;
  }
  .modal-content {
    width: 565px;
    height: 240px;
  }
}

// if there is 2 charts.
.modal-1-row {
  .modal-dialog {
    width: 340px !important;
  }
  .modal-content {
    width: 340px;
    height: 240px;

    .chart-box {
      margin-left: 20px !important;
    }
  }
}

.chart-content {
  margin: 20px 30px 0px 30px;
  .chart-header-section {
    height: 38px;
    width: 100%;
    border-bottom: solid 2px black;
    .chart-caption {
      font-family: "dinot-bold";
      font-size: 24px;
      width: 60%;
      float: left;
    }
    .close-container {
      float: right;
      width: 20px;
      height: 20px;
      .close-modal {
        color: grey;
        font-size: 24px;
      }
      .close-modal:hover {
        cursor: pointer;
        color: red;
        background-color: white;
        text-decoration: none;
      }
    }
  }
}

.charts-container {
  width: 100%;
  height: 90%;
  padding-top: 20px;
  .chart-box {
    width: 240px;
    height: 175px;
    float: left;
    margin-left: 20px;

    &:first-of-type {
      margin-left: 0px;
    }

    .chart-image-container {
      width: 240px;
      height: 115px;
      background-color: #f2fafd;
      float: left;
      text-align: center;
      cursor: pointer;
      .img-placeholder {
        width: 184px;
        height: 98px;
        display: inline-block;
        &.ampli {
          background-image: url("/images/amplification-curve.png");
        }
        &.melt-curve {
          background-image: url("/images/melt-curve.png");
        }
        &.thermal-profile {
          background-image: url("/images/thermal-profile.png");
        }
        &.standard-curve {
          background-image: url("/images/standard-curve.png");
        }
      }
    }
    .chart-name-container {
      font-family: "dinot-regular";
      height: 30px;
      margin-top: 10px;
      float: left;
      font-size: 16px;
    }
    .chart-current-container {
      width: 100%;
      height: 17px;
      .chart-current {
        width: 100%;
        height: 17px;
        text-align: center;
        background-color: #ceecf7;
        font-size: 10px;
        font-family: "dinot-bold";
      }
    }
    &:hover {
      .chart-image-container {
        background-color: #fff;
        .img-placeholder {
          &.ampli {
            background-image: url("/images/amplification-curve-hover.png");
          }
          &.melt-curve {
            background-image: url("/images/melt-curve-hover.png");
          }
          &.thermal-profile {
            background-image: url("/images/thermal-profile-hover.png");
          }
          &.standard-curve {
            background-image: url("/images/standard-curve-hover.png");
          }
        }
      }
    }
  }
  // .second {
  //   margin-left: 20px;
  // }
}
