@import "./colors.css.scss";

$sidemenu_width: 352px;
.menu-overlay-layout {
  width: 100%;
  -webkit-transition: margin 0.3s; /* Safari */
  transition: margin 0.3s;

  .side-menu-header-container {
    width: 100%;
    height: 50px;
    background-color: #000;

    .common {
      color: white;
    }

    .text-container {
      @extend .common;
      width: 75%;
      height: 100%;
      float: left;
      padding-left: 30px;
      padding-top: 13px;
      cursor: alias;
    }
    .close-container {
      @extend .common;
      width: 25%;
      height: 100%;
      float: left;
      padding-top: 13px;
      text-align: center;

      .close-side-menu {
        cursor: pointer;
        @extend .common;
      }

    }
  }

  .side-menu-content-container {
    width: 100%;
    height: 718px;
    padding-left: 35px;
    padding-right: 50px;

    .side-menu-name-container {
      height: 156px;
      border-bottom: 2px black solid;
      .side-menu-exp-name {
        height: 80%;
        //font-size: 30px;
        .exp-name-container {
          height: 60px;
          padding-top: 15px;
          span {
            font-size: 24px;
            cursor: auto;
          }
          input {
            font-size: 24px;
            background: transparent;
            margin-top: 0px;
            padding: 0px;
            width: 100%;
            border: none;
            outline: none;
          }
        }
        .message-container {
          .help-block {
            .text-success {
              color: #07CE0A;
            }
          }
        }

      }
      .side-menu-exp-status {
        height: 20%;
        color: #999;
      }
    }

    .side-menu-menu-container {
      padding-top: 20px;
      .success {
        height: 30px;
        background-color: #8dc63f;
        color: white;
        width: 110px;
        border: none;
        position: absolute;
        top: 0px;
        left: 157px;
        &.ng-hide {
          opacity: 0;
          transition: opacity .1s;
        }
      }

      .run-exp {
        position: relative;
      }
      .side-menu-menu-item {
        width: 100%;
        height: 30px;
        cursor: pointer;
        .sidemenu-show-text {
          float: right;
          color: #00AEEF;
          font-size: 12px;
          margin-top: 4px;
          display: block;
          width: 34px;
        }
        &:hover {
          color: #00AEEF;
        }
        div {
          padding-top: 4px;
        }
        .lid-open {
          color: #999;
        }
        .lid-open-message {
          color: #999;
        }
      }
      @keyframes my_hide {
        from{height: 100}
        to{ height: 0px;}
      }
      .sidemenu-property-container {
        width: 100%;
        height: 100px;
        &.ng-hide {
          height: 0px;
          opacity: 0;
          transition: height .5s, opacity .3s;
        }
        &.ng-show {
          height: 120px;
          opacity: 1;
          transition: height .5s, opacity 2s;
        }
      }

      /*ul {
        display: block;

        li {
          padding: 0;
          //height: 30px;
          //padding-top: 10px;
          //cursor: pointer;
          a {
            text-decoration: none;
            display: block;
            padding: 10px 0px 10px 0px;
            cursor: pointer;
            color: black;
            &:hover {
              background-color: white;
              color: #00AEEF;
            }
            .success {
              height: 30px;
              background-color: #8dc63f;
              color: white;
              width: 110px;
              border: none;
            }
          }

        }
      }*/
    }
    .side-menu-button-container {
      width: 100%;
      height: 31px;
      //background-color: green;
      margin-top: 30px;
      .second-button {
        margin-left: -5px;
      }
      .side-menu-button {
        width: 131px;
        height: 30px;
        background-color: white;
        border: 1px solid black;
        outline: none;
      }
    }
  }

  .page-wrapper {
    margin-right: 0;
    -webkit-transition: margin 0.3s; /* Safari */
    transition: margin 0.3s;
    position: fixed;
    height: 100%;

  }

  &.sidemenu-open-remove {
    float: left;
    height: auto;
    overflow: hidden;

    .page-wrapper {
      margin-right: -($sidemenu_width * 3);
      position: relative;
    }
  }

  &.sidemenu-open {
    float: left;
    height: auto;
    overflow: hidden;

    .page-wrapper {
      margin-right: -($sidemenu_width * 3);
      position: relative;
    }
  }

  .sidemenu {
    background-color: white;
    float: left;
    min-height: 768px;
    position: relative;
    width: $sidemenu_width;
    overflow: hidden;
    // margin-right: 0;

    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;

    &.ng-hide {
      width: 0;
      // margin-right: -($sidemenu_width);
    }

    #sidemenu-content {
      height: 100%;
      width: $sidemenu_width;
    }

    .menu-overlay-menu {
      .long-tail-container {
        height: 40px;
        width: 350px;

        .long-tail {
          width: 6px;
          height: 40px;
          background-color: white;
          margin-left: 70px;
        }
      }
    }
    .menu-overlay-menu-item {
      height: 60px;
      width: 100%;
      padding-left: 40px;

      .tail-container {
        height: 25px;
        width: 350px;
        .tail {
          width: 6px;
          height: 22px;
          background-color: white;
          margin-left: 30px;
        }
      }
      .ball {
        border: 7px solid #fff;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        margin-left: 17px;
        float: left;
      }
      .menu-text {
        float: left;
        margin-top: -2px;
        margin-left: 14px;
        cursor: pointer;
        width: 340px;
        * {
          color: #fff;
        }
      }

      .arrow-right {
        display: none;
        margin-top: 7px;
        width: 20px;
        height: 20px;
        background-image: url("/images/submenu-arrow-right.png");
        background-size: 70% 100%;
        background-repeat: no-repeat;
        float: right;
      }

      &.special {
        height: 110px;

        .tail-container {
          height: 43px;
          width: 350px;
          .tail {
            width: 6px;
            height: 40px;
            background-color: white;
            margin-left: 30px;
          }
        }
        .ball {
          border: 10px solid #fff;
          border-radius: 100%;
          float: left;
          height: 60px;
          margin-left: 3px;
          margin-top: 1px;
          width: 60px;
        }
        .menu-text{
          float: left;
          color: white;
          margin-top: 8px;
          margin-left: 14px;
          cursor: pointer;
          font-size: 40px;
          width: 300px;
        }
      }

      &.active {
        .ball {
          border-color: $blue;
        }
        .arrow-right {
          display: inline-block;
        }
      }
    }
    .home-link {
      position: absolute;
      top: 15px;
      left: 20px;
    }

    .menu-overlay-all-options {
      margin-top: 52px;
      padding: 0 50px;

      .title {
        border-bottom: solid 1px #fff;
        color: #fff;
        font-size: 14px;
        text-align: center;
      }
      .exp-option {
        color: #106aa9;
        cursor: pointer;
        font-weight: bold;
        margin-top: 16px;
        text-align: center;
      }
    }
  }
  .outer-menu {
    float: left;
    min-height: 768px;
    width: $sidemenu_width;
    overflow: hidden;

    -webkit-transition: width 0.3s; /* Safari */
    transition: width 0.3s;

    &.ng-hide {
      width: 0;
    }

    #submenu {
      width: $sidemenu_width;
    }
  }
  .page-wrapper {
    top: 0;
    left: 0;
    float: left;
    min-height: 500px;
    width: 100%;
    white-space: normal;

    .page-container {
      top: 0;
      left: 0;
      height:100%;
    }

    .content-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 99;
      opacity: 0.3;

      -webkit-transition: opacity 0.3s; /* Safari */
      transition: opacity 0.3s;

      &.ng-hide {
        opacity: 0;
      }
    }
  }
}
