@import '../colors.css.scss';

.status-bar {
  position: relative;
  background: $gray;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: bold;
  min-height: 34px;
  margin-top: 20px;
  text-transform: uppercase;

  * {
    display: inline-block;
  }

  .normal {
    font-weight: normal;
  }

  .experiment-result {
    display: inline-block;
    padding: 10px 20px;

    &.success {
      background: $green;
    }
    &.failed {
      background: red;
    }
  }

  .completion-message {
    padding-left: 10px;
  }

  .running-info {
    margin-left: 20px;
    padding: 10px 0;

    .time-remaining, .temp-info {
      padding-left: 10px;
    }
  }

  .controls-container {
    float: right;
    padding: 10px;
    padding-right: 20px;
    text-align: right;
    margin-right: -5px;
  }

  .control {
    cursor: pointer;
    padding: 0 5px;

    &.disabled {
      color: $lightgray;
    }

    img {
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-top: -3px;
    }
  }

}