@import '../colors.css.scss';

.status-bar {
  background: $gray;
  color: #fff;
  height: 40px;

  .experiment-name {
    cursor: pointer;
    border-bottom: 2px solid #fff;
  }

  * {
    display: inline-block;
  }

  .normal {
    font-weight: normal;
  }

  .experiment-result {
    display: inline-block;
    padding: 10px 20px;

    &.success {
      background: $green;
    }
    &.failed {
      background: red;
    }
  }

  .completion-message {
    padding-left: 10px;
  }

  .running-info, .idle-state {
    margin-left: 20px;
    padding: 8px 0;

    .machine-state, .time-remaining, .temp-info {
      padding-left: 12px;
    }

    .holding {
      border-bottom: 1px solid $green;
    }
  }

  .controls-container {
    float: right;
    text-align: right;
    // margin-right: -5px;
  }

  .control {
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;

    &.disabled {
      color: $lightgray;
    }

    &.stop-confirm {
      background-color: $red;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
    }

    img {
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-top: -3px;
      margin-right: 7px;
    }
  }

}
