table.rz-table {
  table-layout: fixed;
  border-collapse: collapse;
  th {
    position: relative;
    min-width: 25px;
    .rz-handle {
      width: 15px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -5px;
      cursor: ew-resize !important;
      &:after{
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        content: "\e900";
        font-size: 14px;
        position: absolute;
        top: 30%;
        right: 0;        
        color: #333;
      }
      &.rz-handle-active {
        &:after{
          color: #32CCFF;
        }
      }
    }
  }
}
